
<div class="mt-5 bottom-30">
  <div class="card" widget="">
    <div class="card-header" style="background-color: #344154; color: white;"><span>Projects</span>
    </div>
    <div class="card-body widget-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th translate>Name</th>
          <th translate>Description</th>
          <th translate>Priority</th>
          <th>Tools</th>
        </tr>
        </thead>
        <tbody *ngIf="projects.length > 0">
        <tr *ngFor="let project of projects ; let i = index" (click)="viewProject(project)">
          <td>{{project.name}}</td>
          <td>{{project.description}}</td>
          <td>{{project.priority}}</td>
          <td>
            <a class="tools" (click)="updateProject(project)"><i class="fa fa-edit"></i></a>
            <a class="tools ml-3" (click)="viewProject(project)"> <i class="fa fa-eye"></i></a>
            <a class="tools ml-3" > <i class="fa fa-trash"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
