<div class="advantage-content" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
     (mousewheel)="mouseWheel($event)">
    <div class="carousel-inner">

        <owl-carousel-o [options]="customOptionsAd" class="m-0 p-0" #adSlider>

            <ng-container>
                <ng-template class="card-section" carouselSlide>
                    <div class="card-body-text">

                        <p class="slide-number">01</p>
                        <h5 class="slider-card-title">Best Practices & Security You Can Count On</h5>
                        <p class="slider-card-text">
                            WEBI leverages over 150 years of collective coding experience and technical ingenuity
                            <br><br>
                            Our project management approach utilizes the Agile Methodology, a best practice to ensure
                            effective and timely delivery on the customer’s requirements
                            <br><br>
                            Technical team members include custom web/web app developers, mobile app developers and
                            systems
                            integration specialists
                        </p>
                    </div>
                </ng-template>
                <ng-template class="card-section" carouselSlide>
                    <div class="card-body-text">

                        <p class="slide-number">02</p>
                        <h5 class="slider-card-title">Best Practices & Security You Can Count On</h5>
                        <p class="slider-card-text">
                            WEBI leverages over 150 years of collective coding experience and technical ingenuity
                            <br><br>
                            Our project management approach utilizes the Agile Methodology, a best practice to ensure
                            effective and timely delivery on the customer’s requirements
                            <br><br>
                            Technical team members include custom web/web app developers, mobile app developers and
                            systems
                            integration specialists
                        </p>
                    </div>
                </ng-template>
                <ng-template class="card-section" carouselSlide>
                    <div class="card-body-text">

                        <p class="slide-number">03</p>
                        <h5 class="slider-card-title">Best Practices & Security You Can Count On</h5>
                        <p class="slider-card-text">
                            WEBI leverages over 150 years of collective coding experience and technical ingenuity
                            <br><br>
                            Our project management approach utilizes the Agile Methodology, a best practice to ensure
                            effective and timely delivery on the customer’s requirements
                            <br><br>
                            Technical team members include custom web/web app developers, mobile app developers and
                            systems
                            integration specialists
                        </p>
                    </div>
                </ng-template>

                <ng-template class="card-section" carouselSlide>
                    <div class="card-body-text">

                        <p class="slide-number">04</p>
                        <h5 class="slider-card-title">Best Practices & Security You Can Count On</h5>
                        <p class="slider-card-text">
                            WEBI leverages over 150 years of collective coding experience and technical ingenuity
                            <br><br>
                            Our project management approach utilizes the Agile Methodology, a best practice to ensure
                            effective and timely delivery on the customer’s requirements
                            <br><br>
                            Technical team members include custom web/web app developers, mobile app developers and
                            systems
                            integration specialists
                        </p>
                    </div>
                </ng-template>
                <ng-template class="card-section" carouselSlide>
                    <div class="card-body-text">

                        <p class="slide-number">05</p>
                        <h5 class="slider-card-title">Best Practices & Security You Can Count On</h5>
                        <p class="slider-card-text">
                            WEBI leverages over 150 years of collective coding experience and technical ingenuity
                            <br><br>
                            Our project management approach utilizes the Agile Methodology, a best practice to ensure
                            effective and timely delivery on the customer’s requirements
                            <br><br>
                            Technical team members include custom web/web app developers, mobile app developers and
                            systems
                            integration specialists
                        </p>
                    </div>
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>

</div>
