.slide-number {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.22;
    color: #ffffff;
    pointer-events: none;
}

.slider-card-title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
    padding-bottom: 30px;
    pointer-events: none;
}

.slider-card-text {
    //font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    color: #ffffff;
    pointer-events: none;
}
.carousel-inner{
    //top: 100%;
    //transform: translateY(-100%);
}

@media (min-width: 720px) {
    .advantage {
        height: 100vh;
    }
}
@media (max-width: 720px) {
    .advantage {
        height: auto;
    }
}
