<!--appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)"-->
<ng-container *ngIf="!done">
    <div class="loading">
        <div class="loading-background"></div>
        <div class="loading-animation">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
</ng-container>

<div>
    <div class="top-menu-wrapper">
        <app-top-menu></app-top-menu>
    </div>
    <div class="side-bar-wrapper d-none d-md-block">
        <app-sidebar [currentSection]='currentSection'></app-sidebar>
    </div>
</div>
<div id="parentDiv" #scrollDiv>

    <div id="section1" class="col-12 p-0">
        <app-introduction></app-introduction>
    </div>

    <div id="section2" class="col-12 p-0">
        <app-services></app-services>
    </div>

    <div id="section3" class="col-12 p-0">
        <app-advantage></app-advantage>
    </div>

    <div id="section4" class="col-12 p-0">
        <app-portfolio></app-portfolio>
    </div>

    <div id="section5" class="col-12 p-0">
        <app-team></app-team>
    </div>

    <!--        <div id="section2">-->
    <!--            <app-slider></app-slider>-->
    <!--        </div>-->
    <!--        <div id="section3" [style.height]="'100vh'">-->
    <!--            <app-process></app-process>-->
    <!--        </div>-->
    <!--        <div id="section4">-->
    <!--            <app-portfolio></app-portfolio>-->
    <!--        </div>-->
    <!--        <div id="section5" [style.height]="'100vh'">-->
    <!--            <app-technology></app-technology>-->
    <!--        </div>-->
    <!--        <div id="section6">-->
    <!--            <app-suggest></app-suggest>-->
    <!--        </div>-->
    <!--        <div id="section7">-->
    <!--            <app-team></app-team>-->
    <!--        </div>-->
    <div id="section8">
        <app-faq></app-faq>
        <app-footer></app-footer>
    </div>

</div>

