#parentDiv {
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    background: #3945ae;
    height: auto;
    transition: 1s all;
    //overflow-y: auto;
    //margin-top: 100px;
    //height: calc(100vh - 100px);
    /*overflow-x: hidden;*/
}

// // // Spinner // // //

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 99999;

    .loading-background {
        position: relative;
        width: 100vw;
        height: 100vh;
        text-align: center;
        z-index: 99999;
        background-color: black;
        opacity: 0.7;
    }

    .loading-animation {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 999999;
        color: #fff;

        .spinner {
            background-color: transparent;
            animation: rotate 2s linear infinite;
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -25px 0 0 -25px;
            width: 50px;
            height: 50px;

            & .path {
                stroke: hsl(210, 70, 75);
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
            }

        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes dash {
            0% {
                stroke-dasharray: 1, 150;
                stroke-dashoffset: 0;
            }
            50% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -35;
            }
            100% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -124;
            }
        }
    }

}

