<app-top-menu *ngIf="done"></app-top-menu>
<app-sidebar *ngIf="done" [disable]='true'></app-sidebar>
<div *ngIf="done" class="introduce" [ngClass]="{'scrolled': scrolled}" (keydown)="start()">
    <div class="introduce-dark background-dark" [style.background-image]="'url('+imageUrl+')'"
         [style.height]="deleteHeight"></div>
    <div class="my-container portfolio-heading"
         [ngClass]="{'background-title-dark': !changeColor, 'background-title-light': changeColor}"
         [style.left]="titleLeft" [style.top]="titleTop">
        <div class="row">
            <div class="col-12">
                <div class="heading section-title">
                    <h2 [style.transition]="'1s all'">
                        <!--                        Our Services-->
                        {{currentPortfolio.title.en}}
                    </h2>
                </div>
            </div>
            <div class="col-12">
                <div class="title sub-title">
                    <p [style.transition]="'1s all'">
                        {{currentPortfolio.hover.en}}
                        <!--                        We collaborate with clients to develop solutions that are beautiful and cost effective.-->
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-container portfolio-content background-light" *ngFor="let content of currentPortfolio.details">

        <div *ngIf="content.type === 'cover' " class="row height-66">
            <div class="col-12 h-100 portfolio-img ">
                <img src="{{content.imgURL}}" alt="">
            </div>
        </div>

        <div *ngIf="content.type === 'text' " class="row">
            <div class="col-12 col-md-6 h-100 portfolio-text">
                <p class="description"> {{content.enText1}} </p>
            </div>
            <div class="col-12 col-md-6 h-100 portfolio-text">
                <p class="description"> {{content.enText2}} </p>
            </div>
        </div>

        <div *ngIf="content.type === 'imageWithImage' " class="row">
            <div class="col-12 col-md-6 height-66-55 portfolio-img">
                <img src="{{content.imgURL1}}" alt="">
            </div>
            <div class="col-12 col-md-6 height-66-55 portfolio-img">
                <img src="{{content.imgURL2}}" alt="">
            </div>
        </div>

        <div *ngIf="content.type === 'imageWithText' " class="row">
            <div class="col-4 portfolio-text">
                <h2 class="sub-title">{{content.enTitle}}</h2>
                <p class="description"> {{content.enText}} </p>
            </div>
            <div class="col-8 portfolio-img height-50">
                <img src="{{content.imgURL}}" alt="">
            </div>
        </div>

        <!--        <div class="row">-->
        <!--            <div class="col-12 navigation">-->
        <!--                <ul>-->
        <!--                    <li>Our works !</li>-->
        <!--                    <li>Our works !</li>-->
        <!--                    <li>Our works !</li>-->
        <!--                    <li>Our works !</li>-->
        <!--                    <li>Our works !</li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="row height-66">-->
        <!--            <div class="col-12 h-100 portfolio-img ">-->
        <!--                <img src="../../../../../assets/images/test/photo-1.png" alt="">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="row height-33">-->
        <!--            <div class="col-6 h-100 portfolio-text">-->
        <!--                <p>-->
        <!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque aut commodi deserunt-->
        <!--                    eaque expedita illo laudantium, maxime nam necessitatibus neque nihil quidem quo recusandae-->
        <!--                    sint tempore totam. Et, suscipit.-->
        <!--                </p>-->
        <!--            </div>-->
        <!--            <div class="col-6 h-100 portfolio-text">-->
        <!--                <p>-->
        <!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque aut commodi deserunt-->
        <!--                    eaque expedita illo laudantium, maxime nam necessitatibus neque nihil quidem quo recusandae-->
        <!--                    sint tempore totam. Et, suscipit.-->
        <!--                </p>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="row height-66">-->
        <!--            <div class="col-6 h-100 portfolio-img">-->
        <!--                <img src="../../../../../assets/images/test/photo-2.png" alt="">-->
        <!--            </div>-->
        <!--            <div class="col-6 h-100 portfolio-img">-->
        <!--                <img src="../../../../../assets/images/test/photo-3.png" alt="">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="row height-50">-->
        <!--            <div class="col-6 portfolio-text">-->
        <!--                <h2>Best Practices & Security You Can Count On</h2>-->
        <!--                <p>-->
        <!--                    WEBI leverages over 150 years of collective coding experience and technical ingenuity-->

        <!--                    Our project management approach utilizes the Agile Methodology, a best practice to ensure-->
        <!--                    effective and timely delivery on the customer’s requirements-->

        <!--                    Technical team members include custom web/web app developers, mobile app developers and systems-->
        <!--                    integration specialists-->
        <!--                </p>-->
        <!--            </div>-->
        <!--            <div class="col-6 portfolio-img">-->
        <!--                <img src="../../../../../assets/images/test/photo-4.png" alt="">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="row height-50">-->
        <!--            <div class="col-6 h-100 portfolio-img">-->
        <!--                <img src="../../../../../assets/images/test/photo-5.png" alt="">-->
        <!--            </div>-->
        <!--            <div class="col-6 h-100 portfolio-img">-->
        <!--                <img src="../../../../../assets/images/test/photo-6.png" alt="">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="row height-33">-->
        <!--            <div class="col-12 portfolio-text">-->
        <!--                <p>-->
        <!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque aut commodi deserunt-->
        <!--                    eaque expedita illo laudantium, maxime nam necessitatibus neque nihil quidem quo recusandae-->
        <!--                    sint tempore totam. Et, suscipit.-->
        <!--                </p>-->
        <!--            </div>-->
        <!--        </div>-->


    </div>

    <app-footer [style.position]="'relative'" [style.top]="'300px'"></app-footer>

</div>


