.row {
    padding-top: 42px;
    padding-bottom: 42px;
}
img {
    border-radius: 8px;
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    box-shadow: 2px 10px 20px 0 rgba(80, 123, 252, 0.3);
}
ul {
    text-align: center;
}

ul li {
    display: inline;
    list-style: none;
    padding: 10px;
    color: #1b2437;
}

ul li:hover {
    cursor: pointer;
    color: #3945ae;
}

.height-33 {
    height: 33vh;
}

.height-50 {
    height: 50vh;
}

.height-66 {
    height: 66vh;
}
@media (min-width: 992px) {
    .height-66-55 {
        height: 66vh;
    }
}

@media (max-width: 992px) {
    .height-66-55 {
        height: 55vh;
    }
}
@media (max-width: 720px) {
    .height-66-55 {
        padding-bottom: 12px;
    }
}
.heading {
    h2 {
        font-family: Montserrat, sans-serif;
        font-size: 76px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
    }
}

.title {
    p {
        object-fit: contain;
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
    }
}


.background-title-dark {
    .heading {
        h2 {
            color: #ffffff;
        }
    }
    .title {
        p {
            color: #ffffff;
        }
    }
    background: transparent;
}

.background-title-light {
    .heading {
        h2 {
            color: #3945ae;
        }
    }
    .title {
        p {
            color: #1b2437;
        }
    }
    background: transparent;
}

// // // STYLES // // //

.scrolled {
    position: absolute!important;
    background-color: #f8f8f8;
}
.introduce {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    transition: 1s all;
    padding: 0;
    margin: 0;
    .introduce-dark {
        position: relative;
        width: 100%;
        height: 100vh;
        //background-image: url("../../../../../assets/images/close.png");
        background-size: cover;
        background-repeat: no-repeat;
        transition: 1s all;
    }
    .portfolio-heading {
        position: absolute;
        top: calc( (100vh - 200px) / 2 );
        //max-width: 80%;
        left: 20%;
        z-index: 9999;
        height: 200px;
        transition: 1s all;
    }
}

.portfolio-content {
    position: relative;
    top: 300px;
    height: auto;

    .navigation {
        margin: 0!important;
    }
    .portfolio-text {
        h2 {
            //width: 413px;
            //height: 58px;
            object-fit: contain;
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: #3945ae;
        }

        p {
            //width: 413px;
            //height: 272px;
            object-fit: contain;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: left;
            color: #1b2437;
        }
    }

    .portfolio-img {
        img {
            width: 100%;
            height: 100%;
        }
    }

}


//@-webkit-keyframes scroll {
//    0% {
//        top: 50%;
//        transform: translateY(-50%);
//        left: 20%;
//    }
//    25% {
//        top: 35%;
//        transform: translateY(-35%);
//        left: 15%;
//    }
//    50% {
//        top: 25%;
//        transform: translateY(-25%);
//        left: 10%;
//    }
//    75% {
//        top: 15%;
//        transform: translateY(-15%);
//        left: 5;
//    }
//    100% {
//        top: 0;
//        transform: translateY(0%);
//        left: 0;
//    }
//}

// // // // // // // // //
// // // Previous // // //
// // // // // // // // //


//.title {
//
//    font-size: 36px;
//    text-transform: capitalize;
//    margin-bottom: 30px;
//}
//
//.box > p {
//    font-size: 18px;
//    line-height: 1.5;
//    font-family: 'Poppins', sans-serif;
//}
//
//.sectionOne .ImageBox img {
//    height: 630px;
//    width: 100%;
//    background-size: 100% 100%;
//    background-position: center;
//    object-fit: cover;
//}
//
//.sectionOne {
//    padding-bottom: 60px;
//
//}
//
//.card-body {
//    color: white;
//    width: 100%;
//    padding: 20px 0;
//}
//
//.sectionTwo {
//    margin: 160px 50px;
//    color: white;
//}
//
//.cardBox img {
//    border-radius: 3px;
//    height: 300px;
//    width: 100%;
//    object-fit: cover;
//}
//
//.cardBox a {
//    text-decoration: none;
//}
//
//@media (min-width: 992px) {
//    .ImageBox {
//        padding: 0;
//    }
//}
//
//@media (max-width: 992px) {
//    .title {
//        font-size: 28px;
//    }
//    .sectionOne .ImageBox img {
//        height: 400px;
//    }
//    .box p {
//        font-size: 14px;
//        line-height: 1.1;
//    }
//    .container-fluid {
//        padding-top: 100px;
//    }
//    .one {
//        padding-bottom: 30px;
//    }
//    .two {
//        padding-top: 10px;
//
//    }
//}
//
//@media (max-width: 767px) {
//    .sectionOne .ImageBox img {
//        height: 400px;
//    }
//    .box p {
//        font-size: 14px;
//        line-height: 1.1;
//    }
//    .container-fluid {
//        padding-top: 50px;
//    }
//    .one {
//        padding-bottom: 30px;
//    }
//    .two {
//        padding-top: 10px;
//
//    }
//}
