.image .col-12 {
    border-radius: 5px;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.11);
}

.image:first-child {
    padding-left: 0!important;
}
.image:last-child {
    padding-right: 0!important;
}
