<div class="container-fluid">
    <div class="row">

        <div [class]="'col-' +content.imgSize + ' order-' +content.imageOrder + ' image'">

            <div class="col-12"
                 [style.background-image]="'url('+content.img1.imgURL+')'"
                 [style.height]=" +content.imageHeight + 'vh' "
                 [style.background-size]="content.img1.objectFit"
                 [style.background-position]="content.img1.alignment"></div>

        </div>

        <div [class]=" 'col-' + (12 - +content.imgSize ) + ' order-' + (3 - +content.imageOrder) + ' image'">

            <div class="col-12"
                 [style.background-image]="'url('+content.img2.imgURL+')'"
                 [style.height]=" +content.imageHeight + 'vh' "
                 [style.background-size]="content.img2.objectFit"
                 [style.background-position]="content.img2.alignment"></div>

        </div>

    </div>
</div>
