<footer class="footer text-center clearfix">
  <div class="footer-main pull-left clearfix">
    <div class="copyright pull-left">
      ©
      <a class="font-weight-bold" href="#">ThemeSeason</a>
      2016
    </div>
    <ul class="share clearfix pull-left">
      <li>
        <a href="#" target="_blank">
<!--          <i class="socicon socicon-facebook transition"></i>-->
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="socicon socicon-twitter transition"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="socicon socicon-instagram transition"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="socicon socicon-pinterest transition"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="pull-right created">Created with <i class="fa fa-heart"></i></div>

</footer>
