.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer .footer-main {
    display: inline-block;
}
.footer .footer-main .copyright {
    color: #242424;
    font-size: 14px;
}
.footer .footer-main .share {
    padding-left: 5px;
    margin: 0;
}
.footer .footer-main .copyright a {
    color: #242d3a;
}
.font-weight-bold {
    font-weight: 700!important;
}
.footer .footer-main .share li {
    list-style: none;
    float: left;
    margin-left: 10px;
}
.footer .footer-main .share li i {
    cursor: pointer;
    transition: all .1s ease;
    color: #fff;
    padding: 9px 9px 6px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #242d3a;
}
.footer .footer-main .share li i.socicon-twitter {
    background-color: #55acee;
}
.footer .footer-main .share li i.socicon-facebook {
    background-color: #3b5998;
}
.footer .footer-main .share li i.socicon-instagram {
    background-color: #8a3ab9;
}
.footer .footer-main .share li i.socicon-pinterest {
    background-color: #c92228;
}
.footer .created {
    color: #242424;
    font-size: 14px;
}
.footer .created i {
    color: red;
}