.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    height: auto;

    .loading-background {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9999999;
        background-color: black;
        opacity: 0.8;
    }

    .loading-content {
        z-index: 999999999;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        transition: 1s all;
        left: 35%;
        width: 30%;
        // height: 35vh;
        // background-color: #999999;
    }
    .loading-content-spinner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
