<div class="loading" [ngStyle]="{'display':display === 'none' ? 'none' : 'block'}">

  <div class="loading-background"></div>

  <div class="loading-content">
    <div class="loading-content-spinner">
      <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>