.main{
  padding: 30px 40px 60px;
}

.card .card-header {
  background: #344154;
  color: #fff;
  line-height: 10px;
  border-radius: 0;
  border: none;

a {
  color: #fff;
}

}

.widget-controls {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 10px 20px;
  font-size: 14px;

a {
  color: #fff;
  margin-left: 7px;
  line-height: 1;
  vertical-align: top;
  display: inline-block;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;

.media {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0 black;

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.d-flex {
  display: flex !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.media-body {
  flex: 1;
}
}
}
.show-arrow{
  display: block;
}
.fullscreened{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  z-index: 10000;
}

.card.fullscreened .card-header {
  line-height: 35px;
}

.key{
  font-size: 18px;
}
