<div class="d-flex">
  <div class="mr-auto p-2">
    <button class="btn btn-primary" routerLink="/admin/client/create" translate>Create Account</button>
  </div>
</div>








<div class="main">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-12 bottom-30" *ngFor="let client of clients">
      <div class="card" id="card-0" (click)="view(client)">

        <div class="card-header">
          <span>default</span>
          <div class="widget-controls">
            <a class="transition chevrons" data-widgster="expand" style="display: none;">
              <i class="fa fa-chevron-down"></i>
            </a>
            <a class="transition chevrons show-arrow" data-widgster="collapse" style="">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="transition" data-widgster="fullscreen" (click)="fullscreenCard(0)"><i class="fa fa-expand"></i></a>
            <a class="transition" data-widgster="restore" href="#" style="display: none;"><i class="fa fa-compress"></i></a>
            <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
          </div>
        </div>

        <div class="card-body widget-body" style="">
          <div class="media">
            <div class="media-body">
              <h4 class="mt-0"><span class="key">First Name </span>{{client.firstName}}</h4>
              <h5 class="mt-0"><span class="key">Company Name </span>{{client.companyName}}</h5>
              <br>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>







