
<div class="mt-5 bottom-30" *ngIf="done">
  <div class="card" widget="">
    <div class="card-header" style="background-color: #344154; color: white;"><span>Invoices</span>
      <!--      <div class="widget-controls"><a class="transition" data-widgster="expand" href="#" style="display: none;"><i-->
      <!--        class="fa fa-chevron-down"></i></a><a class="transition" data-widgster="collapse" href="#"><i-->
      <!--        class="fa fa-chevron-up"></i></a><a class="transition" data-widgster="fullscreen" href="#"><i-->
      <!--        class="fa fa-expand"></i></a><a class="transition" data-widgster="restore" href="#" style="display: none;"><i-->
      <!--        class="fa fa-compress"></i></a><a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>-->
      <!--      </div>-->
    </div>
    <div class="card-body widget-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th translate>Number</th>
          <th translate>Date</th>
          <th>Tools</th>
        </tr>
        </thead>
        <tbody *ngIf="invoices.length > 0">
        <tr *ngFor="let invoiceInfo of invoiceInfos ; let i = index" >
          <td>{{invoiceInfo.invoice.number}}</td>
          <td>{{invoiceInfo.invoice.date}}</td>
          <td>
            <a class="tools" (click)="updateInvoice(invoiceInfo.invoice)"><i class="fa fa-edit"></i></a>
            <a class="tools ml-3" (click)="viewInvoice(invoiceInfo)"> <i class="fa fa-eye"></i></a>
            <a class="tools ml-3" > <i class="fa fa-trash"></i></a>
            <a class="tools ml-3" *ngIf="invoiceInfo.invoicePdf"  data-toggle="modal" data-target="#exampleModal"> pdf </a>

            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="{{invoiceInfo.invoicePdf}}" alt="" style="width: 100%;height: 100%;">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn button ml-1" (click)="createInvooice()">Create invoice</button>

    </div>
  </div>
</div>
