<div class="sidebar" [ngClass]="{'menu-collapsed': collapse}">
    <ul class="nav nav-sidebar flex-column ps ps--active-y" perfectscrollbar>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLinkActive="active-link" routerLink="portfolio">
                <i class="fa fa-home"></i><span>Portfolio</span></a>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLink="team"><i class="fa fa-users"></i><span>Team</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">

                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/users/sellers"> Sellers </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/users/customers"> Customers </a>
                </li>

            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLink="category"><i class="fa fa-laptop"></i><span>Category</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/buttons"> Buttons </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/cards"> Cards </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/components"> Components </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/icons"> Icons </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/grid"> Grid </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/list-group"> List Group </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/media-objects"> Media Objects </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/tabs-accordions"> Tabs &amp; Accordions </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/ui/typography"> Typography </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLink="setting"><i class="fa fa-wrench"></i><span>Settings</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/tools/drag-drop"> Drag &amp; Drop </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/tools/resizable"> Resizable </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/tools/toaster"> Toastr </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLinkActive="active-link" routerLink="news"><i
                class="fa fa-envelope-o"></i><span>News</span></a>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLinkActive="active-link" routerLink="advantage"><i
                class="fa fa-envelope-o"></i><span>Advantage</span></a>
        </li>

        <!--    <li class="sidebar-list-item" appExpandMenu>-->
        <!--      <a class="sidebar-list-link" routerLinkActive="active-link" routerLink="/admin/calendar"><i-->
        <!--        class="fa fa-calendar"></i><span>Calendar</span></a>-->
        <!--    </li>-->


        <!--    <li class="sidebar-list-item" appExpandMenu>-->
        <!--      <a class="sidebar-list-link"><i class="fa fa-pencil-square-o"></i><span>Form Elements</span><b-->
        <!--        class="fa fa-angle-down"></b></a>-->
        <!--      <ul class="sidebar-sublist">-->
        <!--        <li class="sidebar-sublist-item">-->
        <!--          <a routerLinkActive="active-link" routerLink="/admin/form-elements/inputs"> Form Inputs </a>-->
        <!--        </li>-->
        <!--        <li class="sidebar-sublist-item">-->
        <!--          <a routerLinkActive="active-link" routerLink="/admin/form-elements/layouts"> Form Layouts </a>-->
        <!--        </li>-->
        <!--        <li class="sidebar-sublist-item">-->
        <!--          <a routerLinkActive="active-link" routerLink="/admin/form-elements/validations"> Form Validations </a>-->
        <!--        </li>-->
        <!--        <li class="sidebar-sublist-item">-->
        <!--          <a routerLinkActive="active-link" routerLink="/admin/form-elements/wizard"> Form Wizard </a>-->
        <!--        </li>-->
        <!--      </ul>-->
        <!--    </li>-->


        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLink="media"><i class="fa fa-table"></i><span>Media</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/tables/basic-tables"> Basic Tables </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/tables/dynamic-tables"> Dynamic Tables </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLink="card"><i class="fa fa-pencil-square-o"></i><span>Card</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/maps/vectormaps"> Vector Maps </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/maps/googlemaps"> Google Maps </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/maps/leafletmaps"> Leaflet Maps </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link"><i class="fa fa-file-o"></i><span>Page</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <!--        <li class="sidebar-sublist-item">-->
                <!--          <a routerLinkActive="active-link" routerLink="/login/test"> Login </a>-->
                <!--        </li>-->
                <!--        <li class="sidebar-sublist-item">-->
                <!--          <a routerLinkActive="active-link" routerLink="/"> Register </a>-->
                <!--        </li>-->
                <!--        <li class="sidebar-sublist-item">-->
                <!--          <a routerLinkActive="active-link" routerLink="/admin/blank"> Blank Page </a>-->
                <!--        </li>-->
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="page">Dynamic Pages </a>
                </li>


                <li class="sidebar-sublist-item" routerLink="simple">
                    <a routerLinkActive="active-link" routerLink="simple">Simple Pages </a>
                </li>

                <li class="sidebar-sublist-item" routerLink="service">
                    <a routerLinkActive="active-link" routerLink="service">Services </a>
                </li>

                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="faq">FAQ</a>
                </li>

            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" routerLink="menu"><i class="fa fa-ellipsis-h"></i><span>Menu</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <li class="sidebar-sublist-item">
                    <a href="#" target=""> Menu Level 1.1 </a></li>
                <li class="sidebar-sublist-item">
                    <a class="sidebar-list-link subitem-submenu-link" href=""><span>Menu Level 1.2</span><b
                        class="fa fa-angle-down"></b></a>

                    <ul class="sidebar-sublist subitem-submenu-list">
                        <li>
                            <a href="#" target=""> Menu Level 1.2.1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sidebar-list-item" appExpandMenu>
            <a class="sidebar-list-link" href="/" target="_blank"><i
                class="fa fa-external-link"></i><span>External Link</span></a>
        </li>

        <hr>


        <li class="sidebar-list-item">
            <a class="sidebar-list-link" href=""><i
                class="fa fa-file-o"></i><span>Profile</span><b class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist" style="display: none;">
                <li class="sidebar-sublist-item">
                    <a routerlinkactive="active-link" href="/pages/profile/projects"> Projects </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerlinkactive="active-link" href="/pages/profile/user-info"> User Info </a>
                </li>
            </ul>
        </li>


        <li class="sidebar-list-item" appExpandMenu *ngIf="admin.role === 'superAdmin'">
            <a class="sidebar-list-link" routerLink="client"><i class="fa fa-users"
                                                                aria-hidden="true"></i><span>Clients</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">

                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/editors/froala-editor"> Froala Editor </a>
                </li>
                <li class="sidebar-sublist-item">
                    <a routerLinkActive="active-link" routerLink="/admin/editors/ckeditor"> Ckeditor </a>
                </li>
            </ul>
        </li>


        <li class="sidebar-list-item" appExpandMenu *ngIf="admin.role === 'superAdmin'">
            <a class="sidebar-list-link" routerLink="admin-tools"><i
                class="fa fa-ellipsis-h"></i><span>Admin tools</span><b
                class="fa fa-angle-down"></b></a>
            <ul class="sidebar-sublist">
                <li class="sidebar-sublist-item">
                    <a target=""> Menu Level 1.1 </a></li>
                <li class="sidebar-sublist-item">
                    <a class="sidebar-list-link subitem-submenu-link"><span>Menu Level 1.2</span><b
                        class="fa fa-angle-down"></b></a>

                    <ul class="sidebar-sublist subitem-submenu-list">
                        <li>
                            <a target=""> Menu Level 1.2.1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px; height: 150px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 36px;"></div>
        </div>
    </ul>
    <div class="sidebar-hover-elem show-hover-elem" style="top: -200px; height: 42px;"></div>
</div>
