.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080";
}
.fa-angle-down:before {
    content: "\f107";
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
.sidebar-sublist li a:before {
    font-family: FontAwesome;
    content: "\f1db";
    margin-right: 10px;
    font-size: 10px;
}
li a:hover {
    // opacity: 0.7;
    background-color: #637ca0;
    transition: 0.5s all;
}
.sidebar.menu-collapsed {
    width: 50px;
}
.sidebar.menu-collapsed a.sidebar-list-link b {
    display: none;
}
.sidebar {
    background: #344154;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    //position: fixed;
    width: 230px;
    overflow: hidden;
    display: block;
    //z-index: 9;
    //margin-top: 45px;
}
.sidebar .nav {
    height: 100%;
    padding-bottom: 60px;
    flex-wrap: nowrap;
}
.ps {
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
    position: relative;
}
.flex-column {
    flex-direction: column!important;
}
.sidebar-hover-elem {
    width: 4px;
    background: #637ca0;
    position: absolute;
    top: -150px;
    left: 0;
    transition: all .2s ease;
    transition-property: top,height;
    height: 36px;
    display: block;
}
.sidebar-list-item {
    display: block;
    width: 100%;
    position: relative;
    float: none;
    padding: 0;
    border-bottom: 1px solid rgba(36,45,58,.5);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.1);
}
a.sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px!important;
    padding-top: 0!important;
    text-shadow: none;
    font-size: 13px;
    letter-spacing: .02em;
    text-decoration: none;
    color: #fff;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease;
}
.active-link {
    background-color: #637ca0;
}
a.sidebar-list-link i {
    margin-right: 16px;
    width: 16px;
    display: inline-block;
}
.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
a.sidebar-list-link b {
    display: block;
    opacity: 1;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 14px;
    padding: 0;
    text-align: center;
    color: #fff;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear,-webkit-transform .2s linear;
}
.sidebar-sublist {
    display: none;
    padding: 0;
    list-style: none;
    position: relative;
}
.sidebar-sublist li:last-child {
    border-bottom: none;
}
.sidebar-sublist li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: 1px solid rgba(36,45,58,.7);
    position: relative;
}
.sidebar-sublist li a {
    display: block;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    padding-left: 50px!important;
    height: 42px;
    line-height: 42px;
}
.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    height: 7px;
    bottom: 0;
    position: absolute;
}
.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear,height .2s ease-in-out;
    -webkit-transition: background-color .2s linear,height .2s ease-in-out;
    height: 4px;
    bottom: 1px;
    position: absolute;
}
.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y {
    display: block;
    background-color: transparent;
}
.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    width: 7px;
    right: 0;
    position: absolute;
}
.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear,width .2s ease-in-out;
    -webkit-transition: background-color .2s linear,width .2s ease-in-out;
    width: 4px;
    right: 1px;
    position: absolute;
}

.active {
    .sidebar-sublist {
        opacity: 1; 
        display: block;
        transition: 3000ms linear;
    }
    .fa-angle-down {
        transform: rotate(0deg);
        transition: 300ms all;
    }
}

.not-active {
    .sidebar-sublist {
        display: none;
        transition: 3000ms linear;
    }
    .fa-angle-down {
        transform: rotate(90deg);
        transition: 300ms all;
    }
}

//========================================================================

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-list-item {
    display: block;
    width: 100%;
    position: relative;
    float: none;
    padding: 0;
    border-bottom: 1px solid rgba(36,45,58,.5);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.1);
}

a.sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px!important;
    padding-top: 0!important;
    text-shadow: none;
    font-size: 13px;
    letter-spacing: .02em;
    text-decoration: none;
    color: #fff;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease;
}

a.sidebar-list-link i {
    margin-right: 16px;
    width: 16px;
    display: inline-block;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
