.item-img {
    width: 260px;
    height: 148px;
    margin: 0 auto 30px;

    img {
        height: 100%;
        object-fit: contain;
    }

}


.slider-card-title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #3945ae;
}

.slider-card-text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.19;
    letter-spacing: -0.06px;
    color: #1b2437;
}
