<div id="slider" class="service-content">

    <div  class="row" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"  (mousewheel)="mouseWheel($event)">
        <div class="col-12" #sliderInner>

            <owl-carousel-o [options]="customOptions" class="m-0 p-0"  #owlCar>

                <ng-container *ngFor="let card of cards; let i = index">
                    <ng-template class="card-section" carouselSlide id="{{i}}">
                        <div>
                            <div class="item-img">
                                <img src="assets/images/slider.png" alt="er">
                            </div>

                            <h5 class="slider-card-title">WEB DEVELOPMENT</h5>
                            <p class="slider-card-text">
                                {{card.description.en}}
                            </p>
<!--                            <a *ngIf="card.url" [routerLink]="card.url"><img src="assets/images/right-black.png" alt=""></a>-->
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container *ngFor="let card of cards; let i = index">
                    <ng-template class="card-section" carouselSlide>
                        <div>
                            <div class="item-img">
                                <img src="assets/images/slid2.png" alt="er">
                            </div>

                            <h5 class="slider-card-title">WEB DEVELOPMENT</h5>
                            <p class="slider-card-text">
                                {{card.description.en}}
                            </p>
                            <!--                            <a *ngIf="card.url" [routerLink]="card.url"><img src="assets/images/right-black.png" alt=""></a>-->
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>

<!--            <a (click)="owlCar.to('2')">qerqwrwqr qw</a>-->

        </div>
    </div>

</div>
