<div class="row">
    <div class="invoices col-4" *ngFor="let invoice of invoices; let invIndex = index">
        <div class="info row">
            <div class="col-3 new" *ngIf="!invoice.seen">new</div>
            <div class="col-2 accepted"
                 *ngIf="invoice.clientAccepted"
                 [style.background]="'url(./assets/images/icons/accepted.png)'"
                 title="Invoice was accepted"
            >
            </div>
            <div class="col-2 pending"
                 *ngIf="!invoice.clientAccepted && !invoice.refused"
                 [style.background]="'url(./assets/images/icons/waiting.png)'"
                 title="Waiting for your approvement"
            ></div>
            <div class="col-2 refused"
                 *ngIf="invoice.refused"
                 [style.background]="'url(./assets/images/icons/refused.png)'"
                 title="Invoice was refused"
            ></div>
            <div class="col-12 date">{{ invoice.created | date : "dd.MM.y" }}</div>
            <!--            <div class="col-6 date" *ngIf="invoice.updated != invoice.created">{{  }}</div>-->
        </div>
        <img src="{{ invoice.invoicePdf }}" (click)="showInvoice(invIndex)">
    </div>
</div>

<div id="invoice" class="invoice-detail-view" *ngIf="current">
    <div class="close-btn" (click)="closeInvoice()">x</div>
    <div class="leave-note-ref" (click)="openNoteRef()"><a> refuse with note </a></div>
    <div class="leave-note-acc" (click)="openNoteAcc()"><a> accept with note </a></div>
    <div class="invoice-wrapper">
        <div class="invoice">
            <img [src]="current.invoicePdf">
        </div>
    </div>
</div>

<div class="note-form-wrapper"  *ngIf="writeNote">
    <div class="note-form">
        <div class="close-note" (click)="closeNote()">x</div>

        <form [formGroup]="noteForm" (ngSubmit)="sendNote(noteForm)" class="modal-form row">
            <div class="col-12 row">
                <textarea class="modal-textarea col-10 offset-1" aria-label="false" formControlName="note"></textarea>
            </div>
            <div class="col-6">
                <button class="button" type="submit" [disabled]="noteForm.invalid">Send</button>
            </div>
            <div class="col-6">
                <button class="button" (click)="resetForm()">Reset</button>
            </div>
        </form>
    </div>
</div>
