<button (click)="back()" class="btn button ml-1"><i class="fa fa-arrow-left"></i> back to Invoice list</button>

<div *ngIf="done">
  <div>
    <div *ngIf="!invoiceInfo.invoicePdf">
      <button class="btn button mt-1" (click)="pdf()">Make PDF</button>
    </div>
    <div *ngIf="invoiceInfo.invoicePdf">
      <button type="button" class="btn button mt-1" data-toggle="modal" data-target="#exampleModal">View pdf</button>

      <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{invoiceInfo.invoicePdf}}" alt="" style="width: 100%;height: 100%;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="invoiceInfo.hasUpdate">
    <h1 style="color:red;">Click Update PDF for correct pdf image</h1>
    <button (click)="pdf()">Update PDF</button>
  </div>
</div>
<div #content *ngIf="done" class="row pt-2 pb-3" id="contentToConvert">
  <div class="col-10 offset-1 ">
    <div class="invoice">
      <div class="invoice_top_border"></div>
      <div class="invoice_header">
        <div class="row">
          <div class="col-8">
            <h2>Invoice</h2>
          </div>
          <div class="col-4">
            <img src="assets/images/logo/logo3x.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-6">
            <h4>From</h4>
            <div class="row">

              <div class="col-12">
                <h2>{{invoice.fromName}}</h2>
                <!--                  <input type="text" class="form-control" id="fromName" formControlName="fromName" placeholder="Name">-->
              </div>

              <div class="col-12">
                <p>{{invoice.fromEmail}}</p>
                <!--                  <input type="email" class="form-control" id="fromEmail" formControlName="fromEmail" placeholder="name@business.com">-->
              </div>

              <div class="col-12">
                <p>{{invoice.fromAddress}}</p>
                <!--                  <input type="text" class="form-control" id="fromAddress" formControlName="fromAddress" placeholder="Street">-->
              </div>


              <div class="col-12">
                <p>{{invoice.fromPhone}}</p>
                <!--                  <input type="string" class="form-control" id="fromPhone" formControlName="fromPhone" placeholder="(123) 456 789">-->
              </div>


              <div class="col-12">
                <p>{{invoice.fromBusiness}}</p>
                <!--                  <input type="string" class="form-control" id="fromBusiness" formControlName="fromBusiness" placeholder="e.g. 123-45-6789">-->
              </div>

            </div>
          </div>
          <div class="col-6">
            <h3>To</h3>

            <div class="row">

              <div class="col-12">
                <h2>{{invoice.toName}}</h2>
                <!--                  <input type="text" class="form-control" id="toName" formControlName="toName" placeholder="Client Name">-->
              </div>

              <div class="col-12">
                <p>{{invoice.toEmail}}</p>
                <!--                  <input type="email" class="form-control" id="toEmail" formControlName="toEmail" placeholder="name@client.com">-->
              </div>

              <div class="col-12">
                <p>{{invoice.toAddress}}</p>
                <!--                  <input type="text" class="form-control" id="toAddress" formControlName="toAddress" placeholder="Street">-->
              </div>

              <div class="col-12">
                <p>{{invoice.toPhone}}</p>
              </div>

            </div>

          </div>
        </div>

      </div>
      <hr>
      <div class="invoice_after_line">
        <div class="row">
          <div class="col-6">
            <div class="row">

              <div class="col-3">
                <label>Invoice Number</label>
              </div>
              <div class="col-9">
                <p>{{invoice.number}}</p>
                <!--                  <input type="string" class="form-control" id="number" formControlName="number" placeholder="INV11111112">-->
              </div>

              <div class="col-3">
                <label>Date</label>
              </div>
              <div class="col-9">
                <p>{{invoice.date}}</p>
                <!--                  <input type="date" class="form-control" id="date" formControlName="date">-->
              </div>

              <div class="col-3">
                <label>Due</label>
              </div>
              <div class="col-9">
                <p>{{invoice.due}}</p>
                <!--                  <input type="date" class="form-control" id="due" formControlName="due">-->
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="invoice_body pt-3">
        <div class="row pt-2 pb-2" style="background-color: #344154; color : white">
          <div class="col-6">
            Description
          </div>
          <div class="col-2">Rate</div>
          <div class="col-2">Qty</div>
          <div class="col-2">Amount</div>
        </div>

        <div class="pt-2" *ngFor="let detail of invoice.details; let i = index">

          <div>
            <div class="row pb-2">
              <div class="col-1">
              </div>
              <div class="col-5 ">
                <p>{{detail['description']}}</p>
              </div>
              <div class="col-2">
                <p>{{detail['rate']}} {{currencies[invoice.currency]}}</p>
              </div>
              <div class="col-2">
                <p>{{detail['qty']}}</p>
              </div>
              <div class="col-2">
                <p>{{detail['amount']}} {{currencies[invoice.currency]}}</p>
              </div>

              <div class="col-5 offset-1 mt-2">
                <pre>{{detail['addDetails']}}</pre>
                <pre>{{invoice.notes}}</pre>

                <!--                <textarea name="" id="" cols="30" rows="10" class="form-control"-->
                <!--                          aria-label="false">{{detail['addDetails']}}</textarea>-->
                <!--                  <textarea name="notes" cols="30" rows="10" class="form-control" aria-label="false" formControlName="addDetails"></textarea>-->
              </div>

              <div class="col-12  mt-3 b"></div>

            </div>

          </div>


        </div>

        <div class="row mt-2">
          <div class=" col-12 mt-2 b">
          </div>

        </div>

        <div class="row">
          <div class="col-3 offset-9">

            <div class="row">
              <div class="col-6">
                <p>Subtotal</p>
              </div>
              <div class="col-6">
                <p>{{invoice.total}} {{currencies[invoice.currency]}}</p>
              </div>

              <div class="col-6">
                <p>Fee ({{invoice.fee.value}} <span *ngIf="invoice.fee.type == 1">%</span>)
                </p>
              </div>
              <div class="col-6">
                <p >{{feeForCient}} <span *ngIf="invoice.fee.value">{{currencies[invoice.currency]}}</span></p>
              </div>


              <div class="col-6">
                <p>Total</p>
              </div>
              <div class="col-6">
                <p>{{invoice.balance}} {{currencies[invoice.currency]}}</p>
              </div>


              <div class="col-6">
                <p class="font-weight-bold">Balance Due</p>
              </div>
              <div class="col-6">
                <p class="font-weight-bold">${{invoice.balance}}</p>
              </div>

            </div>
          </div>
        </div>
        <!--          <button class="btn button" type="submit" (click)="myCreate()" [disabled]="form.invalid">Create</button>-->

        <!--        </div>-->
        <div class="mt-3">
        </div>
      </div>
    </div>
  </div>
    <div style="height: 50px;"></div>
</div>
