.b{
  border: 1px solid;
}
.button{
  background-color: #344154;
}
pre{
  outline: 0 !important;
  font-family: Roboto, sans-serif;
  font-weight: 400 !important;
}
i{
  color: white;
  font-size: 25px;
}
