<div class="container-fluid">
    <div class="row" [style.hegiht]="content.imageHeight">
        <div *ngFor="let logo of content.logos" [class]="'col-' + content.count">
            <img [src]="logo.imgURL"
                 [style.object-fit]="content.objectFit"

                 alt="404">
        </div>
    </div>
</div>
