<div class="row" style="padding-bottom: 100px;">
    <div class="col-md-10 offset-1">
        <h2 class="text-center" translate>Create</h2>
        <form [formGroup]="faqForm">


            <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
            <br>

            <div class="form-group">
                <label translate>Description</label>
                <textarea class="form-control" placeholder="en" rows="3" formControlName="enShortDescription"
                          *ngIf="language=='en'"></textarea>
                <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruShortDescription"
                          *ngIf="language=='ru'"></textarea>
                <textarea class="form-control" placeholder="am" rows="3" formControlName="amShortDescription"
                          *ngIf="language=='am'"></textarea>
                <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                <!--                    Short Description</p>-->
            </div>


            <h3 class="text-center">Service details</h3>

            <!--            [ngClass]="{'pull-left': detail['value']['imagePosition'] === 'left','pull-right': detail['value']['imagePosition'] === 'right'}">-->


            <div class="add">
                <button class="btn btn-success" (click)="addTools()">Add</button>
                <!--                <div class="details" [ngStyle]="{'display':detailsView ? 'block' : 'none' }">-->
                <!--                    <div class="detailItem">-->
                <!--                        <button class="btn button" (click)="addTool('imageWithText')">ImageWithText</button>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>


            <div formArrayName="talk" *ngFor="let talk of faqForm.get('talk')['controls']; let i = index">
                <div class="row">
                    <div class="col-12 border pb-3">
                        <div [formGroupName]="i">
                            <div class="row tools">
                                <div class="col-12">
                                    <h3>Text</h3>
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="form-group">
                                                <label for="show">Show</label>
                                                <input type="checkbox" formControlName="show" id="show" class="ml-3">
                                            </div>

                                        </div>

                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label for="order">Order</label>
                                                </div>
                                                <div class="col-8">

                                                    <div class="form-group">
                                                        <input type="number" formControlName="order" id="order"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-2 text-right">
                                    <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                        class="fas fa-times"></i></button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label translate>Answer</label>
                                        <textarea class="form-control" placeholder="en" rows="3"
                                                  formControlName="enAnswer"
                                                  *ngIf="language=='en'"></textarea>
                                        <textarea class="form-control" placeholder="ru" rows="3"
                                                  formControlName="ruAnswer"
                                                  *ngIf="language=='ru'"></textarea>
                                        <textarea class="form-control" placeholder="am" rows="3"
                                                  formControlName="amAnswer"
                                                  *ngIf="language=='am'"></textarea>
                                        <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                                        <!--                    Short Description</p>-->
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label translate>Question</label>
                                        <input type="text" placeholder="en" class="form-control"
                                               formControlName="enQuestion"
                                               *ngIf="language=='en'">
                                        <input type="text" placeholder="ru" class="form-control"
                                               formControlName="ruQuestion"
                                               *ngIf="language=='ru'">
                                        <input type="text" placeholder="am" class="form-control"
                                               formControlName="amQuestion"
                                               *ngIf="language=='am'">
                                        <!--                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">Type en-->
                                        <!--                    Title</p>-->
                                    </div>
                                </div>

                            </div>
                            <!--                                language-->
                            <!--                                <div class="row">-->
                            <!--                                    <div [class]="'col-' + detail['value']['titleWidth']">-->
                            <!--                                        <h2 [style.textAlign]="detail['value']['titleAlign']">{{detail['value'][language + 'Title']}}</h2>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="col-12">-->
                            <!--                                        <h5 [style.textAlign]="detail['value']['descriptionAlign']">{{detail['value'][language + 'Description']}}</h5>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->


                        </div>
                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-info" (click)="myFAQ()"
                    [disabled]="!faqForm.valid " translate>
                Create<i
                class="fa fa-check"></i></button>
        </form>
    </div>

</div>


<!--<div class="hidden-modal">-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('cover')" value="text">cover image</button>-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('text')" value="text">text content</button>-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('imageWithImage')" value="feedback">image with image</button>-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('imageWithText')" value="feedback">image with text</button>-->
<!--</div>-->
