<div class="container-fluid">
    <div class="row">

        <div class="col-12 title"
             [style.text-align]="content.titleAlign"
             [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'">
            {{content.enTitle}}
        </div>

        <div class="col-12 description"
             [style.text-align]="content.descriptionAlign"
             [style.font-size]="(windowSize.width * 30 * windowSize.rate) / 1920 + 'px'">
            {{content.enDescription}}
        </div>

    </div>
</div>
