$bold: 'Montserrat Bold', sans-serif;
$light: 'Montserrat Light', sans-serif;

.title, .description {
    padding-right: 0;
    padding-left: 0;
}

.title {
    padding-bottom: 36px;
}

.title {
    object-fit: contain;
    font-family: $bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #1b2437;
    word-wrap: break-word;
    line-height: 1.2;

}

.description {
    object-fit: contain;
    font-family: $light;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #1b2437;
    word-wrap: break-word;
    line-height: 1.22;
}

// // // MEDIA // // //

@media (max-width: 992px) {
    .title {
        font-size: 30px !important;
        line-height: 35px !important;
        letter-spacing: -1.2px!important;
    }
    .description {
        font-size: 16px !important;
        line-height: 30px !important;
        letter-spacing: -0.32px!important;
    }
}
