

//.mt-0, .my-0 {
//  margin-top: 0!important;
//}
// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//   font-weight: 400;
// }
//.h4, h4 {
//  font-size: 1.5rem;
//}
//.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//  margin-bottom: .5rem;
//  font-weight: 500;
//  line-height: 1.2;
//}
//h1, h2, h3, h4, h5, h6 {
//  margin-top: 0;
//}


.ck-editor__editable {
  width: 100%;
  min-height: 150px;
}
/*body{*/
  /*overflow-x: hidden;*/
/*}*/

.max{
  max-width: 30%;
}

.invalid{
  text-decoration: none;
  color: red;
}




*, ::after, ::before {
    box-sizing: border-box;
}
* {
    outline: 0!important;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
.dropdown-toggle::after {
    content: none!important;
}

body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    color: #242424;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
//.fixed-top {
//    position: fixed;
//    top: 0;
//    right: 0;
//    left: 0;
//    z-index: 1030;
//}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.dropdown-toggle {
    white-space: nowrap;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}
.slimScrollBar, .slimScrollRail {
    border-radius: 0!important;
    width: 4px!important;
}
img {
    vertical-align: middle;
    border-style: none;
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
dl, ol, p, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-center {
    text-align: center!important;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.clearfix::after {
    content: "";
}
.clearfix::after {
    clear: both;
    display: block;
    content: "";
    height: 0;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}
b, strong {
    font-weight: bolder;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.h3, h3 {
    font-size: 1.75rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.custom-control-inline {
    display: inline-flex;
    margin-right: 1rem;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.custom-control-inline {
    display: inline-flex;
    margin-right: 1rem;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.media {
    display: flex;
    align-items: flex-start;
}
.text-right {
    text-align: right!important;
}
.media-body {
    flex: 1;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.info-box .info-box-icon {
    display: flex;
    font-size: 50px;
    opacity: .9;
}
.info-box h2, .info-box h6, .info-box p, .info-box span {
    font-weight: 300;
    letter-spacing: .03em;
}
.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.info-box h6 {
    white-space: nowrap;
    font-size: 14px;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.copy-tile, .list-tile, .live-tile {
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 20;
}
.copy-tile, .list-tile, .live-tile, .slide, .tile-strip {
    float: left;
}
.copy-tile, .list-tile, .live-tile, .tile-strip .flip-list>li {
    height: 150px;
    margin: 5px;
    outline: transparent solid 1px;
    box-sizing: border-box;
    padding: 0;
    width: 150px;
}
.carousel>.slide, .list-tile>div, .live-tile>.fade-back, .live-tile>.fade-front, .live-tile>.flip-back, .live-tile>.flip-front, .live-tile>.slide, .live-tile>.slide-back, .live-tile>.slide-front, .live-tile>div {
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 20;
}
.info-box h6 {
    white-space: nowrap;
    font-size: 14px;
}
.text-left {
    text-align: left!important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.rounded-circle {
    border-radius: 50%!important;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.d-inline {
    display: inline!important;
}
.p-0 {
    padding: 0!important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn, .input-group-btn:not(:last-child)>.btn:not(:first-child) {
    border-radius: 0;
}
.text-uppercase {
    text-transform: uppercase!important;
}
//.fa-id-card-o:before{
//  content :
//}
.fa-search:before {
    content: "\f002";
}
.fa-tasks:before {
    content: "\f0ae";
}
.fa-envelope-o:before {
    content: "\f003";
}
.fa-sign-in:before {
    content: "\f090";
}
.fa-expand:before {
    content: "\f065";
}
.fa-close:before, .fa-remove:before, .fa-times:before {
    content: "\f00d";
}
.fa-chevron-up:before {
    content: "\f077";
}
.fa-bell-o:before {
    content: "\f0a2";
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
i{
  color : white
}
