<div class="container-fluid">
    <div [class]="'row service-card-type-two-wrapper ' + content.size">

        <div
            *ngFor="let card of content.cards"
            [class]="'card col-12 col-lg-' + 12 / content.count + (content.count === '4' ? ' col-md-6' : content.backColor ? ' col-md-12' : ' col-md-4')"
        >
            <div class="card-body"
                 [style.text-align]="content.textAlign"
                 [ngClass]="{'card-background': content.backColor, 'card-body-hover': content.hover, 'p-0': !content.backColor}"
            >
                <div class="line"></div>

                <div class="card-image">
                    <img
                        [src]="card.imgURL"
                        alt="404">
                </div>
                <div class="card-title"
                     [ngClass]="{'title-border': !content.backColor}"
                     [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'">
                    {{card.enTitle}}
                </div>
                <div class="card-description"
                     [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'">
                    {{card.enContent}}
                </div>
                <div class="card-get-started">
                    <div class="heading">Get started at</div>
                    <div class="body">
                        <div class="price">$15.99/</div>
                        <span>month</span>
                    </div>
                </div>
                <div class="customize-plan">
                    <div class="link"></div>
                </div>

            </div>
        </div>

    </div>
</div>
