$bold: 'Montserrat Bold', sans-serif;
$light: 'Montserrat Light', sans-serif;

.container-fluid {
    padding-bottom: 140px;
}

.title-border {
    border-bottom: 2px solid #3945ae;
    padding-bottom: 7px;
    margin-bottom: 34px;
}

.card-body-hover:hover {
    transform: scale(1.02) translateY(20px);

    .line {
        background-color: #93a5ff;
    }

    .customize-plan {
        display: block !important;
        opacity: 1 !important;
    }
}

.customize-plan:hover {
    cursor: pointer;
}

.small {
    margin: 0 11.2% !important;

    .card {
        padding: 0 6px;
    }
}

.large {
    .card {
        padding: 0 13px;
        height: 500px;
        max-height: 516px;
    }

    .card:first-child {
        padding-left: 0;
        padding-right: 26px;
    }

    .card:last-child {
        padding-right: 0;
        padding-left: 26px;
    }
}

.card {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 24px 24px;

    .card-body {
        position: relative;
        padding: 81px 37px 36px;

        .line {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 11px;
            border-radius: 8px 8px 0 0;
        }

        .card-image {
            margin: 0 auto 46px;
            width: 64px;
            height: 58px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .card-title {
            object-fit: contain;
            font-family: $bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #3945ae;
            line-height: 1.2;
        }

        .card-description {
            object-fit: contain;
            font-family: $light;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: -0.06px;
            color: #1b2437;
            line-height: 1.19;
        }

        .card-get-started {
            padding-top: 83px;

            .heading {
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.85;
                letter-spacing: normal;
                text-align: center;
                color: #2e2e2e;
            }

            .body {
                display: inline-flex;

                .price {
                    padding-top: 10px;
                    font-size: 36px;
                    line-height: 36px;
                }

                span {
                    display: flex;
                    align-items: flex-end;
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }

        .customize-plan {
            padding: 32px 0;
            transition: opacity 1s ease-out;
            display: none;
            opacity: 0;

            .link {
                width: 100%;
                height: 54px;
                background-image: url('../../../../../assets/images/service/Customise_btn@3x.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-color: #f7f8ff;
            }
        }
    }
}

.card-background {
    border-radius: 8px;
    -webkit-backdrop-filter: blur(42px);
    box-shadow: 2px 14px 12px 0 rgba(57, 69, 174, 0.1);
    background-color: #ffffff;
}

// // // MEDIA // // //

@media (min-width: 768px) and (max-width: 992px) {
    .card {
        padding: 24px 6px !important;
    }
}

@media (max-width: 992px) {
    .container-fluid {
        padding-bottom: 240px;
    }
    .card-title {
        font-size: 30px !important;
        line-height: 35px !important;
        letter-spacing: -1.2px !important;
    }
    .card-description {
        font-size: 14px !important;
        line-height: 22px !important;
        letter-spacing: -0.28px !important;
    }
    .card-get-started {
        .heading {
            font-size: 16px !important;
            line-height: 1.65 !important;
        }

        .body {
            .price {
                font-size: 24px !important;
                line-height: 30px !important;
            }

            span {
                font-size: 18px !important;
                line-height: 20px !important;
            }
        }
    }
    .customize-plan {
        .link {
            height: 40px !important;
        }
    }
}

// // // MEDIA // // //

@media (max-width: 992px) {
    .card {
        height: auto !important;
        max-height: none !important;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 60px 24px !important;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 60px 0 !important;
    }
}
