<div class="d-flex">
  <div class="mr-auto p-2">
    <button class="btn btn-primary" routerLink="/admin/advantage/create" translate>Create Advantage</button>

  </div>
  <div class="p-2">
    <input class="mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
  </div>
</div>


<br>
<table class="table table-dark table-hover table-striped">
  <thead class="thead-light">
  <tr>
    <th>_id</th>
    <th translate>Title</th>
    <th translate>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let advantage of advantages ; let i = index">

    <td>{{advantage._id}}</td>
    <td>{{advantage.title['en']}}</td>
    <td>{{advantage.description['en']}}</td>

    <td>
      <button [routerLink]="['/admin/advantage', advantage._id]" (click)="viewAdvantage(advantage)"
              class="btn btn-info"><i class="fas fa-eye"></i></button>

      <button (click)="updateAdvantage(advantage)" style="margin-left: 20px;" class="btn btn-primary"><i
        class="far fa-edit"></i></button>

      <button (click)="deleteAdvantage(advantage,i)" style="margin-left: 20px;" class="btn btn-danger"><i
        class="fa fa-times"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
