<div class="row">
  <div class="col-md-10 offset-1" *ngIf="done">
    <h2 class="text-center">{{team['fullName'].en}}</h2>
    <div>
      <img src='http://localhost:3000/uploads/team/{{team.avatar}}' class="img-fluid max" alt="">
    </div>
    <h2 translate>Sort</h2>
    <h5>{{team.sort}}</h5>
    <h2 translate>Location</h2>
    <h5>{{team['location']}}</h5>
    <h2 translate>Full Name</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{team['fullName'].am}}</td>
        <td>{{team['fullName'].ru}}</td>
        <td>{{team['fullName'].en}}</td>
      </tr>
      </tbody>
    </table>
    <h2 translate>Position</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{team['position'].am}}</td>
        <td>{{team['position'].ru}}</td>
        <td>{{team['position'].en}}</td>
      </tr>
      </tbody>
    </table>
    <h2 translate>Info</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{team['info'].am}}</td>
        <td>{{team['info'].ru}}</td>
        <td>{{team['info'].en}}</td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="ok()"><i
      class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-info" (click)="updateTeam(team)" style="margin-left: 20px;" translate>Edit<i
      class="far fa-edit"></i></button>
    <button (click)="deleteTeam(team)" style="margin-left: 20px;" class="btn btn-danger"><i
      class="fa fa-times"></i>
    </button>
  </div>
</div>

