<div *ngIf="done">
  <div>
    <div *ngIf="!contractInfo.pdf">
      <button class="btn button mt-1" (click)="pdf()">Make PDF</button>
    </div>
    <div *ngIf="contractInfo.pdf">
      <button type="button" class="btn button mt-1" data-toggle="modal" data-target="#exampleModal">View pdf</button>

      <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{contractInfo.pdf}}" alt="" style="width: 100%;height: 100%;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="contractInfo.hasUpdate">
    <h1 style="color:red;">Click Update PDF for correct pdf image</h1>
    <button (click)="pdf()">Update PDF</button>
  </div>
</div>



<div *ngIf="done" [innerHTML]="contract.content" #content style="padding: 50px">

</div>
