<div class="container-fluid">
    <div class="row">

        <div [class]="'col-12 col-md-' +content.imgSize + ' order-' +content.imageOrder + ' image'">
            <img id="image"
                 width="100%"
                 [src]="content.imgURL" alt="404"
                 [style.height]=" +content.imageHeight + 'vh' "
                 [style.object-fit]="content.objectFit"
                 [style.object-position]="content.verticalAlignment + ' ' + content.alignment">
        </div>

        <div [class]=" 'col-12 col-md-' + (12 - +content.imgSize ) + ' order-' +content.imageOrder + 1">
            <div class="row">
                <div class="col text-box" *ngFor="let text of content.text">

                    <div class="image-title"
                         [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'">
                        {{text.enTitle}}
                    </div>

                    <div class="image-description"
                         [style.font-size]="(windowSize.width * 18 * windowSize.rate) / 1920 + 'px'">
                        {{text.enContent}}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
