$bold: 'Montserrat Bold', sans-serif;
$light: 'Montserrat Light', sans-serif;


#image {
    border-radius: 5px;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.11);
}

.image {
    padding: 0;
}

.image-title {
    object-fit: contain;
    font-family: $bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b2437;
    padding-bottom: 36px;
    line-height: 1.2;
}

.image-description {
    object-fit: contain;
    font-family: $light;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b2437;
    line-height: 1.22;
}

// // // MEDIA // // //

@media (max-width: 992px) {
    .image-title {
        font-size: 30px !important;
        line-height: 35px !important;
        letter-spacing: -1.2px !important;
    }
    .image-description {
        font-size: 14px !important;
        line-height: 22px !important;
        letter-spacing: -0.28px !important;
    }
}

@media (max-width: 768px) {
    .order-1 {
        padding: 0 0 42px !important;
    }
    .text-box {
        padding: 0!important;
    }
}
