// // // Mobile // // //
.mobile {
    .top-text-wrapper {
        padding-bottom: 28px;
        .section-title {
            padding: 24px 0;
        }
    }
    .card {
        margin: 0 auto 20px auto;
    }
}

.team-wrapper {
    position: relative;
}

#team-wrapper {
    transition: all 1s;
    z-index: 0;
}

// // // Desktop // // //
.desktop {
    .top-text-wrapper {
        padding-bottom: 100px;
    }
}

.slider-wrapper {
    min-height: 33vh;
    width: 100%;
}

#curtain {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 50vw;
    background: #ffffff;
    transition: 2s height ease-in 1000ms !important;
}

.team-detail {
    display: none;
    position: fixed;
    background-color: transparent;
    z-index: 111000;
    transition: 1s all !important;
    cursor: pointer;

    .big-slider {
        width: 100%;
        opacity: 0;

        .information-wrapper {
            width: 50%;
            float: left;
        }

        .person-text-content {

        }

        .person-info {
            width: 100%;
            height: -webkit-fill-available;
            //background-color: #ffffff;

            .card-side {
                width: 100%;
                //background-color: #ffffff;

                .image-wrapper {
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                    pointer-events: none;
                    transition: 1s all;

                    img {
                        transition: 1s all;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .info-wrapper {
                    text-align: center;
                    pointer-events: none;

                    .person-name {
                        font-family: Montserrat, sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.22;
                        color: #1b2437;
                        padding: 35px 0 5px;
                    }

                    .person-position {
                        font-family: Montserrat, sans-serif;
                        font-size: 16px;
                        line-height: 1.19;
                        color: #98a0a6;

                    }

                    .person-location {
                        object-fit: contain;
                        font-family: Montserrat, sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.38;
                        color: #1b2437;

                        img {
                            width: 10px;
                            margin-right: 5px;
                        }
                    }
                }
            }

        }

    }
}

.animation-start {
    display: block;
    //width: 50vw !important;
    //height: 100vh !important;
    //top: 0 !important;
    //left: 0 !important;
    transition: all 1200ms ease-in-out 1000ms;

    .big-slider {
        //width: 100%;

        .information-wrapper {
            width: 100%;
        }

        .person-text-content {
            background: transparent;
            width: 50vw;
            position: fixed;
            top: 0;
            right: 0;
            opacity: 0;
        }
    }

    .person-info {
        width: 100%;
        height: -webkit-fill-available;

        .card-side {

            .image-wrapper {
                width: 120px;
                height: 120px;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .info-wrapper {
                transform: scale(1);

                .person-name {
                    font-size: 18px;
                    padding: 35px 0 5px;
                }

                .person-position {
                    font-size: 16px;
                }

                .person-location {
                    font-size: 16px;

                    img {
                        width: 10px;
                    }
                }
            }
        }

    }
}


.person-detail-info {

    padding: 220px 200px 0;
    height: 100vh;

    .info-text {
        font-family: sans-serif;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.22;
        color: #ffffff;

        @media only screen and (max-width: 1440px) {
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 1440px) {
        padding: 170px 115px 0;
    }

}

.close-icon-inner {
    padding: 40px;
    position: absolute;
    z-index: 100;
    right: 0;

    img {
        width: 25px;
        float: right;
        cursor: pointer;
    }
}

//==============================================================================================
//==============================================================================================
//==============================================================================================
.slider-item {
    width: 100%;
}

.slider-item, .card {
    height: 40vh;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    background-color: #ffffff;
    cursor: pointer;

    .card-content {
        pointer-events: none;

        .image-wrapper {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            pointer-events: none;

            img {

                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
            }
        }

        .info-wrapper {
            text-align: center;
            pointer-events: none;

            .person-name {
                font-family: Montserrat, sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.22;
                color: #1b2437;
                padding: 35px 0 5px;
            }

            .person-position {
                font-family: Montserrat, sans-serif;
                font-size: 16px;
                line-height: 1.19;
                color: #98a0a6;

            }

            .person-location {
                object-fit: contain;
                font-family: Montserrat, sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.38;
                color: #1b2437;

                img {
                    width: 10px;
                    margin-right: 5px;
                }
            }
        }
    }
}


.slide-item-animation {
    background: #000;
}

.height250 {
    height: 250px !important;
    width: 250px !important;
    margin-bottom: 30px !important;
}

.scale2 {
    transform: scale(1.7) !important;
}

.show-content {
    //display: block !important;
    opacity: 1 !important;
    background-color: #3945ae !important;
}

.hiddenWhileAnimation {
    position: fixed;
    top: 0;
    left: 0;
}

#hidden-slider-over {
    display: none;
}

.slider-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 111111;
    display: none;


    .over-slider-wrapper-ov {
        .information-wrapper-ov {
            width: 50vw;
            height: 100vh;
            float: left;
            background: #ffffff;

            .person-info-ov {
                width: 100%;
                height: 100vh;

                .card-side-ov {
                    .image-wrapper-ov {
                        width: 250px;
                        height: 250px;
                        margin: 0 auto 30px;

                        img {

                            width: 250px;
                            height: 250px;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    .info-wrapper-ov {
                        text-align: center;
                        transform: scale(1.7);

                        .person-name-ov {
                            font-family: Montserrat, sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 1.22;
                            color: #1b2437;
                            padding: 35px 0 5px;
                        }

                        .person-position-ov {
                            font-family: Montserrat, sans-serif;
                            font-size: 16px;
                            line-height: 1.19;
                            color: #98a0a6;

                        }

                        .person-location-ov {
                            object-fit: contain;
                            font-family: Montserrat, sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.38;
                            color: #1b2437;

                            img {
                                width: 10px !important;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .person-text-content-ov {
            width: 50vw;
            height: 100vh;
            float: left;
            background-color: #3945ae !important;

            .close-icon-inner-ov {
                padding: 40px;
                position: absolute;
                z-index: 100;
                right: 0;

                img {
                    width: 25px;
                    float: right;
                    cursor: pointer;
                }
            }

            .person-detail-info-ov {
                padding: 220px 200px 0;
                height: 100vh;

                .info-text-ov {
                    font-family: sans-serif;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 1.22;
                    color: #ffffff;

                    @media only screen and (max-width: 1440px) {
                        font-size: 18px;
                    }
                }

                @media only screen and (max-width: 1440px) {
                    padding: 170px 115px 0;
                }
            }
        }
    }

}

// // // // // // // //
// // // MEDIA // // //
// // // // // // // //


// // // For card mobile // // //

@media (min-width: 420px) and (max-width: 720px) {
    .card {
        width: 380px;
    }
}

@media (min-width: 320px) and (max-width: 420px) {
    .card {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .card {
        width: 100%;
    }
}

