<div class="my-container team-wrapper background-dark pr-0 desktop" [style.height]="'100vh'">
    <div id="team-wrapper" class="vertical-center">
        <div class="row">

            <div class="col-12 col-xl-11 offset-xl-1">

                <div class="row top-text-wrapper">
                    <div class="col-4">
                        <div class="section-title">
                            {{title}}
                        </div>
                    </div>


                    <div class="col-7">
                        <div class="section-description">
                            {{text}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="slider-wrapper">

                        <div id="team-carousel-wrapper" (mouseenter)="mouseEnter2()" (mouseleave)="mouseLeave2()"
                             (mousewheel)="mouseWheel2($event)">
                            <owl-carousel-o [options]="customOptions" class="m-0 p-0" #teamCarousel>
                                <ng-container *ngFor="let person of team, let i = index">
                                    <ng-template class="card-section" carouselSlide>
                                        <div id="" class="slider-item slider-item-{{ i }}"
                                             (click)="initPerson($event, i)">

                                            <div class="card-content vertical-center">
                                                <div class="image-wrapper">
                                                    <img [src]="imageUrl + person.avatar" alt="alt">
                                                </div>

                                                <div class="info-wrapper">
                                                    <div class="person-name">
                                                        {{ person.fullName['en'] }}
                                                    </div>

                                                    <div class="person-position">
                                                        {{ person.position['en'] }}
                                                    </div>

                                                    <div class="person-location">
                                                        <img class="d-inline" src="assets/images/location-sign.png"
                                                             alt="locator">
                                                        <span class="d-inline">Armenia</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>

                            </owl-carousel-o>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div id="detail-view"
         class="team-detail"
         (mouseenter)="mouseEnter()"
         (mouseleave)="mouseLeave()"
         (mousewheel)="mouseWheel($event)"
         (dragend)="mouseDragEnd($event)"
         [style.width]="startPosition['width'] + 'px'"
         [style.height]="startPosition['height'] + 'px'"
         [style.top]="startPosition['y'] + 'px'"
         [style.left]="startPosition['x'] + 'px'"
         [style.transition]="'1100ms all ease-in-out 1000ms;'">

        <div id="curtain"></div>
        <div *ngIf="tabToOpen || tabToOpen == 0" class="hiddenAtFirst">

            <!--            <owl-carousel-o [options]="customOptionsTeam" class="m-0 p-0" #teamDetailSlider>-->
            <!--                <ng-container *ngFor="let person of team, let i = index">-->
            <!--                    <ng-template class="card-section" carouselSlide id="{{ i }}">-->
            <div class="big-slider" *ngFor="let person of team, let i = index" id="big-slide-{{ i }}"
                 [style.position]="'absolute'">


                <div class="information-wrapper">
                    <div class="person-info">
                        <div class="card-side vertical-center">
                            <div class="image-wrapper" [style.transition]="'1100ms all'">
                                <img [src]="imageUrl + person.avatar" alt="alt" [style.transition]="'1100ms all'">
                            </div>

                            <div class="info-wrapper" [style.transition]="'1100ms all'">
                                <div class="person-name">
                                    {{ person.fullName['en'] }}
                                </div>

                                <div class="person-position">
                                    {{ person.position['en'] }}
                                </div>

                                <div class="person-location">
                                    <img class="d-inline" src="assets/images/location-sign.png"
                                         alt="locator">
                                    <span class="d-inline">Armenia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="person-text-content"
                     [style.transition]="'500ms all ease-in 1000ms'"
                     [style.opacity]="'0'"
                >
                    <div class="close-icon-inner" (click)="closeTab()" [style.background]="">
                        <img src="assets/images/close-white.png" alt="s">
                    </div>
                    <div class="person-detail-info">
                        <div class="info-text" [innerHTML]=" person.info['en']"></div>
                    </div>
                </div>

            </div>

            <!--                    </ng-template>-->
            <!--                </ng-container>-->

            <!--            </owl-carousel-o>-->
        </div>
    </div>

</div>

<div class="my-container team-wrapper background-dark mobile">

    <div class="row top-text-wrapper">
        <div class="col-12">
            <div class="section-title">
                We are
            </div>
        </div>

        <div class="col-12">
            <div class="section-description">
                Developers, designers, managers and business directors. Actually we are real people just like you. We
                are good in building websites and apps, texts and design that grow businesses.
            </div>
        </div>
    </div>

    <div class="carts-wrapper">

        <div class="card" *ngFor="let person of team">
            <div class="card-content vertical-center">
                <div class="image-wrapper">
                    <img [src]="imageUrl + person.avatar" alt="alt">
                </div>
                <div class="info-wrapper">
                    <div class="person-name">
                        {{ person.fullName['en'] }}
                    </div>

                    <div class="person-position">
                        {{ person.position['en'] }}
                    </div>

                    <div class="person-location">
                        <img class="d-inline" src="assets/images/location-sign.png"
                             alt="locator">
                        <span class="d-inline">Armenia</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="hidden-slider-over">
    <app-team-slider></app-team-slider>
</div>
