<div class="row">
  <div class="col-md-10 offset-1">
    <h2 class="text-center" translate>Create New Account</h2>

    <form [formGroup]="form">
      <div class="form-group">
        <div class="form-group">

          <label for="name">Name</label>
          <input id="name" type="text" class="form-control" formControlName="name">

          <label for="description">Description</label>
          <input id="description" type="text" class="form-control" formControlName="description">

          <label for="priority">Priority</label>
          <select name="" class="form-control" id="priority" formControlName="priority">
            <option [ngValue]="p" *ngFor="let p of priorityArr">{{p}}</option>
          </select>

            <label for="slug">Slug</label>
            <input id="slug" type="text" class="form-control" formControlName="slug" (keyup)="slugFilter($event)">
            <span *ngIf="slugInvalid">this slug is used, change slug </span>
        </div>
        <button type="button" class="btn btn-primary" (click)="sendForm()" [disabled]="form.invalid || slugInvalid">Create
          <i class="fa fa-check"></i>
        </button>
      </div>
    </form>
  </div>

</div>








