$bold: 'Montserrat Bold', sans-serif;
$light: 'Montserrat Light', sans-serif;

img {
    width: 100%;
    max-height: 304px;
}

.text-wrapper {
    padding: 0 22px;
}

.heading, .description {
    width: 100%;
}

.heading {
    color: #3945ae;
    object-fit: contain;
    font-family: $bold;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    word-wrap: break-word;
}

.description {
    color: #1b2437;
    object-fit: contain;
    font-family: $light;
    font-size: 16px;
    line-height: 1.19;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    word-wrap: break-word;
}

.text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.blue-background {
    .heading, .description {
        color: #FFFFFF !important;
    }
}

// // // MEDIA // // //

@media (max-width: 992px) {
    .block-card {
        padding-bottom: 24px;
    }
}
