<div class="container-fluid">
    <div
        class="row service-block-wrapper"
        [ngClass]="{'blue-background': content.backColor}">

        <div class="col-12 p-0 section-1">

            <div class="row">
                <div class="block-card col-6 col-lg-3 p-0">
                    <img
                        [src]="content.row1.img1URL"
                        [style.object-fit]="content.objectFit"
                        [style.object-position]="content.verticalAlignment + ' ' + content.alignment"
                        alt="404">
                </div>

                <div class="block-card col-6 col-lg-3 text-wrapper">
                    <div class="text">
                        <div class="heading">
                            {{content.row1.enTitle1}}
                        </div>
                        <div class="description">
                            {{content.row1.enDescription1}}
                        </div>
                    </div>
                </div>

                <div class="block-card col-6 col-lg-3 p-0">
                    <img [src]="content.row1.img2URL"
                         [style.object-fit]="content.objectFit"
                         [style.object-position]="content.verticalAlignment + ' ' + content.alignment"
                         alt="404">
                </div>

                <div class="block-card col-6 col-lg-3 text-wrapper">
                    <div class="text">
                        <div class="heading">
                            {{content.row1.enTitle2}}
                        </div>
                        <div class="description">
                            {{content.row1.enDescription2}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 p-0section-2">

            <div class="row">
                <div class="block-card col-6 col-lg-3 text-wrapper">
                    <div class="text">
                        <div class="heading">
                            {{content.row2.enTitle1}}
                        </div>
                        <div class="description">
                            {{content.row2.enDescription1}}
                        </div>
                    </div>
                </div>

                <div class="block-card col-6 col-lg-3 p-0">
                    <img
                        [src]="content.row2.img1URL"
                        [style.object-fit]="content.objectFit"
                        [style.object-position]="content.verticalAlignment + ' ' + content.alignment"
                        alt="404">
                </div>

                <div class="block-card col-6 col-lg-3 text-wrapper">
                    <div class="text">
                        <div class="heading">
                            {{content.row2.enTitle2}}
                        </div>
                        <div class="description">
                            {{content.row2.enDescription2}}
                        </div>
                    </div>
                </div>

                <div class="block-card col-6 col-lg-3 p-0">
                    <img [src]="content.row2.img2URL"
                         [style.object-fit]="content.objectFit"
                         [style.object-position]="content.verticalAlignment + ' ' + content.alignment"
                         alt="404">
                </div>
            </div>

        </div>

    </div>
</div>
