.cabinet {
    height: auto;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 150px 0 80px;

    .side-menu {
        width: 250px;
        height: calc(100vh - 185px);
        position: fixed;
        user-select: none;

        .side-menu-list {
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 3px 18px 0 rgba(157, 206, 255, 0.39);

            .side-menu-list-ul {
                padding-top: 45px;
                text-decoration: none;

                .side-menu-list-li {
                    font-size: 22px;
                    letter-spacing: 0.2px;
                    color: #3966ae;
                    padding: 10px 0 10px 40px;
                    text-decoration: none;
                    position: relative;

                    .menu-item-text {
                        margin: 0;
                    }

                    .notify {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        width: 25px;
                        height: 25px;
                        background: #7ce27f;
                        line-height: 25px;
                        border: 1px solid #7ce27f;
                        border-radius: 50%;
                        padding: 0 7px;
                        font-size: 14px;
                        font-weight: bold;
                        color: white;
                    }
                }

                li.active {
                    background: rgba(157, 206, 255, 0.39);;
                }
            }
        }
    }

    .cabinet-content {
        width: calc(100vw - 260px);
        margin-left: 245px;
    }
}










