<app-top-menu-client></app-top-menu-client>

<div class="cabinet">
    <div class="my-container p-0">
        <div class="side-menu">
            <div class="side-menu-list">
                <ul class="side-menu-list-ul">
                    <li class="side-menu-list-li" routerLinkActive="active" routerLink="projects">
                        <p class="d-inline-block menu-item-text">Projects</p>
                        <p *ngIf="projectsNotice && projectsNotice > 0" class="d-inline-block notify">{{ projectsNotice }}</p>
                    </li>
                    <li class="side-menu-list-li" routerLinkActive="active" routerLink="payments">
                        <p class="d-inline-block menu-item-text">Payments</p>
                        <p class="d-inline-block notify">8</p>
                    </li>
                    <li class="side-menu-list-li" routerLinkActive="active" routerLink="settings">
                        <p class="d-inline-block menu-item-text">Settings</p>
                        <p class="d-inline-block notify">5</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="cabinet-content">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
<!--<app-footer></app-footer>-->
