<nav id="nav" class="topNav my-container">
    <div class="row" [ngClass]="{'header-white': !changeColor, 'header-violet': changeColor}" [style.transition]="'1s all'">

        <div class="col-5 col-lg-3 col-md-3 p-0 logo">
            <a routerLink="" [style.transition]="'1s all'"><img src="{{url}}" alt="" [style.transition]="'1s all'"></a>
        </div>

        <div class="col-7 col-lg-9 col-md-9 p-0">
            <div class="row top-menu-text">
                <div class="w-100">

                    <ul class="top-menu-navigation w-100">
                        <li class="nav-item">
                            <a class="active" href="#section1">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#section4">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a href='#section6'>Blog</a>
                        </li>

                        <li class="nav-item">
                            <a href="#section7">Contact</a>
                        </li>
                    </ul>

                    <button (click)="openCollapse(null)" class="navbar-toggler float-right" type="button" data-toggle="collapse"
                            data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <!--<span class="navbar-toggler-icon float-right d-none d-sm-block"></span>-->
                        <span><img src="{{urlButton}}" class="active blueToggle" alt=""></span>

                        <!--<span class="navbar-toggler-icon float-right bg-danger d-sm-none"></span>-->
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav-wrapper">

                            <ul class="my-container navbar-nav">
                                <li class="nav-item bold">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section1')">Information</a>
                                    <!--                        routerLink="/allPortfolios" routerLinkActive="active"-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section2')">About Us</a>
                                    <!--                        routerLink="/allPortfolios" routerLinkActive="active"-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section3')">FAQ</a>
                                    <!--                        routerLink="/about" routerLinkActive="active"-->
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section4')">Help</a>
                                    <!--                        routerLink="/blog" routerLinkActive="active"-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section8')">Shipping & Return</a>
                                    <!--                        routerLink="/blog" routerLinkActive="active"-->
                                </li>
                            </ul>

                            <ul class="my-container navbar-nav">
                                <li class="nav-item bold">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section2')">Information</a>
                                    <!--                        routerLink="/allPortfolios" routerLinkActive="active"-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section3')">About Us</a>
                                    <!--                        routerLink="/allPortfolios" routerLinkActive="active"-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section4')">FAQ</a>
                                    <!--                        routerLink="/about" routerLinkActive="active"-->
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section5')">Help</a>
                                    <!--                        routerLink="/blog" routerLinkActive="active"-->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="collapse"  data-target="#navbarNav" (click)="openCollapse('section8')">Shipping & Return</a>
                                    <!--                        routerLink="/blog" routerLinkActive="active"-->
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</nav>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--<div class="container">-->
<!--<a class="navbar-brand" href="#">Navbar</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->

<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul *ngIf="done" class="navbar-nav mr-auto">-->
<!--<li *ngFor="let menu of menuList" class="nav-item">-->
<!--<a class="nav-link" routerLink="{{ menu.url }}"-->
<!--routerLinkActive="active-link">{{ menu.title[language] | uppercase }}</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul  class="navbar-nav ">-->
<!--<li class="nav-item"><button class="nav-link" (click)="switchLanguage('en')">en</button></li>-->
<!--<li class="nav-item"><button class="nav-link" (click)="switchLanguage('ru')">ru</button></li>-->
<!--<li class="nav-item"><p class="nav-link" translate>language</p></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->




