a:hover {
    cursor: pointer;
}

a:active {
    transition: 100ms all;
    background-color: #3945ae;
    color: #ffffff !important;
    transform: scale(1.05);
}

.navbar-toggler {
    position: fixed;
    top: 25px;
    height: 50px;
    right: 10px;
    z-index: 99999;
    outline: none;
}

.collapse {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: 300ms all;
}


.topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    background: transparent;
    overflow: hidden;

    .logo {
        img {
            width: 250px;
            position: fixed;
            height: 50px;
            top: 25px;
            left: 70px;
            z-index: 99999;
        }
    }

    .header-white {
        .nav-item {
            a {
                color: #ffffff;
            }
        }
    }

    .header-violet {
        .nav-item {
            a {
                color: #3945ae;
            }
        }
    }


    .navbar-toggler {
        display: none;
    }


    .top-menu-navigation {
        display: block;
        position: relative;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        text-align: right;

        .nav-item {
            margin: auto;
            display: inline;
            list-style: none;
            width: 73px;
            height: 25px;
            opacity: 0.61;
            font-family: Poppins, sans-serif;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            //text-align: left;
            color: #ffffff;

            .active {
                width: 39px;
                height: 19px;
                font-size: 13px;
                line-height: 1.54;
            }
        }

    }


}

.topNav.portfolio-detail-dark {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}

.topNav.portfolio-detail-light {
    background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .3), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
}

// // // Logo/Title // // //

.logo-wrapper {
    height: 100px;

    .logo-title {
        .logo-title-webi {
            width: 90px;
            height: 38px;
            line-height: 100px;
            font-family: 'Montserrat', sans-serif;
            font-size: 31px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            //line-height: 1.23;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
            opacity: 1;
        }

        .logo-title-hub {
            width: 63px;
            line-height: 100px;
            height: 38px;
            font-family: 'Montserrat', sans-serif;
            font-size: 31px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            //line-height: 1.23;
            letter-spacing: -2.45px;
            text-align: left;
            color: #e42c64;
        }
    }
}

// // // Navbar // // //

.top-menu-text {
    height: 100px;
    //float: right;
    line-height: 100px;

    ul {
        float: right;
    }

    .nav-item {
        a {
            text-decoration: none;
            padding: 0 20px;
            //width: 73px;
            //height: 25px;
            opacity: 0.61;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            //color: #ffffff;
        }
    }

    .nav-item .active {
        //width: 39px;
        //height: 19px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

}

//// // // Media // // //
.navbar-nav-wrapper {
    position: absolute;
    top: 100px;

    .navbar-nav {
        width: 100vw;
        padding-top: 40px;

        .nav-item {
            padding: 20px 0;
            //width: 178px;
            height: 19px;
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: right;

            a {
                color: #3945ae;
            }
        }

        .bold {
            a {
                font-weight: bold !important;
            }
        }
    }
}

@media (min-width: 1040px) {
    .navbar-toggler {
        display: none;
    }
    .top-menu-navigation {
        display: block;
    }
}

@media (max-width: 1040px) {
    .navbar-toggler {
        display: block !important;
    }
    .top-menu-navigation {
        display: none !important;
    }
}

@media (min-width: 500px) and (max-width: 720px) {
    .logo {
        img {
            left: 33px !important;
            width: 200px !important;
        }
    }
}

@media (max-width: 500px) {
    .logo {
        img {
            left: 33px !important;
            top: 35px !important;
            height: 30px !important;
            width: 150px !important;
        }
    }
}

//
//@media only screen and (max-width: 1201px) {
//    .topNav {
//        height: 10%;
//        padding: 0;
//    }
//
//    .navbar {
//        height: 80px;
//        padding-left: 20px;
//    }
//
//    .navbar-brand {
//        font-size: 50px;
//    }
//
//    .logo-wrapper {
//        height: 80px;
//        left: -5px;
//        width: 100px;
//        text-align: center;
//        padding: 0;
//        position: relative;
//    }
//
//    #logo {
//        line-height: 80px;
//        margin: 5px auto;
//    }
//
//    #logo img {
//        width: 50%;
//        height: 50%;
//        padding-left: 10px;
//    }
//}
//
//
//@media (max-width: 992px) {
//    .topNav {
//        height: 10%;
//    }
//
//    .navbar-expand-lg .navbar-collapse {
//        background-color: white;
//        color: #3966ae !important;
//        height: 302px;
//        width: 186px;
//        position: absolute;
//        right: -40px;
//        top: 0;
//        z-index: 99;
//    }
//
//
//    .collapse li a {
//        color: #3966be;
//        font-weight: 400;
//    }
//
//    ul {
//        position: relative;
//        top: 90px;
//        left: 0;
//    }
//
//    li {
//        display: block;
//    }
//
//    .navbar {
//        text-align: left;
//        height: 80px;
//        margin-top: 10px;
//    }
//
//    .navbar-brand {
//        padding-left: 40px;
//        font-size: 40px !important;
//    }
//
//    .logo-wrapper {
//        top: 0;
//        left: 0;
//        height: 80px;
//        text-align: center;
//        padding: 0;
//        background-color: transparent;
//    }
//
//    #logo {
//        line-height: 80px;
//        /*margin: 15px auto;*/
//    }
//
//    #logo img {
//        width: 50%;
//        height: 50%;
//        padding-left: 10px;
//        padding-top: 10px;
//    }
//
//    .navbar-toggler {
//        padding: 0;
//
//    }
//
//    .navbar-toggler-icon {
//        width: 15px;
//        height: 12px;
//
//    }
//
//    button {
//        z-index: 105;
//        outline-style: none;
//    }
//
//    .active {
//        color: darkslateblue !important;
//
//    }
//
//    .blueToggle {
//        float: right;
//        position: absolute;
//        right: 5px;
//        z-index: 300;
//
//    }
//
//    .whiteToggle {
//        z-index: 200;
//        position: absolute;
//        right: -15px;
//    }
//}

//@media (max-width: 767px) {
//    .navbar {
//        text-align: left;
//        height: 70px;
//    }
//    .logo-wrapper {
//        top: 0;
//        left: 0;
//        height: 70px;
//        text-align: center;
//        padding: 0;
//        background-color: transparent;
//    }
//    #logo {
//        line-height: 70px;
//        /*margin: 15px auto;*/
//    }
//
//}
//
//
