<div class="d-flex">
  <div class="mr-auto p-2">
    <button class="btn btn-primary" (click)="create()" translate>Create Portfolio</button>

  </div>
  <div class="p-2">
    <input class="mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
  </div>
</div>


<br>
<table class="table table-dark table-hover table-striped">
  <thead class="thead-light">
  <tr>
    <th>_id</th>
    <th translate>Title</th>
    <th translate>url</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let portfolio of portfolios ; let i = index">

    <td>{{portfolio._id}}</td>
    <td>{{portfolio.title.en}}</td>
    <td>{{portfolio.url}}</td>

    <td>
      <button [routerLink]="['/admin/portfolio', portfolio._id]" (click)="viewPortfolio(portfolio)"
              class="btn btn-info"><i class="fas fa-eye"></i></button>

      <button *ngIf="adminService.canUpdate()" (click)="updatePortfolio(portfolio)" style="margin-left: 20px;" class="btn btn-primary"><i
        class="far fa-edit"></i></button>

      <button *ngIf="adminService.canDelete()" (click)="deletePortfolio(portfolio,i)" style="margin-left: 20px;" class="btn btn-danger"><i
        class="fa fa-times"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
