<div class="main">
    <button (click)="create()" class="btn button">Create admin</button>
    <div class="row" *ngIf="admins.length > 0">
        <div class="col-xl-4 col-lg-4 col-12 bottom-30" *ngFor="let admin of admins" (click)="edit(admin)">
            <div class="card" id="card-0">

                <div class="card-header">
                    <span>default</span>
                    <div class="widget-controls">
                        <a class="transition chevrons" data-widgster="expand" style="display: none;">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="transition chevrons show-arrow" data-widgster="collapse" style="">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="transition" data-widgster="fullscreen" (click)="fullscreenCard(0)"><i
                            class="fa fa-expand"></i></a>
                        <a class="transition" data-widgster="restore" href="#" style="display: none;"><i
                            class="fa fa-compress"></i></a>
                        <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="card-body widget-body" style="">
                    <div class="media">
                        <img alt="Generic placeholder image" class="d-flex mr-3"
                             [src]="admin.avatar? 'http://localhost:3000/uploads/admin/' + admin.avatar: 'assets/images/users/user.jpg'"
                             width="70">

                        <div class="media-body">
                            <h4 class="mt-0">{{admin.firstName}}</h4>
                            <h4 class="mt-0">{{admin.lastName}}</h4>
                            <p>{{admin.email}}</p>
                            <p>{{admin.role}}</p>
                            <p>can create <span>{{admin.permissions['can_create']}}</span></p>
                            <p>can update <span>{{admin.permissions['can_update']}}</span></p>
                            <p>can delete <span>{{admin.permissions['can_delete']}}</span></p>
                            <br>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
