<div class="row">
    <div class="col-6">
        <div class="card">
            <h2>Very long title</h2>
            <p>Mega extra long subtitle lorem ipsum sit.</p>
            <p class="money">$150000</p>
            <span class="cardSale">Sale 14%</span>
            <span class="cardDate">14.25.2019</span>
            <div class="oneCircle"></div>
            <div class="twoCircle"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="table-list">
            <table>
                <h3 class="tableTitle">Standard Table Design</h3>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Joined</th>
                </tr>
                <!--<tr>-->
                <!--<td>Jon Smith</td>-->
                <!--<td>hello@gmail.com</td>-->
                <!--<td>Editor</td>-->
                <!--<td>23 Apr. 2018</td>-->
                <!--</tr>-->
                <tr>
                    <td>Pol Macartny</td>
                    <td>world@gmail.com</td>
                    <td>Admin</td>
                    <td>23 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Justin Bibber</td>
                    <td>home@gmail.com</td>
                    <td>Editor</td>
                    <td>23 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Stiven King</td>
                    <td>good@gmail.com</td>
                    <td>Admin</td>
                    <td>23 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>hello@mail.com</td>
                    <td>Developer</td>
                    <td>24 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>hello@mail.com</td>
                    <td>Developer</td>
                    <td>24 Apr. 2018</td>
                </tr>
            </table>
        </div>
    </div>
</div>
