#slider-one, #slider-one-mobile {
    .slider-item-wrapper {
        height: 37vh;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(42px);
        backdrop-filter: blur(42px);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.3);

        img {
            max-height: 37vh;
        }
    }
}
#slider-two {
    .slider-item-wrapper {
        height: 22vh;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(42px);
        backdrop-filter: blur(42px);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.3);

        img {
            max-height: 22vh;
        }
    }
}
