<!--first slider-->

<div *ngIf="!mobile" class="slider-side portfolio-slider" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
     (mousewheel)="mouseWheel($event)">
    <div id="slider-one" [style.height]="'40vh'">
        <owl-carousel-o [options]="customOptionsOne" class="m-0 p-0" #sliderOne>

            <ng-container style="height: 40vh">

                <ng-template *ngFor="let card of cardsTop, let portIndex = index" class="card-section" carouselSlide>
                    <div class="slider-item-wrapper" (click)="openPortfolio(card.slug)" (mouseover)="over(card, portIndex)" (mouseleave)="leave()" >
                        <img src="{{card.image}}" alt="er">
                    </div>
                </ng-template>


            </ng-container>

<!--            <ng-container style="height: 40vh" *ngIf="cardsTop.length <= 2">-->

<!--                <ng-template *ngFor="let card of cardsTop, let portIndex = index" class="card-section" carouselSlide>-->
<!--                    <div class="slider-item-wrapper" (click)="openPortfolio(card.slug)" (mouseover)="over(card, portIndex)" (mouseleave)="leave()" >-->
<!--                        <img src="{{card.image}}" alt="er">-->
<!--                    </div>-->
<!--                </ng-template>-->

<!--            </ng-container>-->

        </owl-carousel-o>
    </div>

    <!--second slider-->

    <div id="slider-two" [style.height]="'25vh'">
        <owl-carousel-o [options]="customOptionsTwo" class="m-0 p-0" #sliderTwo>

            <ng-container>
                <ng-template *ngFor="let card of cardsBottom, let portIndex = index" class="card-section" carouselSlide>
                    <div class="slider-item-wrapper" (click)="openPortfolio(card.slug)" (mouseover)="over(card, portIndex)" (mouseleave)="leave()" >
                        <img src="{{card.image}}" alt="er">
                    </div>
                </ng-template>

            </ng-container>

<!--            <ng-container *ngIf="cardsBottom.length <= 2">-->
<!--                <ng-template *ngFor="let card of cardsBottom, let portIndex = index" class="card-section" carouselSlide>-->
<!--                    <div class="slider-item-wrapper" (click)="openPortfolio(card.slug)" (mouseover)="over(card, portIndex)" (mouseleave)="leave()" >-->
<!--                        <img src="{{card.image}}" alt="er">-->
<!--                    </div>-->
<!--                </ng-template>-->

<!--            </ng-container>-->

        </owl-carousel-o>
    </div>
</div>

<div *ngIf="mobile" class="slider-side portfolio-slider" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"
     (mousewheel)="mouseWheel($event)">
    <div id="slider-one-mobile" [style.height]="'40vh'">
        <owl-carousel-o [options]="customOptionsOne" class="m-0 p-0">

            <ng-container style="height: 40vh">

                <ng-template *ngFor="let card of cardsTop" class="card-section" carouselSlide>
                    <div class="slider-item-wrapper" (click)="openPortfolio(card.slug)" (mouseover)="over(card)" (mouseleave)="leave()" >
                        <img src="{{card.image}}" alt="er">
                    </div>
                </ng-template>

                <ng-template *ngFor="let card of cardsBottom" class="card-section" carouselSlide>
                    <div class="slider-item-wrapper" (click)="openPortfolio(card.slug)" (mouseover)="over(card)" (mouseleave)="leave()" >
                        <img src="{{card.image}}" alt="er">
                    </div>
                </ng-template>

            </ng-container>

        </owl-carousel-o>
    </div>
</div>
