
<div class="row">
    <div class="col-12">
        <div class="table-list">
            <table>
                <h3 class="tableTitle">Standard Table Design</h3>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Joined</th>
                </tr>
                <tr>
                    <td>Pol Macartny</td>
                    <td>world@gmail.com</td>
                    <td>Admin</td>
                    <td>23 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Justin Bibber</td>
                    <td>home@gmail.com</td>
                    <td>Editor</td>
                    <td>23 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Stiven King</td>
                    <td>good@gmail.com</td>
                    <td>Admin</td>
                    <td>23 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>hello@mail.com</td>
                    <td>Developer</td>
                    <td>24 Apr. 2018</td>
                </tr>
                <tr>
                    <td>Hello World</td>
                    <td>hello@mail.com</td>
                    <td>Developer</td>
                    <td>24 Apr. 2018</td>
                </tr>
            </table>
        </div>
    </div>
</div>
