.my-container {
}

.process {

    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}

p {
    opacity: 0.78;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.17;
}

.lineTitle {
    width: 80px;
    border: 1px solid #ffffff;
    margin: 20px 0;
}

.line {
    width: 30px;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
}
.secondDiv{
    height: auto;


}
.one{
    background-color: #4076cc;
    height: auto;
}
.two{
    height: auto;

}
.one-content{
    padding: 0 12px;
    height: auto;
}
.number {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.53;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    padding-top: 45px;
    padding-left: 10px;
}
.text li{
    margin-bottom: 0;
}
.two-content .text{
    padding-left: 20px;
}

.two-content, .one-content, .heading{
    position: relative;
    top: 40px !important;
   padding-bottom: 40px;
}


h6 {
    opacity: 0.78;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
}
@media (max-width: 1700px) and (min-width: 1011px){
    .process {
        height: auto;
    }
    .one, .two{
        /*height: auto !important;*/
        width: 100%;
    }
    .two-content, .one-content, .heading{
        position: relative;
        top: 5%;
        padding-bottom: 20px;
    }
    .title{
        font-size: 48px;
        font-weight: 500;
    }
    h6{
        font-soze: 20px;
    }
    li{
        font-size: 18px;
    }
    ul{
        padding-bottom: 20px;
    }
}
@media (max-width: 1300px) {
    li{
        font-size: 14px !important;
    }
}
@media (max-width: 1010px) {
    .one, .two{
        height: auto;
        width: 100%;
    }
    .row{
        width: 100%;

    }
    .two-content, .one-content{
        height: auto;
        width: 100%;
        padding-bottom: 20px !important;
    }
    .heading{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        top:5%;
        bottom: 5%;
    }

    .heading .title {

        font-size: 30px;
        font-weight: 500;
        line-height: 1.11;

    }
    .one, .two{
        padding: 24px 0;
    }
    .text{
        opacity: 0.73;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        padding-top: 10px;
    }
    }

@media (max-width: 768px) {
    .process{
        padding:0;
    }
    .one, .two{
        margin-left: 50px;
        height: auto;
        width: 100%;
    }

    .one-content, .two-content{
        padding: 0 20px;
    }
}
