<div class="my-container process">
<div class="row h-100">
<div class="col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
    <div class="row">
        <div class="col-11 col-sm-11 col-md-11 offset-md-1 col-lg-5 ml-5 pt-lg-5 h-100">
             <div class="heading">
                <p>Process</p>
                <div class="lineTitle"></div>
                <h2 class="title" [innerHTML]="title"></h2>
            </div>
        </div>

        <div class="col-11 col-md-11 ml-md-5 ml-sm-5 ml-xs-5 ml-lg-0 offset-md-1 col-lg-6 offset-lg-0 p-0 row secondDiv">
            <div class="col-12 ml-xs-2 ml-sm-2 ml-md-0 col-sm-12 col-md-6 col-lg-6 p-md-2 pt-lg-5 one">
                <div class="one-content">
                    <p class="number">01</p>
                    <div class="line"></div>
                    <h6>Best Practices & Security You Can Count On</h6>
                    <ul class="text">
                        <li>WEBI leverages over 150 years of collective coding experience and technical ingenuity</li>
                        <br>
                        <li>Our project management approach utilizes the Agile Methodology, a best practice to ensure effective and timely delivery on the customer’s requirements</li>
                        <br>
                        <li>Technical team members include custom web/web app developers, mobile app developers and systems integration specialists</li>
<!--                        <li>We pride ourselves in developing clever solutions that are not only cost-effective but also highly secure and reliable</li>-->
                    </ul>
                </div>
            </div>


            <div class="col-12 ml-xs-2 ml-sm-2 ml-md-0 col-lg-6 col-sm-12 col-md-6 p-md-2 pt-lg-5 two">
                <div class="two-content">
                    <p class="number">02</p>
                    <div class="line"></div>
                    <h6>We Make the Most of the Best Resources</h6>
                    <ul class="text">
                        <li>We unite a diversity of talent from different regions to minimize costs and maximize the value we bring you</li>
                        <br>
                        <li>With a distributed team structure and global partnerships, we deliver premier level technology and marketing capabilities, at highly competitive prices </li>
                        <br>
                        <li>It's taken time, but we've sourced the best talent, in the right places</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
