.desktop {
    .title-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.mobile {
    .title-wrapper {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.page-text-content-wrapper {
    padding-right: 30px;

    .number {
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.22;
        color: #e42c64;
        padding-bottom: 30px;
    }

    .text-content-title {
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.21;
        color: #3945ae;
        padding-bottom: 25px;
    }

    .text-content-description {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        color: #1b2437;
    }
}

