<div class="my-container pr-0 background-light desktop" [style.height]="'100vh'">

    <div class="vertical-center">

        <div class="portfolio row p-0">
            <div class="col-12 col-sm-12 col-xl-11 offset-xl-1 title-wrapper">
                <div class="section-title">Some Examples</div>
            </div>

            <div class="col-12 col-sm-12 col-xl-11 offset-xl-1">
                <div class="row">
                    <div class="col-5 p-0">
                        <div class="page-text-content-wrapper">
                            <!--                           <div class="number">01</div>-->
                            <!--                           <div class="text-content-title">Best Practices & Security You Can Count On</div>-->
                            <!--                           <div class="text-content-description">-->
                            <!--                               WEBI leverages over 150 years of collective coding experience and technical ingenuity-->
                            <!--                               <br><br>-->
                            <!--                               Our project management approach utilizes the Agile Methodology, a best practice to ensure effective and timely delivery on the customer’s requirements-->
                            <!--                               <br><br>-->
                            <!--                               Technical team members include custom web/web app developers, mobile app developers and systems integration specialists-->
                            <!--                           </div>-->

                            <div class="text-content-title" *ngIf="!current || current.title === 'Default' ">
                                <div class="number">01</div>
                                <div class="text-content-title">Best Practices & Security You Can Count On</div>
                                <div class="text-content-description">
                                    WEBI leverages over 150 years of collective coding experience and technical
                                    ingenuity
                                    <br><br>
                                    Our project management approach utilizes the Agile Methodology, a best practice to
                                    ensure effective and timely delivery on the customer’s requirements
                                    <br><br>
                                    Technical team members include custom web/web app developers, mobile app developers
                                    and systems integration specialists
                                </div>
                            </div>

                            <div class="text-content-title" *ngIf="current && current.title !== 'Default' ">
                                <div class="number">{{'0' + (current.id + 2) }}</div>
                                <div class="text-content-title">{{current.title}}</div>
                                <div class="text-content-description" [innerHTML]="current.desc | replace:'--'"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-7 p-0 slider-wrapper" [style.height]="'65vh'">

                        <app-slider-inner></app-slider-inner>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="my-container background-light mobile">
    <div class="row portfolio">

        <div class="col-12 title-wrapper">
            <div class="section-title">Some Examples</div>
        </div>

        <div class="col-12">
            <div class="row">

                <div class="col-12 p-0 page-text-content-wrapper">
                    <div class="text-content-title" *ngIf="!current || current.title === 'Default' ">
                        <div class="text-content-title">Best Practices & Security You Can Count On</div>
                        <div class="text-content-description">
                            WEBI leverages over 150 years of collective coding experience and technical
                            ingenuity
                            <br><br>
                            Our project management approach utilizes the Agile Methodology, a best practice to
                            ensure effective and timely delivery on the customer’s requirements
                            <br><br>
                            Technical team members include custom web/web app developers, mobile app developers
                            and systems integration specialists
                        </div>
                    </div>

                    <div class="text-content-title" *ngIf="current && current.title !== 'Default' ">
                        <div class="text-content-title">{{current.title}}</div>
                        <div class="text-content-description" [innerHTML]="current.desc | replace:'--'"></div>
                    </div>
                </div>

                <div class="col-12 p-0 slider-wrapper">
                    <app-slider-inner></app-slider-inner>
                </div>

            </div>
        </div>

    </div>
</div>

<!--[style.background]="'green'"-->

<!--        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5 offset-lg-1 content">-->
<!--            <h2 [innerHTML]="title"></h2>-->
<!--        </div>-->
<!--        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5">-->
<!--            <p class="text">{{text}}</p>-->
<!--        </div>-->


<!--    <div *ngIf="done" class="project-wrapper">-->

<!--        <div class="row top-line">-->
<!--            <div class="col-12 col-sm-4 col-md-3 offset-md-1 one addHover"><a routerLink="/portfolio/{{arrId[0]}}"><img-->
<!--                [src]="imageUrl + arr[0]" alt=""></a>-->
<!--                <div class="hover">-->
<!--                    <div class="textHover ">-->
<!--                        <p class="animated infinite bounceInUp">{{arrHover[0].en}}</p>-->
<!--                        <a routerLink="/portfolio/{{arrId[0]}}">View project</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 col-sm-4 col-md-3  two addHover"><a routerLink="/portfolio/{{arrId[1]}}"><img-->
<!--                [src]="imageUrl + arr[1]" alt=""></a>-->
<!--                <div class="hover">-->
<!--                    <div class="textHover">-->
<!--                        <p>{{arrHover[1].en}}</p>-->
<!--                        <a routerLink="/portfolio/{{arrId[1]}}">View project</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 col-sm-4 col-md-4 three addHover"><a routerLink="/portfolio/{{arrId[2]}}"><img-->
<!--                [src]="imageUrl + arr[2]" alt=""></a>-->


<!--                <div class="chover">-->
<!--                    <div class="textHover">-->
<!--                        <p>{{arrHover[2].en}}</p>-->
<!--                        <a routerLink="/portfolio/{{arrId[2]}}">View project</a>-->
<!--                    </div>-->
<!--                </div>-->


<!--            </div>-->
<!--        </div>-->

<!--        <div class="row bottom-line">-->
<!--            <div class="col-12 col-md-6 offset-md-1 five  d-md-block d-xl-block addHover bottom-first"><a-->
<!--                routerLink="/portfolio/{{arrId[3]}}"><img [src]="imageUrl + arr[3]" alt=""></a>-->
<!--                <div class="hover">-->
<!--                    <div class="textHover">-->
<!--                        <p>{{arrHover[3].en}}</p>-->
<!--                        <a routerLink="/portfolio/{{arrId[3]}}">View project</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4 six addHover"><a routerLink="/portfolio/{{arrId[4]}}"><img-->
<!--                [src]="imageUrl + arr[4]" alt=""></a>-->
<!--                <div class="hover">-->
<!--                    <div class="textHover">-->
<!--                        <p>{{arrHover[4].en}}</p>-->
<!--                        <a routerLink="/portfolio/{{arrId[4]}}">View project</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a routerLink="allPortfolios">-->
<!--        <div class="col-12 bottomBtn">-->
<!--            <button class="btn btn-link">More works</button>-->
<!--        </div>-->
<!--        </a>-->


