.advantage {
    position: relative;
    .advantage-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .title {
        position: relative;
        transition: 2s all;
        h2 {
            position: relative;
            width: 416px;
            height: 228px;
            object-fit: contain;
            font-size: 76px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: -2.05px;
            text-align: left;
            color: #ffffff;
        }
    }
    .section-title {
        position: relative;
        transition: 1.5s all ease;
    }
}
.desktop {
    padding-top: 20px;
    padding-bottom: 20px;
}
.mobile {
    .title {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
@media (min-width: 720px) and (max-width: 992px) {
    .advantage {
        padding-bottom: 20px;
    }
}
