<div class="my-container advantage background-dark pr-0 desktop" [style.height]="'100vh'">
    <div class="row">
        <div class="col-12 col-xl-11 offset-xl-1 advantage-inner">
            <div class="sections-box">

                <div class="row">

                    <div class="col-5 title">
                        <div class="section-title" [style.top]="titleTop"> The WEBI Advantage</div>
                    </div>

                    <div class="col-7" (mousemove)="mouseOver($event)" (mouseleave)="mouseLeave()">
                        <app-mouse-slider-advantage></app-mouse-slider-advantage>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="my-container advantage background-dark mobile">
    <div class="row sections-box">

        <div class="col-12 title">
            <div class="section-title"> The WEBI Advantage</div>
        </div>

        <div class="col-12" [style.padding-bottom]="'80px'">
            <app-mouse-slider-advantage></app-mouse-slider-advantage>
        </div>

    </div>
</div>
