<button (click)="back()" class="btn button ml-1"><i class="fa fa-arrow-left"></i> back to Invoice list</button>

<div class="row pt-5">
    <div class="col-10 offset-1 border">

        <div class="invoice">
            <form action="" [formGroup]="form">
                <div class="invoice_top_border"></div>
                <div class="invoice_header">
                    <div class="row">
                        <div class="col-8">
                            <h2>Invoice</h2>
                        </div>
                        <div class="col-4">
                            <h2>Logo</h2>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6">
                            <h3>From</h3>
                            <div class="row">

                                <div class="col-3 mt-3">
                                    <label for="fromName">Name</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="text" class="form-control" id="fromName" formControlName="fromName"
                                           placeholder="Name"
                                           [ngClass]="{'invalid':form['controls'].fromName.touched && form['controls'].fromName.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="fromEmail">Email</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="email" class="form-control" id="fromEmail" formControlName="fromEmail"
                                           placeholder="name@business.com"
                                           [ngClass]="{'invalid':form['controls'].fromEmail.touched && form['controls'].fromEmail.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="fromAddress">Address</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="text" class="form-control" id="fromAddress"
                                           formControlName="fromAddress" placeholder="Street"
                                           [ngClass]="{'invalid':form['controls'].fromAddress.touched && form['controls'].fromAddress.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="fromPhone">Phone</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="string" class="form-control" id="fromPhone" formControlName="fromPhone"
                                           placeholder="(123) 456 789">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="fromBusiness">Business Number</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="string" class="form-control" id="fromBusiness"
                                           formControlName="fromBusiness" placeholder="e.g. 123-45-6789" >
                                </div>

                            </div>
                        </div>
                        <div class="col-6">
                            <h3>To</h3>

                            <div class="row">
                                <div class="col-3 mt-3">
                                    <label for="toName">Name</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="text" class="form-control" id="toName" formControlName="toName"
                                           placeholder="Client Name" [ngClass]="{'invalid':form['controls'].toName.touched && form['controls'].toName.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="toEmail">Email</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="email" class="form-control" id="toEmail" formControlName="toEmail"
                                           placeholder="name@client.com" [ngClass]="{'invalid':form['controls'].toEmail.touched && form['controls'].toEmail.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="toAddress">Address</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="text" class="form-control" id="toAddress" formControlName="toAddress"
                                           placeholder="Street" [ngClass]="{'invalid':form['controls'].toAddress.touched && form['controls'].toAddress.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="toPhone">Phone</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="string" class="form-control" id="toPhone" formControlName="toPhone"
                                           placeholder="(123) 456 789">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <hr>
                <div class="invoice_after_line">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">

                                <div class="col-3 mt-3">
                                    <label for="number">Number</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="string" class="form-control" id="number" formControlName="number"
                                           placeholder="INV11111112" [ngClass]="{'invalid':form['controls'].number.touched && form['controls'].number.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="date">Date</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="date" class="form-control" id="date" formControlName="date" [ngClass]="{'invalid':form['controls'].date.touched && form['controls'].date.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="due">Due</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <input type="date" class="form-control" id="due" formControlName="due" [ngClass]="{'invalid':form['controls'].due.touched && form['controls'].due.invalid}">
                                </div>

                                <div class="col-3 mt-3">
                                    <label for="currency">Currency</label>
                                </div>
                                <div class="col-9 mt-3">
                                    <select name="" id="currency" class="form-control" formControlName="currency">
                                        <option [value]="i"
                                                *ngFor="let currency of currencies; let i = index">{{currency}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="invoice_body pt-3">
                    <div class="row pt-2 pb-2" style="background-color: #344154; color : white">
                        <div class="col-6">
                            Description
                        </div>
                        <div class="col-2">Rate</div>
                        <div class="col-2">Qty</div>
                        <div class="col-2">Amount</div>
                    </div>

                    <div formArrayName="details" class="pt-2"
                         *ngFor="let detail of form.get('details')['controls']; let i = index">

                        <div [formGroupName]="i">
                            <div class="row pb-2">
                                <div class="col-1">
                                    <button (click)="orDelete(i)">X</button>
                                </div>
                                <div class="col-5 ">
                                    <input aria-label="false" type="text" class="form-control"
                                           formControlName="description" placeholder="Item Description">
                                </div>

                                <div class="col-2">
                                    <input aria-label="false" type="number" class="form-control" formControlName="rate"
                                           (keyup)="onKeyUp(i)" placeholder="0">
                                </div>

                                <div class="col-2">
                                    <input aria-label="false" type="number" class="form-control" formControlName="qty"
                                           (keyup)="onKeyUp(i)" placeholder="0">
                                </div>

                                <div class="col-2">
                                    <input aria-label="false" type="number" formControlName="amount"
                                           class="form-control">
                                </div>


                                <div class="col-5 offset-1 mt-2">
                                    <textarea name="notes" cols="30" rows="10" class="form-control" aria-label="false"
                                              formControlName="addDetails"></textarea>
                                </div>

                                <div class="col-12  mt-3 b"></div>

                            </div>

                        </div>


                    </div>

                    <div class="row mt-2">
                        <div class="col-1">
                            <button (click)="addForm()">+</button>
                        </div>
                        <div class=" col-12 mt-2 b">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-4 offset-2">
                            <div class="row" formGroupName="fee">
                                <div class="col-4">
                                    <label for="fee">Add Fee</label>
                                </div>
                                <div class="col-8">
                                    <input type="checkbox" id="fee" (click)="feeChange()" [checked]="feeFormSeen">
                                </div>

                                <div class="form-group" *ngIf="feeFormSeen">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="feeName">Name</label>
                                        </div>
                                        <div class="col-8">
                                            <select name="" id="feeName" class="form-control" formControlName="name">
                                                <option [ngValue]="name" *ngFor="let name of feeNames">{{name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-4">
                                            <label for="feeType">Type</label>
                                        </div>
                                        <div class="col-8">
                                            <select name="" id="feeType" class="form-control" formControlName="type"
                                                    (change)="countBalance()">
                                                <option [ngValue]="i"
                                                        *ngFor="let type of feeTypes; let i = index">{{type}}</option>
                                            </select>
                                        </div>

                                        <div class="col-4">
                                            <label for="feeValue">Value</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="number" id="feeValue" class="form-control"
                                                   formControlName="value" (keyup)="countBalance()">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-4 offset-2">

                            <div class="row">
                                <div class="col-6">
                                    <p>Subtotal</p>
                                </div>
                                <div class="col-6">
                                    <p>{{subTotal}}</p>
                                </div>

                                <div class="col-6">
                                    <p>Fee ({{form.controls.fee['controls'].value.value}} <span
                                        *ngIf="form.controls.fee['controls'].type.value === 1">%</span>)
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>{{form.controls.fee['controls'].value.value}} <span
                                        *ngIf="form.controls.fee['controls'].type.value === 1">%</span></p>
                                </div>


                                <div class="col-6">
                                    <p>Total</p>
                                </div>
                                <div class="col-6">
                                    <p>{{balance}}</p>
                                </div>


                                <div class="col-6">
                                    <p class="font-weight-bold">Balance Due</p>
                                </div>
                                <div class="col-6">
                                    <p class="font-weight-bold">{{balance}}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
          <textarea name="" id="" cols="30" rows="10" aria-label="false" formControlName="notes" class="form-control"
                    placeholder="Notes - any relevant information not covered, additional terms and conditions">
          </textarea>
                        </div>
                    </div>
                    <button class="btn button" type="submit" (click)="myCreate()" [disabled]="form.invalid">Create
                    </button>

                </div>
                <div class="mt-3">
                </div>
            </form>
        </div>


    </div>
</div>
