.invoices {
    .info {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        background: aliceblue;
        border-radius: 4px;
        padding: 0 20px;

        .new {
            color: green;
        }

        .date {
            color: #1b2437;
            border-top: 1px dashed #1b2437;
        }

        .accepted, .pending, .refused {
            margin-top: 3px;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }

        //.pending{
        //    background-image:url("./assets/images/icons/waiting.png");
        //}
        //
        //.refused{
        //    background-image:url("./assets/images/icons/refused.png");
        //}
    }

    img {
        cursor: pointer;
        width: 100%;
    }
}

.invoice-detail-view {
    width: 100%;
    height: auto;
    position: fixed;
    top: 115px;
    left: 0;
    overflow: auto;
    background: white;

    .invoice-wrapper {
        width: 100%;
        height: 100vh;
        background: white;

        .invoice {
            width: 70%;
            margin: auto;
            height: calc(100vw * .7 * 297 / 210);
            border-radius: 10px;
            box-shadow: 0 3px 18px 0 rgba(157, 206, 255, 0.39);
            padding: 100px 0;
            //overflow: auto;
            background: white;

            img {
                width: 100%;
            }
        }
    }

    .close-btn, .leave-note-ref, .leave-note-acc {
        position: fixed;
        top: 120px;
        right: 10px;
        padding: 10px;
        background: #1c7430;
        cursor: pointer;
    }

    .leave-note-ref {
        top: 180px;
        background: #6c757d;
    }

    .leave-note-acc {
        top: 240px;
        background: #4CAF50;
    }
}

.note-form-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(250, 255, 255, .5);
    z-index: 100;

    .note-form {
        width: 500px;
        height: 500px;
        background: #1c7430;
        box-shadow: 0 3px 18px 0 rgba(157, 206, 255, 0.6);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .close-note {
            cursor: pointer;
            padding: 20px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .modal-form {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            textarea {
                height: 250px;
                margin-bottom: 20px;
            }
        }
    }

}
