<div class="container-fluid">
    <div class="row">

        <div [class]="'p-0 col-12 col-md-' +content.imgSize + ' order-' +content.imageOrder + ' image'">
            <img id="image"
                 width="100%"
                 [src]="content.imgURL" alt="404"
                 [style.height]=" +content.imageHeight + 'vh' "
                 [style.object-fit]="content.objectFit"
                 [style.object-position]="content.verticalAlignment + ' ' + content.alignment">
        </div>

        <div [class]=" 'col-12 col-md-' + (12 - +content.imgSize ) + ' order-' + (3 - +content.imageOrder)">
            <div class="row">
                <div class="p-0 col" *ngFor="let text of content.textWithLogo">

                    <div class="row">
                        <div [class]="'p-0 col-2' + ' order-' + (3 - +content.imageOrder)">
                            <img
                                class="text-image"
                                [src]="text.imgURL" alt="404">
                        </div>
                        <div [class]="'col-10' + ' order-' +content.imageOrder">
                            <div class="logo-title"
                                 [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'">
                                {{text.enTitle}}
                            </div>

                            <div class="logo-description"
                                 [style.font-size]="(windowSize.width * 23 * windowSize.rate) / 1920 + 'px'">
                                {{text.enContent}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
