$bold: 'Montserrat Bold', sans-serif;
$light: 'Montserrat Light', sans-serif;

#image {
    border-radius: 5px;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.11);
}
.logo-title {
    object-fit: contain;
    font-family: $bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1b2437;
    padding-bottom: 27px;
    line-height: 1.2;
}

.logo-description {
    object-fit: contain;
    opacity: 0.79;
    font-family: $light;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.35px;
    text-align: left;
    color: #2e2e2e;
    line-height: 1.61;
}
.text-image {
    width: 72px;
    height: 72px;
}


// // // MEDIA // // //

@media (max-width: 992px) {
    .logo-title {
        font-size: 30px !important;
        line-height: 35px !important;
        letter-spacing: -1.2px!important;
    }
    .logo-description {
        font-size: 14px !important;
        line-height: 22px !important;
        letter-spacing: -0.28px!important;
    }
}

@media (max-width: 768px) {
    .order-1 {
        padding: 0 0 42px !important;
    }
}

