<div *ngIf="done">
  <h2>{{client.firstName}}</h2>
  <h2>{{client.companyName}}</h2>
  <h2>{{client.nikName}}</h2>
  <h2>{{client.status}}</h2>

  <button class="btn button" (click)="edit(client)">Edit</button>
  <button class="btn button ml-1" *ngIf="client.hasPassword ; else newPass"  (click)="sendPass()">Send New Pass</button>
  <ng-template #newPass>
    <button class="btn button ml-1"  (click)="sendPass()">Send Pass</button>
  </ng-template>
  <button (click)="createProject()" class="btn button ml-1">Create new project</button>
  <button routerLink="/admin/client" class="btn button ml-1"><i class="fa fa-arrow-left"></i> back to Client list</button>


  <router-outlet></router-outlet>



</div>
