<div class="project-view">
    <div class="row" *ngIf="projects">
        <ng-container *ngIf="projects && projects.length > 0">
            <div class="col-6" *ngFor="let project of projects">
                <div class="card">
                    <h2 routerLink="{{ project.slug }}" class="project-title">{{ project.name }}</h2>
                    <p class="project-description">{{ project.description }}</p>
                    <p class="info">Some information</p>
                    <span [routerLink]="[project.slug]" class="card-sale">View details</span>
                    <span class="card-date">{{ project.created }}</span>


                    <div class="oneCircle circles"></div>
                    <div class="twoCircle circles"></div>
                    <p *ngIf="project.notice > 0" class="notify">{{ project.notice }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>
