
.project-view {
    .card {
        user-select: none;
        background-color: #5582CA;
        border-radius: 10px;
        height: 320px;
        margin: 48px 0 55px 25px;
        padding: 50px;
        position: relative;
        overflow: hidden;

        .project-title {
            cursor: pointer;
            font-size: 40px;
        }

        .project-description {

        }

        .card-sale, .card-date {
            opacity: 0.4;
            position: absolute;
            bottom: 30px;
        }

        .card-sale {
            cursor: pointer;
        }

        .card-date {
            right: 50px;
        }

        .info {
            font-weight: 500;
            font-size: 30px;
        }

        .circles {
            width: 200px;
            height: 180px;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.1;
            position: absolute;
        }

        .oneCircle {
            top: 20px;
            right: -50px;
            transform: rotateZ(20deg);
        }

        .twoCircle {
            top: 140px;
            right: -30px;
            transform: rotateZ(30deg);
        }

        .notify {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 25px;
            height: 25px;
            background: #7ce27f;
            line-height: 25px;
            border: 1px solid #7ce27f;
            border-radius: 50%;
            padding: 0 7px;
            font-size: 14px;
            font-weight: bold;
            color: white;
        }

    }
}
