<div class="cabinet-menu">
    <div class="header">
        <a class="brand" routerLink="/">
            <img src="assets/images/Homepage/White/logo2x.png" alt="">
        </a>
        <div class="right-menu">
            <p>{{ client.firstName }} {{ client.lastName }}</p>
            <div id="cabinetToggle" class="cabinet-hamburger"><img src="../../../../assets/images/menuToggle.png" alt=""></div>
        </div>
        <ul *ngIf="dropMenu" class="dropMenu">

            <li class="menu-items"> {{ client.email }} </li>

            <li class="menu-items" (click)="logout()">Log out</li>

            <li class="menu-items" (click)="openForm()">Change Password</li>
        </ul>
    </div>
</div>

<div *ngIf="!passHidden" class="change-pass-wrapper">
    <form [formGroup]="myForm" novalidate (ngSubmit)="changePass()">
        <div class="col-12">
            <div class="form-group one">
                <input type="password" class="form-control" id="oldPassword"
                       placeholder="Old password"
                       formControlName="oldPassword">
            </div>
            <div class="form-group two">
                <input type="password" class="form-control" id="inputPassword"
                       placeholder="New Password"
                       formControlName="password">
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2 ">
                <div class="form-group but">
                    <button class="btn btn-danger" type="submit" [disabled]="myForm.invalid">Submit</button>
                </div>
            </div>
            <div class="col-2 offset-2">
                <div class="form-group but">
                    <button class="btn btn-primary" (click)="openForm()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
