.cabinet-menu {
    height: 112px;
    line-height: 112px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 10;

    .header {
        height: 112px;
        background-color: #3966ae;
        padding: 0 44px;
        user-select: none;

        .brand {
            img {
                height: 80px;
            }
        }

        .dropMenu {
            position: absolute;
            top: 113px;
            right: 0;
            width: 250px;
            color: black;
            background-color: #3966be;
            opacity: 0.8;
            z-index: 100;
            box-sizing: border-box;
            border-radius: 5px;
            transition: width 1s ease;

            .menu-items {
                font-size: 15px;
                line-height: 25px;
                list-style: none;
                color: white;
                padding: 10px;
                cursor: pointer;
            }

            .menu-items:not(:first-child):hover{
                background-color: #6fa1e0;
            }
        }

        .right-menu {
            float: right;

            .cabinet-hamburger {
                border: none;
                background: none;
                display: inline-block;
                cursor: pointer;

                img {
                    pointer-events: none;
                }
            }

            p {
                display: inline-block;
                padding-right: 50px;
            }
        }
    }

}

.change-pass-wrapper {
    width: 500px;
    position: absolute;
    background: #3966ae;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    padding: 50px;
}
