<div class="slider-over" id="show-after">
    <owl-carousel-o [options]="customOptionsTeam" class="m-0 p-0" #sliderOver>
        <ng-container *ngFor="let person of team, let i = index">
            <ng-template class="slider-over-item" carouselSlide id="slider-over-{{ i }}">
                <div class="over-slider-wrapper-ov">
                    <div class="information-wrapper-ov">
                        <div class="person-info-ov">
                            <div class="card-side-ov vertical-center">
                                <div class="image-wrapper-ov">
                                    <img [src]="imageUrl + person.avatar" alt="alt">
                                </div>
                                <div class="info-wrapper-ov">
                                    <div class="person-name-ov">
                                        {{ person.fullName['en'] }}
                                    </div>
                                    <div class="person-position-ov">
                                        {{ person.position['en'] }}
                                    </div>
                                    <div class="person-location-ov">
                                        <img class="d-inline" src="assets/images/location-sign.png"
                                             alt="locator-ov">
                                        <span class="d-inline">Armenia</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="person-text-content-ov">
                        <div class="close-icon-inner-ov" (click)="closeTab()" [style.background]="">
                            <img src="assets/images/close-white.png" alt="s">
                        </div>
                        <div class="person-detail-info-ov">
                            <div class="info-text-ov" [innerHTML]=" person.info['en']"></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
