
.slider-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 111111;
    //display: none;


    .over-slider-wrapper-ov {
        .information-wrapper-ov {
            width: 50vw;
            height: 100vh;
            float: left;
            background: #ffffff;

            .person-info-ov {
                width: 100%;
                height: 100vh;
                .card-side-ov {
                    .image-wrapper-ov {
                        width: 250px;
                        height: 250px;
                        margin: 0 auto 30px;

                        img {

                            width: 250px;
                            height: 250px;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }

                    .info-wrapper-ov {
                        text-align: center;
                        transform: scale(1.7);

                        .person-name-ov {
                            font-family: Montserrat, sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 1.22;
                            color: #1b2437;
                            padding: 35px 0 5px;
                        }

                        .person-position-ov {
                            font-family: Montserrat, sans-serif;
                            font-size: 16px;
                            line-height: 1.19;
                            color: #98a0a6;

                        }

                        .person-location-ov {
                            object-fit: contain;
                            font-family: Montserrat, sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.38;
                            color: #1b2437;

                            img {
                                width: 10px !important;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .person-text-content-ov {
            width: 50vw;
            height: 100vh;
            float: right;
            background-color: #3945ae !important;

            .close-icon-inner-ov {
                padding: 40px;
                position: absolute;
                z-index: 100;
                right: 0;

                img {
                    width: 25px;
                    float: right;
                    cursor: pointer;
                }
            }

            .person-detail-info-ov {
                padding: 220px 200px 0;
                height: 100vh;

                .info-text-ov {
                    font-family: sans-serif;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 1.22;
                    color: #ffffff;

                    @media only screen and (max-width: 1440px) {
                        font-size: 18px;
                    }
                }

                @media only screen and (max-width: 1440px) {
                    padding: 170px 115px 0;
                }
            }
        }
    }

}
