<div class="row" style="padding-bottom: 100px;">
    <div class="col-md-10 offset-1">
        <h2 class="text-center" translate>Create</h2>
        <form [formGroup]="simpleForm">

            <div class="form-group">
                <label translate>slug</label>
                <input type="text" placeholder="Slug" class="form-control" formControlName="slug"
                       (keyup)="filterSlug($event)">
                <p *ngIf="simpleForm.get('slug').invalid && simpleForm.get('slug').touched" class="invalid">Type true
                    Slug</p>
            </div>

            <div class="form-group">
                <label translate>key</label>
                <input type="text" placeholder="Key" class="form-control" formControlName="key">
                <p *ngIf="simpleForm.get('key').invalid && simpleForm.get('key').touched" class="invalid">Type true
                    Key</p>
            </div>

            <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
            <br>
            <div class="form-group">
                <label translate>Title</label>
                <input type="text" placeholder="en" class="form-control" formControlName="enTitle"
                       *ngIf="language=='en'">
                <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle"
                       *ngIf="language=='ru'">
                <input type="text" placeholder="am" class="form-control" formControlName="amTitle"
                       *ngIf="language=='am'">
                <!--                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">Type en-->
                <!--                    Title</p>-->
            </div>

            <div class="form-group">
                <label translate>Description</label>
                <textarea class="form-control" placeholder="en" rows="3" formControlName="enShortDescription"
                          *ngIf="language=='en'"></textarea>
                <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruShortDescription"
                          *ngIf="language=='ru'"></textarea>
                <textarea class="form-control" placeholder="am" rows="3" formControlName="amShortDescription"
                          *ngIf="language=='am'"></textarea>
                <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                <!--                    Short Description</p>-->
            </div>


            <!--            [ngClass]="{'pull-left': detail['value']['imagePosition'] === 'left','pull-right': detail['value']['imagePosition'] === 'right'}">-->


            <editor formControlName="content" apiKey='21n31eitsjcrdxis8qxu0eew9ckdcud5xluejnkxeeh11i9e'
                    [init]="editorConfigs"></editor>

            <button type="button" class="btn btn-info" (click)="mySimple()"
                    [disabled]="!simpleForm.valid || inValidSlug" translate>
                Create<i
                class="fa fa-check"></i></button>
        </form>
    </div>

</div>
