<div class="row">
  <div class="col-md-10 offset-1">
    <h2 class="text-center" translate>Create</h2>
    <form [formGroup]="myForm">


      <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
      <br>

      <div class="form-group">
        <label translate>Title</label>
        <input type="text" placeholder="en" class="form-control" formControlName="enTitle" *ngIf="language=='en'">
        <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle" *ngIf="language=='ru'">
        <input type="text" placeholder="am" class="form-control" formControlName="amTitle" *ngIf="language=='am'">
        <p *ngIf="myForm.get('enTitle').invalid && myForm.get('enTitle').touched" class="invalid">Type en
          Title</p>

      </div>


      <div class="form-group">
        <label translate>Description</label>

        <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescription"

                  *ngIf="language=='en'"></textarea>
        <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescription"
                  *ngIf="language=='ru'"></textarea>
        <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescription"
                  *ngIf="language=='am'"></textarea>

        <p *ngIf="myForm.get('enDescription').invalid && myForm.get('enDescription').touched"
           class="invalid">Type en Description</p>

      </div>



      <div class="form-group color-piker-wrapper">
        <label for="slide-url" class="my-label">Order</label>
        <input type="number" id="slide-url" class="form-control" formControlName="order">
        <p *ngIf="myForm.get('order').invalid && myForm.get('order').touched"
           class="invalid">Type Order</p>
      </div>

      <button type="button" class="btn btn-info" (click)="create()" [disabled]="!myForm.valid" translate>Create<i
        class="fa fa-check"></i></button>
    </form>
  </div>
</div>

