<div class="d-flex">
    <div class="mr-auto p-2">
        <button class="btn button mt-2" (click)="create()" translate>Create Service</button>
<!--        <button routerLink="edit" class="btn button mt-2">Create Service</button>-->

    </div>
    <div class="p-2">
        <input class="mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
</div>


<br>
<table class="table table-dark table-hover table-striped" *ngIf="pages.length > 0">
    <thead class="thead-light">
    <tr>
        <th>_id</th>
        <th translate>Title</th>
        <th translate>url</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let page of pages ; let i = index">

        <td>{{page._id}}</td>
        <td>{{page.title.en}}</td>
        <td>{{page.category}}</td>

        <td>
            <button [routerLink]="['/admin/portfolio', page._id]" (click)="viewPage(page)"
                    class="btn btn-info"><i class="fas fa-eye"></i></button>

            <button *ngIf="adminService.canUpdate()" (click)="updatePage(page)" style="margin-left: 20px;" class="btn btn-primary"><i
                class="far fa-edit"></i></button>

            <button *ngIf="adminService.canDelete()" (click)="deletePage(page,i)" style="margin-left: 20px;" class="btn btn-danger"><i
                class="fa fa-times"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
