//.services-slider{
//    padding-top: 60px;
//}

.mobile {
    .mobile-heading {
        padding-top: 12px;
        .section-title{
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    .services-slider {
        padding-top: 24px;
        .card {
            margin: 0 auto 24px auto;
            text-align: center;
            box-shadow: 0 0 18px -12px black;
        }
        .item-img {
            width: 100%;
            height: 148px;
            margin: 0 auto 30px;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
        .slider-card-title {
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.2;
            color: #3945ae;
        }
        .slider-card-text {
            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.19;
            letter-spacing: -0.06px;
            color: #1b2437;
            padding: 0 15px;
        }
    }

}



// // // // // // // //
// // // MEDIA // // //
// // // // // // // //

// // // For card mobile // // //

@media (min-width: 420px) and (max-width: 720px) {
    .card {
        width: 380px;
    }
}
@media (min-width: 320px) and (max-width: 420px) {
    .card {
        width: 300px;
    }
}
@media (max-width: 320px) {
    .card {
        width: 100%;
    }
}

