<div class="my-container pr-0 background-light desktop" [style.height]="'100vh'">
    <div class="row">
        <div class="col-12 col-xl-11 offset-xl-1">

            <div class="sections-box" [style.height]="'100vh'">
                <div class="h-100 services">

                    <div class="h-50 services-description">

                        <div class="vertical-bottom">
                            <div class="col-10 section-title">
                                Our services
                            </div>

                            <div class="col-10 mb-10">
                                <div class="sub-title">
                                    We collaborate with clients to develop solutions that are beautiful and cost
                                    effective.
                                </div>
                            </div>

                            <div class="col-10">
                                <div class="description">
                                    <p>Our team of experts strive to understand your organizations needs and vision
                                        and
                                        co-design solutions that fit your specifications and deliver results you`ll
                                        be
                                        proud
                                        of.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 services-slider h-50">
                        <app-mouse-slider></app-mouse-slider>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="my-container background-light mobile">
    <div class="sections-box">
        <div class="row">
            <div class="services-description">

                <div class="mobile-heading">

                    <div class="col-12 section-title">
                        Our services
                    </div>

                    <div class="col-12">
                        <div class="sub-title">
                            We collaborate with clients to develop solutions that are beautiful and cost
                            effective.
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="description">
                            <p>Our team of experts strive to understand your organizations needs and vision
                                and
                                co-design solutions that fit your specifications and deliver results you`ll
                                be
                                proud
                                of.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-12 services-slider">

                    <div class="card">
                        <div class="card-section">
                            <div class="item-img">
                                <img src="assets/images/slider.png" alt="er">
                            </div>

                            <h5 class="slider-card-title">WEB DEVELOPMENT</h5>
                            <p class="slider-card-text">
                                Whether you`re a start-up or an established enterprise, we`ll ship you vision;
                                enterprise websites or complex apps on PHP/NodeJS/.NET
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-section">
                            <div class="item-img">
                                <img src="assets/images/slider.png" alt="er">
                            </div>

                            <h5 class="slider-card-title">WEB DEVELOPMENT</h5>
                            <p class="slider-card-text">
                                Whether you`re a start-up or an established enterprise, we`ll ship you vision;
                                websites or complex apps on PHP/NodeJS/.NET
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
