<div class="container-fluid" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <div class="row">

        <owl-carousel-o [options]="mainOptions" (mousewheel)="mouseWheel($event)" #sliderOne (DOMMouseScroll)="mouseWheel($event)">

            <ng-container>

                <ng-template carouselSlide *ngFor="let slide of content.sliders[0].imagesURL">

                    <img
                        [style.object-position]="content.sliders[0].verticalAlignment + ' ' + content.sliders[0].alignment"
                        [style.object-fit]="content.sliders[0].objectFit"
                        [style.height]="content.sliders[0].imageHeight + 'vh'"
                        [src]="slide.imgURL" alt="404">

                </ng-template>

            </ng-container>

        </owl-carousel-o>

        <owl-carousel-o [options]="subOptions" *ngIf="content.count === '2'" (mousewheel)="mouseWheel($event)" #sliderTwo (DOMMouseScroll)="mouseWheel($event)">

            <ng-container>

                <ng-template carouselSlide *ngFor="let slide of content.sliders[1].imagesURL">

                    <img
                        [style.object-position]="content.sliders[1].verticalAlignment + ' ' + content.sliders[1].alignment"
                        [style.object-fit]="content.sliders[1].objectFit"
                        [style.height]="content.sliders[1].imageHeight + 'vh'"
                        [src]="slide.imgURL" alt="404">

                </ng-template>

            </ng-container>

        </owl-carousel-o>

    </div>
</div>
