.container-fluid {
    width: 100vw;
}

owl-carousel-o {
    width: 100%;
    padding-bottom: 82px;
}

img {
    border-radius: 8px;
    -webkit-backdrop-filter: blur(42px);
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.3);
}
