<div class="row">
    <div class="col-md-10 offset-1">
        <h2 class="text-center" translate>Create New Account</h2>

        <form [formGroup]="form">
            <div class="form-group">
                <img *ngIf="admin; else noAdmin" alt="Generic placeholder image" class="d-flex mr-3"
                     [src]="admin.avatar? 'http://localhost:3000/uploads/admin/' + admin.avatar: 'assets/images/users/user.jpg'"
                     width="70">
                <ng-template #noAdmin>
                    <img  alt="Generic placeholder image" class="d-flex mr-3"
                         [src]="'assets/images/users/user.jpg'"
                         width="70">
                </ng-template>
                <div class="form-group">
                    <label for="image" translate>Avatar<span class="invalid">(required)</span></label>
                    <br>
                    <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
                    <!--                        <p *ngIf="mediaForm.get('img').invalid && mediaForm.get('img').touched" class="invalid">Type true Img</p>-->
                </div>

                <label for="firstName">First name</label>
                <input id="firstName" type="text" class="form-control" formControlName="firstName">

                <label for="lastName">Last name</label>
                <input id="lastName" type="text" class="form-control" formControlName="lastName">

                <label for="email">Admin Email</label>
                <input id="email" type="email" class="form-control" formControlName="email">


                <label for="role">Admin role</label>
                <select name="" id="role" formControlName="role" class="form-control">
                    <option [value]="role" *ngFor="let role of roles" class="form-control">{{role}}</option>
                </select>
                <div class="form-group" formGroupName="permissions">
                    <label>Admin permissions</label>
                    <div class="row">
                        <div class="col-2">
                            <p>Can Create?</p>
                        </div>
                        <div class="col-10">
                            <input type="checkbox" formControlName="can_create">
                        </div>
                        <div class="col-2">
                            <p>Can Update?</p>
                        </div>
                        <div class="col-10">
                            <input type="checkbox" formControlName="can_update">
                        </div>
                        <div class="col-2">
                            <p>Can Delete?</p>
                        </div>
                        <div class="col-10">
                            <input type="checkbox" formControlName="can_delete">
                        </div>
                    </div>
                </div>
                <div class="form-group" *ngIf="passwordChange">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" formControlName="password">
                </div>

            </div>

            <button type="button" class="btn btn-primary" (click)="create()" [disabled]="form.invalid">Create
                <i class="fa fa-check"></i>
            </button>
        </form>
        <button (click)="changePassword()" *ngIf="admin">Change password</button>
    </div>

</div>





