.introduction {
    //position: relative;
    //top: 50%;
    //transform: translateY(-50%);
    //height: 100%;
    font-family: 'Poppins', sans-serif;
    //padding-bottom: 50px;
    //padding-top: 60px;

    .title {
        position: relative;

        h1 {
            //width: 594px;
            //height: 188px;
            object-fit: contain;
            font-family: Montserrat, sans-serif;
            font-size: 76px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }

        p {
            //width: 636px;
            //height: 88px;
            object-fit: contain;
            font-family: Montserrat, sans-serif;
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }
}

.circle {
    text-align: center;
    display: inline-block;
    width: auto;
    height: auto;
    float: left;
}

canvas {
    border-radius: 50%;
}


.ball {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

button {
    box-sizing: border-box;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #5582CA;
    text-align: center;
    padding-left: 3px;
    padding-top: 3px;
    position: absolute;
    right: -10px;
    border: 0;
    outline: none;
}

button:hover {
    border: 0;
    background-color: #1c488e;
}

button:active {
    border: 1px solid blue;
}

///----------------canvas----------------
.anime {
    width: 100%;
}

#myCanvas {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.ball {
    background-color: transparent;
    overflow: hidden;
}

@media (min-width: 1201px) and (max-width: 1440px) {
    .introduction {
        padding-top: 20px;
    }
    .title {
        position: relative;
    }
    h1 {
        font-size: 48px !important;
        line-height: 1.11 !important;
        font-weight: 600 !important;
    }
    p {
        font-size: 22px !important;
        line-height: 1.5 !important;
    }
    .ball {
        width: 400px;
        height: 400px;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {
    .introduction {
        padding-top: 0;
    }
    .title {
        position: relative;
    }
    h1 {
        font-size: 45px !important;
        font-weight: 500 !important;
    }

    p {

        font-size: 20px !important;
        line-height: 1.5 !important;

    }
    .ball {
        width: 350px;
        height: 350px;
    }

}

@media (max-width: 768px) {
    .introduction {
        padding-top: 0;
    }
    .title {
        position: relative;

    }
    h1 {
        font-size: 36px !important;
        font-weight: 500 !important;
    }

    p {

        font-size: 14px !important;
        line-height: 1.5 !important;

    }

}





