<div class="my-container background-dark" [style.height]="'100vh'">

    <div class="vertical-center">
        <div class="row p-20">

            <div class="col-12 col-xl-11 offset-xl-1">

                <div class="row sections-box">


                    <div class="col-12 h-100  introduction">
                        <div class="row h-100 justify-content-center align-items-center">

                            <div class="col-12 col-sm-12 col-md-6 col-lg-7 p-0 pt-5 content">
                                <div class="section-title">
                                    {{text}}
                                    <!--                    <button class="btn btn-link"><img src="./assets/images/right-filled.png" alt="" width="25px"-->
                                    <!--                                                           height="15px"></button>-->
                                </div>

                                <div class="sub-title">
                                    Web, Mobile and eCommerce Development Agency
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-5 text-center d-none d-sm-none d-md-block">
                                <div class="circle">

                                    <!-- -------------------------canvas------------------------ -->
                                    <div class="test"></div>
                                    <div class="anime">
                                        <div id="effect" class="ball">
                                            <canvas #myCanvas width="auto" height="auto">

                                            </canvas>
                                        </div>
                                    </div>
                                    <!--------------------------------------------------- -->

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
