<div id="slider" *ngIf="cards" [@scrollAnimation]="state">

<!---------------------------------------- CARDS WITH ----------------------------------------------------------------->

    <div *ngIf="type === 'TypeOne'" class="row px-0 m-0 h-auto">
        <div class="col-12 p-0 m-0 h-auto d-none d-md-block" *ngIf="done">
            <owl-carousel-o [options]="customOptions" class="m-0 p-0">

                <ng-container *ngFor="let card of cards">
                    <ng-template class="card-section" carouselSlide>
                        <div class="card-body">
                            <h5 class="slider-card-title">{{card.title.en}}</h5>
                            <p class="slider-card-text" class="lorem">
                                {{card.description.en}}
                            </p>
                            <a *ngIf="card.url" [routerLink]="card.url">
                                <img src="assets/images/right-black.png" alt="">
                            </a>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>

<!---------------------------------- CARDS WITH TEXT ----------------------------------------------------------------->

    <div *ngIf="type === 'TypeTwo'" class="row">
        <div class="col-12">

            <owl-carousel-o [options]="customOptions" class="m-0 p-0">

                <ng-container *ngFor="let card of cards; let i = index">
                    <ng-template class="card-section" carouselSlide>
                        <div class="card-body-text">
                            <p class="number">{{i < 10 ? '0' + (i + 1) : i + 1}}</p>
                            <h5 class="slider-card-title">{{card.title.en}}</h5>
                            <p class="slider-card-text" class="lorem">
                                {{card.description.en}}
                            </p>
                            <a *ngIf="card.url" [routerLink]="card.url"><img src="assets/images/right-black.png" alt=""></a>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>

        </div>
    </div>

</div>


<!--<div class="col-12 p-0 h-auto d-block d-md-none">-->
<!--    <ng-container *ngFor="let card of cards; let i = index">-->
<!--        <div class="row" *ngIf="done" [routerLink]="card.url">-->
<!--            <div class="col-12 one">-->
<!--                &lt;!&ndash;                            <p class="number">{{i < 10 ? '0' + (i + 1) : i + 1}}</p>&ndash;&gt;-->
<!--                <h5 class="slider-card-title">{{card.title.en}}</h5>-->
<!--                <p class="slider-card-text" class="lorem">-->
<!--                    {{card.description.en}}-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </ng-container>-->
<!--</div>-->
