#slider {
    font-family: 'Poppins', sans-serif;
    color: white;


    .lorem {
        opacity: 0.73;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.54;
    }

    .carouselSlide {
        padding: 15px;
    }

    .carouselSlide h5 {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #331414;
        position: relative;
    }

    .number {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.53;
    }

    a {
        width: 30px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        border-style: none;
        border: 0;
        background: none;
        position: absolute;
        bottom: 35px;
        right: 35px;
    }

    a img {
        width: 30px;
        height: 20px;
    }

    .col-12 {
        height: 200px;
    }

    .slider-card-title {
        //width: 260px;
        //height: 24px;
        object-fit: contain;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #3945ae;
    }

    .slider-card-text {
        //width: 260px;
        //height: 96px;
        object-fit: contain;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .card-body {
        width: 100%;
        height: auto;
        //height: 200px;
        //height: calc(((100vw - 144px) / 12) * 10 / 3 * 0.55);
        //color: black;
        padding: 32px 48px;
    }

    .card-body {
        background-color: #bbbfe6;
        border-radius: 8px;
        //background: white;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.53;
        //color: #331414;
    }

    .card-body-text {
        width: 256px;
        height: 100%;
        background: transparent;

        .number {
            font-size: 32px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: left;
            //height: 34px;
        }

        .slider-card-title {
            width: 100%;
            //height: 48px;
            object-fit: contain;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }

        .slider-card-text {
            width: 100%;
            //height: 378px;
            object-fit: contain;
            //font-family: Montserrat;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.22;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }

}


@media (min-width: 1200px) and (max-width: 1600px) {
    .one {
        height: 220px;
        padding: 10px;
    }
    h5 {
        font-size: 1rem;
    }
    .one p {
        margin-bottom: 0;

    }
    button {
        bottom: 15px;
    }
}

@media (max-width: 1350px) {
    .one, .two, .three, .four {
        padding: 5px;
        height: 210px;
        width: 100%;
    }
    h5 {
        font-size: 18px;
        font-weight: 600;
    }
    .one p, .two p, .three p, .four p {
        font-size: 12px;
        margin-bottom: 0;
    }

    button {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}


@media (max-width: 780px) {
    .one, .two, .three, .four {
        font-size: 30px;
        padding: 10px 20px;

        height: 160px;
        display: block;
    }

    h5 {
        font-size: 18px;
        font-weight: 600;
    }
    .one p, .two p, .three p, .four p {
        font-size: 13px;
        margin-bottom: 0;
    }
    button {
        width: 42px;
        height: 42px;
        position: absolute;
        right: 24px;
        bottom: 13px;
        opacity: 1;
    }
}
