<div class="d-flex">
  <div class="mr-auto p-2">
    <button class="btn btn-primary" routerLink="/admin/setting/create" translate>Create Setting</button>
    <button class="btn btn-primary ml-2" (click)="backup()" translate>Backup</button>

  </div>
  <div class="p-2">
    <input class="mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
  </div>
</div>


<br>
<table class="table table-dark table-hover table-striped">
  <thead class="thead-light">
  <tr>
    <th>_id</th>
    <th translate>Key</th>
    <th translate>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let setting of settings; let i = index">

    <td>{{setting._id}}</td>
    <td>{{setting.key}}</td>
    <td>{{setting.value.en}}</td>

    <td>
      <button [routerLink]="['/admin/setting', setting._id]" (click)="viewSetting(setting)" class="btn btn-info"><i
        class="fas fa-eye"></i></button>

      <button (click)="updateSetting(setting)" style="margin-left: 20px;" class="btn btn-primary"><i
        class="far fa-edit"></i></button>
    </td>
  </tr>
  </tbody>
</table>
