@import '../ecomerce.component';
.description-background {
    background-image: url('../../../../../assets/images/test/MaskGroup6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
    .description-body {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.description-body {
    .description-title {
        p {
            margin-bottom: 42px;
            max-width: 812px;
            line-height: 32px;
            font-family: Montserrat-SemiBold;
            color: #1D262C;
        }
    }
    .description-sub-title {
        p {
            max-width: 762px;
            height: 96px;
            font-family: Montserrat-SemiBold;
            color: #1D262C;
        }
    }
    .description-button {
        text-align: center;
    }

}

@media (max-width: 768px) {
    .description-background {
        background-size: cover;
        height: 50vh;
    }
}