<div class="row">
  <div class="col-md-10 offset-1">
    <h2 class="text-center" translate>Create</h2>
    <form [formGroup]="myForm">

      <div class="form-group">
        <label for="image" translate>Image<span class="invalid">(required)</span></label>
        <br>
        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
        <p *ngIf="myForm.get('img').invalid && myForm.get('img').touched" class="invalid">Type true Img</p>
      </div>

      <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
      <br>

      <div class="form-group">
        <label translate>Title</label>
        <input type="text" placeholder="en" class="form-control" formControlName="enTitle" *ngIf="language=='en'"
               maxlength={{titleMaxLength}}>
        <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle" *ngIf="language=='ru'"
               maxlength={{titleMaxLength}}>
        <input type="text" placeholder="am" class="form-control" formControlName="amTitle" *ngIf="language=='am'"
               maxlength={{titleMaxLength}}>
        <p *ngIf="myForm.get('enTitle').invalid && myForm.get('enTitle').touched" class="invalid">Type en
          Title</p>

      </div>


      <div class="form-group">
        <label translate>Description</label>

        <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescription"
                  [maxLength]="descriptionMaxLength"
                  *ngIf="language=='en'"></textarea>
        <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescription"
                  [maxLength]="descriptionMaxLength"
                  *ngIf="language=='ru'"></textarea>
        <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescription"
                  [maxLength]="descriptionMaxLength"
                  *ngIf="language=='am'"></textarea>

        <p *ngIf="myForm.get('enDescription').invalid && myForm.get('enDescription').touched"
           class="invalid">Type en Description</p>

      </div>

      <div class="form-group color-piker-wrapper">
        <label for="bg-color" class="my-label"> Slide Background Color:
        </label>
        <input [(colorPicker)]="bgColor" [style.background]="bgColor" [type]="'text'" [value]="bgColor"
               id="bg-color" class="form-control" formControlName="bgColor">
      </div>

      <div class="form-group color-piker-wrapper">
        <label for="text-color" class="my-label"> Slide Text Color:
        </label>
        <input [(colorPicker)]="textColor" [style.background]="textColor" [type]="'text'" [value]="textColor"
               id="text-color" class="form-control" formControlName="textColor">
      </div>

      <div class="form-group color-piker-wrapper">
        <label for="slide-url" class="my-label"> Slide url:
        </label>
        <input type="text" id="slide-url" class="form-control" formControlName="url">
      </div>

      <button type="button" class="btn btn-info" (click)="myNews()" [disabled]="!myForm.valid" translate>Create<i
        class="fa fa-check"></i></button>
    </form>
  </div>
</div>

