<div class="d-flex">
    <div class="mr-auto p-2">
        <button class="btn button mt-2" (click)="create()" translate>Create FAQ Page</button>
        <!--        <button routerLink="edit" class="btn button mt-2">Create Service</button>-->

    </div>
    <div class="p-2">
        <input class="mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
</div>


<br>
<table class="table table-dark table-hover table-striped" *ngIf="faqs.length > 0">
    <thead class="thead-light">
    <tr>
        <th>_id</th>
        <th translate>About</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let faq of faqs ; let i = index">
        <td>{{faq._id}}</td>
        <td>{{faq.shortDescription.en}}</td>
        <td>

            <button *ngIf="adminService.canUpdate()" (click)="updateFAQ(faq)" style="margin-left: 20px;" class="btn btn-primary"><i
                class="far fa-edit"></i></button>

            <button *ngIf="adminService.canDelete()" (click)="deleteFAQ(faq,i)" style="margin-left: 20px;" class="btn btn-danger"><i
                class="fa fa-times"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
