.project-detail {
    .children {
        padding: 50px 25px;
    }

    .btn-wrapper {
        padding: 30px 0;
        .project-btn {
            margin-right: 20px;
        }
    }

    .table-list {
        color: #707070;
        margin-left: 23px;
        border-radius: 10px;
        padding: 30px 60px;
        box-sizing: border-box;
        box-shadow: 0 3px 18px 0 rgba(157, 206, 255, 0.39);

        table {
            margin-left: 25px;
            padding-left: 60px;
            padding-top: 30px;
            width: 100%;
            height: 415px;

        }

        tr {
            height: 70px;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
        }

        td, th {
            width: 30%;
        }

    }
}
