<div class="project-detail" *ngIf="project">
    <div class="row">
        <div class="col-12 row">
            <div class="col-6">
                <h2 class="project-title">{{ project.name }}</h2>
                <p class="project-description">{{ project.description }}</p>
                <span class="card-date">{{ project.created }}</span>
            </div>
            <div class="col-12 row">
                <div class="btn-wrapper">
                    <div routerLinkActive="active" routerLink="invoices" class="project-btn btn btn-primary">Invoices</div>
                    <div routerLinkActive="active" routerLink="payments" class="project-btn btn btn-primary">Payments</div>
                    <div routerLinkActive="active" routerLink="history" class="project-btn btn btn-primary">History</div>
                    <div routerLinkActive="active" routerLink="contracts" class="project-btn btn btn-primary">View Contracts</div>
                </div>
            </div>

            <div class="col-12 row children">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

