$bold: 'Montserrat Bold', sans-serif;
$light: 'Montserrat Light', sans-serif;

.title-border {
    border-bottom: 2px solid #3945ae;
    padding-bottom: 7px;
    margin-bottom: 34px;
}

.card-body-hover:hover {
    cursor: pointer;
    transform: scale(1.02) translateY(20px);
}

.card {
    //height: 446px;
    background-color: transparent;
    border: none;

    .card-body {
        padding: 65px 48px 53px;

        .card-title {
            object-fit: contain;
            font-family: $bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #3945ae;
            line-height: 1.2;
        }

        .card-description {
            object-fit: contain;
            font-family: $light;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: -0.06px;
            color: #1b2437;
            line-height: 1.19;
        }
    }
}

.card:first-child {
    padding-left: 0;
    padding-right: 12px;
}

.card:last-child {
    padding-right: 0;
    padding-left: 12px;
}


.card-background {
    border-radius: 8px;
    -webkit-backdrop-filter: blur(42px);
    box-shadow: 2px 14px 12px 0 rgba(57, 69, 174, 0.1);
    background-color: #ffffff;
}

// // // MEDIA // // //

@media (min-width: 768px) and (max-width: 992px) {
    .card {
        padding: 24px 6px !important;
    }
}


// // // MEDIA // // //

@media (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 992px) {
    .card-title {
        font-size: 20px !important;
        line-height: 28px !important;
        letter-spacing: -1.2px !important;
    }
    .card-description {
        font-size: 14px !important;
        line-height: 22px !important;
        letter-spacing: -1.2 !important;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 24px 24px !important;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 24px 0 !important;
    }
    .card-background {
        padding: 32px 24px 22px !important;
    }
}
