<div class="container-fluid">
    <div class="row service-cart-type-one">

        <div
            *ngFor="let card of content.cards"
            [class]="'card col-12 col-lg-' + 12 / content.count + (content.count === '4' ? ' col-md-6' : content.backColor ? ' col-md-12' : ' col-md-4')"
        >
            <div class="card-body"
                 [style.text-align]="content.textAlign"
                 [ngClass]="{'card-background': content.backColor, 'card-body-hover': content.hover, 'p-0': !content.backColor}"
            >
                <div class="card-title"
                     [ngClass]="{'title-border': !content.backColor}"
                     [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'">
                    {{card.enTitle}}
                </div>
                <div class="card-description"
                     [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'">
                    {{card.enContent}}
                </div>
            </div>
        </div>

    </div>
</div>
