<div id="sidebar-wrapper">
    <div class="sidebar" *ngIf="!disable" [ngClass]="{'sidebar-white': !changeColor, 'sidebar-violet': changeColor}">

        <div class="navigation">
            <div class="line" [ngClass]=" (currentSection == 'section1' )? 'active' : 'line' " (click)="scrollTo('section1')"><a
                href="#"></a>
                <ng-container *ngIf="currentSection ==='section1'"></ng-container>
            </div>
            <div class="line" [ngClass]=" (currentSection == 'section2' ) ? 'active' : 'line' " (click)="scrollTo('section2')">
                <a href="#"></a>
                <ng-container *ngIf="currentSection ==='section2'"></ng-container>
            </div>
            <div class="line" [ngClass]=" (currentSection == 'section3' ) ? 'active' : 'line' " (click)="scrollTo('section3')">
                <ng-container *ngIf="currentSection ==='section3'"></ng-container>
            </div>
            <div class="line" [ngClass]=" (currentSection == 'section4' ) ? 'active' : 'line' " (click)="scrollTo('section4')">
                <ng-container *ngIf="currentSection ==='section4'"></ng-container>
            </div>
            <div class="line" [ngClass]=" (currentSection == 'section5' ) ? 'active' : 'line' " (click)="scrollTo('section5')">
                <ng-container *ngIf="currentSection ==='section5'"></ng-container>
            </div>
        </div>

    </div>

    <div id="sidebar-icons-id" class="sidebar-icons" [ngClass]="{'sidebar-white': !changeColor, 'sidebar-violet': changeColor}">
        <ul class="socials-icons">
            <li class="socials__item">
                <a><i class="fab fa-instagram"></i></a>
            </li>
            <li class="socials__item">
                <a><i class="fab fa-twitter"></i></a>
            </li>
            <li class="socials__item">
                <a><i class="fab fa-facebook-f"></i></a>
            </li>
        </ul>

        <ul class="languages">
            <li class="language__item active">
                <span>EN</span>
            </li>

            <li class="language__item">
                <span>RU</span>
            </li>

            <li class="language__item">
                <span>AM</span>
            </li>
        </ul>
    </div>

</div>
