.sidebar {
    position: fixed;
    top: 40%;
    left: 80px;
    z-index: 99999;
    background: transparent;
    width: 24px;
    height: auto;
    transform: translateY(-50%);

    .navigation {
        display: inline-block;
        width: 24px;
        height: 219px;

        .line {
            width: 20px;
            height: 0;
            border: 2px solid #bbbfe6; //  #727272
            text-align: center;
            margin: 42px auto;
            transition: border 1s ease;
            border-radius: 2px;
            cursor: pointer;
        }

        .active {
            width: 26px;
            border: 2px solid red;
        }

    }
}

.sidebar-icons {
    position: fixed;
    bottom: 30px;
    left: 80px;
    width: 24px;
    z-index: 99999;

    .socials-icons {
        list-style: none;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        z-index: 14;
        margin-bottom: 160px;

        .socials__item {
            margin: 16px 16px 0;
            color: #bbbfe6;
            width: 18px;
            height: 18px;
            object-fit: contain;

            a i {
                opacity: .5;
            }
        }
    }

    .languages {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        //-webkit-transform-origin: 0 100%;
        //transform-origin: 0 100%;
        display: -webkit-box;
        display: flex;
        align-self: center;

        .language__item {
            list-style: none;
            //margin-right: 10px;
            margin: 0 10px;
            cursor: pointer;
            //-webkit-transition: .3s ease-in-out;
            //transition: .3s ease-in-out;
            //text-transform: uppercase;
            //mix-blend-mode: lighten;
            width: 24px;
            height: 30px;
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #bbbfe6;
            opacity: .5;
        }

        .active {
            color: #e42c64;
        }

    }
}

@media (min-width: 1200px) {
    .sidebar-icons {
        display: block!important;
    }
}

@media (max-width: 1140px) {
    .sidebar {
        display: none;
    }
    .sidebar-icons {
        display: none;
        left: auto!important;
        right: 40px!important;
    }
}

@media (min-width: 720px) and (max-width: 1366px) {
    .sidebar {
        top: 30%;
    }
    .sidebar-icons {
        bottom: 20px;
    }
    .socials-icons {
        margin-bottom: 130px!important;
    }
}
