<app-top-menu *ngIf="done"></app-top-menu>
<app-sidebar *ngIf="done"></app-sidebar>

<div *ngIf="done">

    <div class="introduce" [style.background]="'linear-gradient('+ pageInfo.grStart + ',' + pageInfo.grEnd + ')'">
        <div class="introduce-content">

            <div class="content-image">
                <img src="{{pageInfo.image}}" alt="">
            </div>
            <div class="heading"
                 [style.font-size]="(windowSize.width * 76 * windowSize.rate) / 1920 + 'px'"
                 [style.max-width]="(windowSize.width * 534 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 1.25 * windowSize.rate) / 1920"
            >
                {{pageInfo.title.en}}
            </div>

        </div>
    </div>

    <div class="body">

        <div *ngFor="let content of pageInfo.details; let i = index" [class]="'section-' + i">

            <app-service-text-image *ngIf=" content.type === 'imageWithText' " [content]="content"></app-service-text-image>

            <app-service-text *ngIf=" content.type === 'text' " [content]="content"></app-service-text>

            <app-service-image *ngIf=" content.type === 'imageWithImage' " [content]="content"></app-service-image>

            <app-service-cart-type-one *ngIf=" content.type === 'card' " [content]="content"></app-service-cart-type-one>

            <app-service-card-type-three *ngIf=" content.type === 'imageWithTextWithLogo' " [content]="content"></app-service-card-type-three>

            <app-service-logo *ngIf=" content.type === 'logo' " [content]="content"></app-service-logo>

            <app-service-cart-type-two *ngIf=" content.type === 'cardLogo' " [content]="content"></app-service-cart-type-two>

            <app-service-block *ngIf=" content.type === 'block' " [content]="content"></app-service-block>

            <app-service-slider *ngIf=" content.type === 'slider' " [content]="content"></app-service-slider>

        </div>

    </div>

</div>
