$font-semiBold: 'Montserrat SemiBold', sans-serif;

.introduce {
    position: relative;
    width: 100vw;
    height: 100vh;

    .introduce-content {
        .heading {
            font-family: $font-semiBold;
            height: 188px;
            object-fit: contain;
            font-size: 76px;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding-top: 32px;
            //width: 534px;
            //line-height: 1.25;
        }

        img {
            width: 156px;
            height: 180px;
            //filter: invert(1);
        }

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 12%;
    }

}

.body {
    position: relative;
    padding: 100px 12% 0;
    background-color: #f8f8f8;

    div[class^="section-"] {
        padding: 52px 0;
    }

}

// // // MEDIA // // //

@media (min-width: 992px) and (max-width: 1200px) {
    .body {
        padding: 100px 60px 0 !important;
    }
}

@media (max-width: 992px) {
    .body {
        padding: 100px 0 0 !important;
    }
}

