<!-- Header -->

<div class="header nav justify-content-end">

    <li class="nav-item">
        <a class="nav-link header-info" href="webi.am">info@webi.am</a>
    </li>

    <li class="nav-item">
        <a class="nav-link header-info">+192988282882</a>
    </li>

    <div class="header-title">
        <span routerLink="/">WEBI</span>
    </div>

</div>

<!-- Header-ends -->

<div class="body">
    <!-- Section-1-start -->

    <div class="section-1">
        <div class="container-fluid">
            <div class="row section-1-heading heading">
                <div class="col-12">
                    <h2>Optimise your eCommerce with our Shopify Certified developers</h2>
                </div>
            </div>
        </div>

        <app-form-section
            [formSectionHeading]='firstFormSectionHeading'
            [visible]="'show'"
            [formSectionUrl]='firstUrl'></app-form-section>

    </div>

    <!-- Section-1-ends -->

    <!-- Section-2-start -->

    <div class="section-2">

        <app-cards-type-one [cardsHeading]='firstCardsSectionHeading'></app-cards-type-one>

    </div>

    <!-- Section-2-ends -->

    <!-- Secion-3-starts -->

    <div class="section-3">

        <app-description
            [descriptionHeading]='firstDescriptionSectionHeading'
            [descriptionText]='firstText'
            [descriptionTextAdditional]='firstTextAdditional'
            [descriptionImageUrl]='descriptionImageUrl'></app-description>

        <app-description [descriptionHeading]='secondDescriptionSectionHeading'
        [descriptionText]='secondText'></app-description>

        <app-cards-type-two></app-cards-type-two>

    </div>

    <!-- Section-3-ends -->

    <!-- Section-4-starts -->

    <div class="section-4">

<!--        <app-cards-type-one [cardsHeading]='secondCardsSectionHeading'></app-cards-type-one>-->
            <app-cards-type-three></app-cards-type-three>

    </div>

    <!-- Section-4-ends -->

    <!-- Section-5-starts -->

    <div class="section-5">

        <app-description [descriptionHeading]='thirdDescriptionSectionHeading'
        [descriptionText]='thirdText' [descriptionButton]='true'></app-description>

    </div>

    <!-- Section-5-ends -->

    <!-- Section-6-starts -->

    <div class="section-6">

        <app-ecomerce-slider></app-ecomerce-slider>

    </div>

    <!-- Section-6-ends -->

    <!-- Section-7-starts -->

    <div class="section-7">

        <app-testimonials></app-testimonials>

    </div>

    <!-- Section-7-ends -->

    <!-- Section-8-starts -->

    <div class="section-8">

        <app-form-section [formSectionHeading]='secondFormSectionHeading' [formSectionUrl]='secondUrl'></app-form-section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 section-8-title title">
                    <p>Visit <a href="webi.am">webi.am</a></p>
                </div>
            </div>
        </div>

    </div>

    <!-- Section-8-ends -->

</div>

<!-- Footer -->

<div class="container-fluid footer">
    <div class="row footer-text">
        <div class="col-12">
            <p>2019 All right reserved</p>
        </div>
    </div>
</div>
