<!--<div class="row">-->
<!--  <div class="col-md-10 offset-1" *ngIf="done">-->
<!--    <h2 class="text-center"><span translate>Edit</span> {{news.title.en}}</h2>-->
<!--    <form [formGroup]="newsForm">-->
<!--      <div>-->
<!--        <img src='http://localhost:3000/uploads/news/{{news.banner}}' class="img-fluid max" alt="">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="image" translate>Image<span class="invalid">(required) </span> </label>-->
<!--        <br>-->
<!--        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>-->
<!--        <p *ngIf="newsForm.get('img').invalid && newsForm.get('img').touched" class="invalid">Type true-->
<!--          Img</p>-->
<!--      </div>-->

<!--      <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>-->
<!--      <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>-->
<!--      <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>-->
<!--      <br>-->

<!--      <div class="form-group">-->
<!--        <label translate>Title</label>-->
<!--        <input type="text" placeholder="en" class="form-control" formControlName="enTitle" *ngIf="language=='en'">-->
<!--        <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle" *ngIf="language=='ru'">-->
<!--        <input type="text" placeholder="am" class="form-control" formControlName="amTitle" *ngIf="language=='am'">-->
<!--        <p *ngIf="newsForm.get('enTitle').invalid && newsForm.get('enTitle').touched" class="invalid">Type en-->
<!--          Title</p>-->

<!--      </div>-->


<!--      <div class="form-group">-->
<!--        <label translate>Description</label>-->

<!--        <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescription"-->
<!--                  *ngIf="language=='en'"></textarea>-->
<!--        <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescription"-->
<!--                  *ngIf="language=='ru'"></textarea>-->
<!--        <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescription"-->
<!--                  *ngIf="language=='am'"></textarea>-->

<!--        <p *ngIf="newsForm.get('enDescription').invalid && newsForm.get('enDescription').touched"-->
<!--           class="invalid">Type en Description</p>-->

<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label translate>Content</label>-->

<!--        <ckeditor *ngIf="language=='en'" [editor]="Editor" [config]="ckconfig" tagName="input"-->
<!--                  formControlName="enContent"></ckeditor>-->
<!--        <ckeditor *ngIf="language=='ru'" [editor]="Editor" [config]="ckconfig" tagName="input"-->
<!--                  formControlName="ruContent"></ckeditor>-->
<!--        <ckeditor *ngIf="language=='am'" [editor]="Editor" [config]="ckconfig" tagName="input"-->
<!--                  formControlName="amContent"></ckeditor>-->

<!--        <p *ngIf="newsForm.get('enContent').invalid && newsForm.get('enContent').touched"-->
<!--           class="invalid">Type en Description</p>-->

<!--      </div>-->


<!--      <button type="button" class="btn btn-info" (click)="myNews()" [disabled]="!newsForm.valid" translate>Create <i-->
<!--        class="fa fa-check"></i></button>-->
<!--    </form>-->
<!--  </div>-->

<!--</div>-->

