<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <app-header></app-header>-->

<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-2 app_menu">-->
<!--      <app-menu></app-menu>-->
<!--    </div>-->
<!--    <div class="col-9">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <div class="col-9 offset-2">-->
<!--      <app-footer></app-footer>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-2 app-menu p-0">
      <app-menu></app-menu>
    </div>
    <div class="col-9 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
