ul li {
    margin: 13px auto;
    list-style: none;
    // width: 45px;
    // height: 19px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

ul li:first-child {
    margin: 0 0 13px 0;
    font-weight: bold;
}

.img-100 {
    width: 100%;
    outline: none;
}

.img-100:hover {
    cursor: pointer;
}

p {
    margin-top: 10px;
    // width: 306px;
    // height: 135px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer {
    position: relative;

    .section-1 {
        background-color: #3945ae;

        .section-1-content {
            padding: 40px 0;
        }
    }

    .section-2 {
        width: 100%;
        background-color: #313a8a;

        .section-2-world-map-wrapper {
            .section-2-world-map {
                padding: 40px 0;
            }

            padding: 40px 0;

            .address ul li {
                //width: 300px;
                //height: 300px;
                font-family: SegoeUI, sans-serif;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: left;
                color: #707070;
            }

            .search {
                ul li {
                    font-family: Montserrat, sans-serif;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                    text-align: left;
                }

                .main {
                    //width: 71px;
                    //height: 19px;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.27;
                }

                .sub {
                    //width: 304px;
                    //height: 41px;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.29;
                }

                .invalid {
                    border: solid 2px red !important;
                }

                .subscribe-wrapper {
                    position: relative;
                    width: 100%;
                    height: 56px;
                    border-radius: 6px;
                    border: solid 1px #313a8a;
                    background-color: #fcfcfd;

                    .input-group {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: calc(100% - 43px);
                    }

                    .form-control {
                        //width: 306px;
                        //height: 56px;
                        width: 70%;
                        border: 0;
                        box-shadow: none;

                    }

                    .form-control::placeholder {
                        width: 80px;
                        height: 19px;
                        font-family: Montserrat, sans-serif;
                        font-size: 15px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.27;
                        letter-spacing: normal;
                        text-align: left;
                        color: #9f9f9f;
                    }

                    .input-group-btn {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 7.5px;
                        z-index: 99;
                        width: 43px;
                        height: 41px;
                        border-radius: 7px;
                        background-color: #3945ae;

                        img {
                            filter: invert(1);
                        }
                    }
                }
            }

            .section-2-world-map {
                position: relative;

                .location-1-wrapper, .location-2-wrapper, .location-3-wrapper, .location-4-wrapper {
                    position: absolute;

                    .location {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: auto;
                        border-radius: 100%;
                        width: 4px;
                        height: 4px;
                        background-color: #e42c64;
                    }

                    img {
                        transition: 300ms all;
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        top: -5px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 20px;
                        height: 20px;
                        pointer-events: none;
                    }
                }
            }
        }

    }

}

.active {
    img {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.location-1-wrapper:hover, .location-2-wrapper:hover, .location-3-wrapper:hover, .location-4-wrapper:hover {
    cursor: pointer;

    img {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

// // // // //  // // //  // // // // //
// // // // //  LOCATIONS // // // // //
// // // // //  // // //  // // // // //
@media (min-width: 1200px) {
    .location-1-wrapper, .location-2-wrapper, .location-3-wrapper, .location-4-wrapper {
        padding: 20px !important;
    }

    .location-1-wrapper {
        top: 30.2%;
        left: 21.7%;
    }

    .location-2-wrapper {
        top: 59.6%;
        left: 31.7%
    }

    .location-3-wrapper {
        top: 28.9%;
        left: 59.9%;;
    }

    .location-4-wrapper {
        top: 44.3%;
        left: 67.4%;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .location-1-wrapper, .location-2-wrapper, .location-3-wrapper, .location-4-wrapper {
        padding: 15px !important;
    }
    .location-1-wrapper {
        top: 31.2%;
        left: 21.2%;
    }

    .location-2-wrapper {
        top: 59.5%;
        left: 31.2%
    }

    .location-3-wrapper {
        top: 28.7%;
        left: 59.3%;;
    }

    .location-4-wrapper {
        top: 44.6%;
        left: 67.7%;
    }
}

@media (max-width: 992px) and (min-width: 720px) {
    .location-1-wrapper, .location-2-wrapper, .location-3-wrapper, .location-4-wrapper {
        padding: 15px !important;
    }
    .location-1-wrapper {
        top: 31.2%;
        left: 21.3%;
    }

    .location-2-wrapper {
        top: 59.3%;
        left: 30.8%
    }

    .location-3-wrapper {
        top: 28.9%;
        left: 58.2%;;
    }

    .location-4-wrapper {
        top: 44.1%;
        left: 67.3%;
    }
}

@media (max-width: 720px) and (min-width: 560px) {
    .location-1-wrapper, .location-2-wrapper, .location-3-wrapper, .location-4-wrapper {
        padding: 15px !important;
    }
    .location-1-wrapper {
        top: 31.1%;
        left: 21.6%;
    }

    .location-2-wrapper {
        top: 59.3%;
        left: 30.8%
    }

    .location-3-wrapper {
        top: 28.9%;
        left: 58.2%;;
    }

    .location-4-wrapper {
        top: 44.1%;
        left: 67.3%;
    }
}

@media (max-width: 560px) {
    .location-1-wrapper, .location-2-wrapper, .location-3-wrapper, .location-4-wrapper {
        padding: 15px !important;
    }
    .location-1-wrapper {
        top: 31%;
        left: 21.3%;
    }

    .location-2-wrapper {
        top: 59.3%;
        left: 30.8%
    }

    .location-3-wrapper {
        top: 28.9%;
        left: 58.2%;;
    }

    .location-4-wrapper {
        top: 44.1%;
        left: 67.3%;
    }
}


@media (max-width: 720px) {
    .media-padding-footer {
        padding-bottom: 20px;
    }
}
