<footer class="background-dark">
    <div class="footer">

        <div class="section-1 my-container">
            <div class="row section-1-content">

                <div class="col-12 col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 media-padding-footer">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="row">
                                        <div class="col-4 p-0">
                                            <img routerLink="/" class="img-100" src="../../../../assets/images/Homepage/White/logo3x.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 p-0">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci ab
                                        voluptatibus debitis tempora quos optio cupiditate, minus ratione. Veritatis
                                        tempora amet optio, consequuntur aliquam illo ex asperiores excepturi quod!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <ul>
                                <li>Product</li>
                                <li>Coats</li>
                                <li>Dresses</li>
                                <li>Hoodies & Sweatshirts</li>
                                <li>Infant & Toddlers Clothing</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Information</li>
                                <li>About Us</li>
                                <li>FAQ</li>
                                <li>Help</li>
                                <li>Shipping & Return</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Global Contact</li>
                                <li>About</li>
                                <li>Blog</li>
                                <li>Terms of Services</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section-2 my-container">

            <div class="row section-2-world-map-wrapper">

                <div class=" col-12 order-3 col-lg-2 order-lg-1">
                    <div class="address">
                        <ul>
                            <li>{{ location.address }}</li>
                            <li>{{ location.phone }}</li>
                        </ul>
                    </div>
                </div>

                <div class=" col-12 order-2 col-lg-8 order-lg-2 section-2-world-map">

                    <img class="world-map img-100" src="assets/images/Footer/Group1823.svg" alt="404">
                    <div class="location-1-wrapper location-wrapper active" #customLocation1 (click)="changeLocation(customLocation1)" (mouseenter)="enter('Canada')" (mouseleave)="leave()">
                        <div class="location"></div>
                        <img (mouseenter)="enter('Canada')" (mouseleave)="leave()" src="../../../../assets/images/Footer/Group1824.svg" alt="">
                    </div>

                    <div class="location-2-wrapper location-wrapper not-active" #customLocation2 (click)="changeLocation(customLocation2)" (mouseenter)="enter('Brazil')" (mouseleave)="leave()">
                        <div class="location"></div>
                        <img (mouseenter)="enter('Brazil')" (mouseleave)="leave()" src="../../../../assets/images/Footer/Group1824.svg" alt="">
                    </div>

                    <div class="location-3-wrapper location-wrapper not-active" #customLocation3 (click)="changeLocation(customLocation3)" (mouseenter)="enter('Russia')" (mouseleave)="leave()">
                        <div class="location"></div>
                        <img (mouseenter)="enter('Russia')" (mouseleave)="leave()" src="../../../../assets/images/Footer/Group1824.svg" alt="">
                    </div>

                    <div class="location-4-wrapper location-wrapper not-active" #customLocation4 (click)="changeLocation(customLocation4)" (mouseenter)="enter('India')" (mouseleave)="leave()">
                        <div class="location"></div>
                        <img (mouseenter)="enter('India')" (mouseleave)="leave()" src="../../../../assets/images/Footer/Group1824.svg" alt="">
                    </div>

                </div>

                <div class="col-12 order-1 col-lg-2 order-lg-3">
                    <div class="search">
                        <ul>
                            <li class="main">Let's talk</li>
                            <li class="subscribe-wrapper" [ngClass]="{'invalid': submitted && f.email.errors}">
                                <form [formGroup]="emailForm" class="input-group mb-3">
                                    <label for="subscribe"></label>
                                    <input formControlName="email" data-field="1" id="subscribe" type="text" class="form-control" placeholder="Your email">
                                </form>
                                <span class="input-group-btn">
                                     <button class="btn btn-default" (click)="onSubmit()">
                                         <img class="img-100" src="../../../../assets/images/Footer/chevron-right-solid.svg" alt="">
                                     </button>
                                </span>
                            </li>
                            <li class="sub">We’ll never share your email address with a third-party.</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>
</footer>
