
<div class="mt-5 bottom-30" *ngIf="done">
  <div class="card" widget="">
    <div class="card-header" style="background-color: #344154; color: white;"><span>Contracts</span>
    </div>
    <div class="card-body widget-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th translate>Id</th>
          <th translate>Created</th>
          <th>Updated</th>
        </tr>
        </thead>
        <tbody *ngIf="contractInfos.length > 0">
        <tr *ngFor="let contractInfo of contractInfos ; let i = index" >
          <td>{{contractInfo.id}}</td>
          <td>{{contractInfo.created}}</td>
          <td>{{contractInfo.updated}}</td>
          <td>
            <a class="tools" (click)="updateContract(contractInfo.contract)"><i class="fa fa-edit"></i></a>
            <a class="tools ml-3" (click)="viewContract(contractInfo)"> <i class="fa fa-eye"></i></a>
            <a class="tools ml-3" > <i class="fa fa-trash"></i></a>
            <a class="tools ml-3" *ngIf="contractInfo.pdf"  data-toggle="modal" data-target="#exampleModal1"> pdf </a>

            <div class="modal fade bd-example-modal-lg" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="{{contractInfo.pdf}}" alt="" style="width: 100%;height: 100%;">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn button ml-1" (click)="createContract()">Create Contract</button>

    </div>
  </div>
</div>
