/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0 !important;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    overflow-x: hidden;
    //transition: 1s all;
}

div[class^="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

// main styles =====================
.mb-10 {
    margin-bottom: 10px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-bottom {
    position: relative;
    top: 65%;
    transform: translateY(-50%);
}

.background-light {
    background: #f8f8f8;

    .section-title {
        font-family: Montserrat, sans-serif;
        font-size: 76px;
        font-weight: 600;
        line-height: 1.25;
        color: #3945ae;
    }

    .sub-title {
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: normal;
        line-height: 1.31;
        color: #1b2437;
    }

    .description {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.22;
        color: #98a0a6;
    }
}

.background-dark {
    background: #3945ae;

    .section-title {
        font-family: Montserrat, sans-serif;
        font-size: 76px;
        font-weight: 600;
        line-height: 1.32;
        color: #ffffff;
    }

    .sub-title {
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: normal;
        line-height: 1.31;
        color: #ffffff;
    }

    .section-description {
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-weight: normal;
        line-height: 1.21;
        color: #ffffff;
    }
}

.form-error {
    border: 3px solid darkred !important;
}


// main styles ===================== ^ ^ ^ ^ ^

.my-container {
    padding-left: 80px;
    padding-right: 80px;
}

//
//#slider .owl-next, #slider .owl-prev {
//    position: absolute;
//    width: 30px;
//    height: 30px;
//    border-radius: 50%;
//}

.service-content {
    #slider .owl-next {
        right: -80px;
        top: 45px;
        background: #5582CA;
    }

    #slider .owl-prev {
        right: -80px;
        top: 85px;
        background: white;
    }

    .owl-stage {
        height: 40vh;
        padding-left: 0 !important;
    }

    .owl-item {
        width: 300px;
        height: 360px;
        padding: 30px;
        object-fit: contain;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(42px);
        backdrop-filter: blur(42px);
        box-shadow: 2px 14px 12px 0 rgba(57, 69, 174, 0.1);
        background-color: #ffffff;

    }

    .owl-theme .owl-nav {
        margin-top: 0 !important;
    }
}

.advantage-content {
    .owl-stage {
        padding-left: 0 !important;
    }

    .owl-item {

    }
}

.portfolio-slider {
    #slider-one {
        .owl-stage {
            padding-left: 0 !important;
        }

        .owl-item {
            height: 40vh;
        }

        .owl-item:nth-child(2n) {

        }
    }

    #slider-two {
        .owl-stage {
            padding-left: 0 !important;
        }

        .owl-item {
            height: 25vh;
        }

        .owl-item:nth-child(2n) {

        }
    }
}

#team-carousel-wrapper {
    .owl-stage {
        padding-left: 0 !important;
    }

    .owl-item {

    }
}

@media(max-width: 1200px) {
    .my-container {
        padding-left: 20px;
        padding-right: 20px;

    }
    //#slider .owl-next, #slider .owl-prev {
    //    margin: 15px;
    //}
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}


/*//==================================================================================*/
/*//===============================  scroll styles  ==================================*/
/*//==================================================================================*/

:host {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3966ae;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #73a0ff;
}

/*//::-webkit-scrollbar-corner {*/
/*//    background: red;*/
/*/}*/

/*!* Handle on hover *!*/
/*//::-webkit-scrollbar-thumb:hover {*/
/*//    background: #555;*/
/*//}*/

// // // // // // // //
// // // MEDIA // // //
// // // // // // // //


// // // For mobile-desktop none-block // // //

@media (min-width: 720px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

@media (max-width: 720px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}


// // // Media for font-size // // //

@media (min-width: 992px) and (max-width: 1140px) {
    .section-title, h2 {
        font-size: 53px !important;
        line-height: 1.16 !important;
    }
    .sub-title, p {
        font-size: 24px !important;
        line-height: 1.16 !important;
    }
    .description {
        font-size: 16px !important;
        line-height: 1.10 !important;
    }
}

@media (min-width: 667px) and (max-width: 992px) {
    .section-title, h2 {
        font-size: 53px !important;
        line-height: 1.16 !important;
    }
    .sub-title, p {
        font-size: 24px !important;
        line-height: 1.16 !important;
    }
    .description {
        font-size: 16px !important;
        line-height: 1.10 !important;
    }
}

@media (max-width: 667px) {
    .section-title, h2 {
        font-size: 42px !important;
    }
    .sub-title, p {
        font-size: 22px !important;
    }
    .description {
        font-size: 18px !important;
    }
}

// // // Media for carousel // // //

@media (min-width: 1430px) {
    .my-container {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (min-width: 1366px) and (max-width: 1430px) {
    .my-container {
        padding-left: 100px;
        padding-right: 100px;
    }

}

@media (min-width: 720px) and (max-width: 1365px) {
    .my-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .service-content {
        .owl-item {
            height: auto;
        }
    }
}


