.nav.az-navbar {
    height: 60px;
    align-items: center;
    background-color: #242d3a;
}
.nav.az-navbar .navbar-brand {
    width: 205px;
    padding-top: 0;
    font-size: 0;
    margin-left: 10px;
}

// .nav {
//     height: 60px;
//     align-items: center;
//     background-color: #242d3a;
//     display: flex;
//     flex-wrap: wrap;
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;  
// }
.nav .navbar-brand {
    width: 205px;
    padding-top: 0;
    font-size: 0;
    margin-left: 10px;
}
#lines {
    border-bottom: 7px double;
    border-top: 2px solid;
    border-color: rgba(255,255,255,.9);
    content: "";
    height: 3px;
    width: 20px;
    box-sizing: content-box;
    cursor: pointer;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
}
.transition {
    transition: .3s;
}
// .d-none {
//     display: none!important;
// }
.app-search {
    position: relative;
    margin-left: 20px;
}
.app-search a {
    position: absolute;
    top: 3px;
    right: 14px;
    font-size: 16px;
    color: rgba(255,255,255,.3);
}
.app-search .form-control {
    border: 1px solid rgba(255,255,255,.1);
    font-size: 13px;
    letter-spacing: .03em;
    height: 30px;
    color: #fff;
    padding: 7px 40px 7px 20px;
    background: rgba(255,255,255,.05);
    box-shadow: none;
    border-radius: 30px;
    width: 190px;
}
.right-section {
    position: absolute;
    right: 10px;
    top: 10px;
}
.user-menu {
    font-size: 14px;
}
.user-link {
    margin-right: 6px;
}
.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
}
.user-menu .dropdown-menu {
    right: 0;
    top: auto!important;
    left: auto!important;
    margin-top: 10px;
    padding-top: 0;
    overflow: hidden;
    border-radius: 0;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
    -webkit-transform: none!important;
    transform: none!important;
}
.user-link img {
    width: 40px;
    border-radius: 50%;
}
.user-link span {
    color: #fff;
    margin-left: 7px;
    letter-spacing: .02em;
}
.user-info {
    background-color: #242d3a;
    padding: 8px;
    text-align: center;
    width: 240px;
    margin-bottom: 5px;
}
.user-menu .dropdown-menu a {
    color: #242d3a;
}
.dropdown-menu a {
    color: #242d3a;
}
.dropdown-divider {
    margin: .2rem 0;
}
.user-info img {
    width: 100px;
    margin-top: 5px;
    border-radius: 50%;
}
.user-info p {
    color: #ebebeb;
    margin-top: 10px;
}
.user-info small {
    display: block;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.user-menu .dropdown-menu a i {
    margin-right: 8px;
}
.max{
  max-width: 25px;
}
