<nav class="nav az-navbar ">
  <a class="navbar-brand" routerlink="/" href="/">
    <!--    <img alt="" class="d-md-block d-none" src="../../../assets/images/logo/logo_full.png">-->
    <!--    <img alt="" class="d-md-none" src="../../../assets/images/logo/logo_min.png">-->
  </a>
  <div class="transition" id="lines" (click)="menu_collapse()"></div>
  <form class="app-search d-md-block d-none" role="search">
    <input class="form-control" placeholder="Search..." type="text">
    <a href="javascript:void(0)">
      <i class="fa fa-search"></i>
    </a>
  </form>
  <ul class="nav right-section">
    <li class="nav-item dropdown">
      <div class="dropdown float-right user-menu">

        <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img src='{{lan.image}}' class="img-fluid max" alt="">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="list-group" *ngFor="let language of final">
            <li class="dropdown-item" (click)="switchLanguage(language)">
              <img src='{{language.image}}' class="img-fluid max" alt="">
            </li>
          </ul>
        </div>
      </div>
    </li>


<!--    <li class="nav-item">-->
<!--      <div class="dropdown float-right user-menu">-->
<!--        <a aria-expanded="false" class="dropdown-toggle user-link"-->
<!--           data-toggle="dropdown" href="#" role="button">-->
<!--          <img src='{{lan.image}}' class="img-fluid max" alt="">-->
<!--          <span class="d-lg-inline d-none"></span></a>-->
<!--        <ul class="dropdown-menu" *ngFor="let language of final">-->
<!--          <img src='{{language.image}}' class="img-fluid max" alt="">-->
<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->


    <li class="nav-item">
      <div class="dropdown float-right user-menu">
        <a aria-expanded="false" class="dropdown-toggle user-link"
                                                     data-toggle="dropdown" href="#" role="button">

         <span style="padding-right: 20px;">  {{ email }}</span>
        <img alt="user-img" class="img-circle user-img"
             src="assets/images/users/user.jpg">
        <span class="d-lg-inline d-none">
              <!-- {{currentUser.firstName}} -->
          <!-- {{currentUser.lastName}} -->
            </span></a>
        <ul class="dropdown-menu">
          <li class="user-info">
            <p> {{admin.email}}
              <small>Member since Dec. 2015</small>
            </p>
          </li>
          <!--          <a class="dropdown-item" routerlink="profile" href="/pages/profile">-->
          <!--            <i class="fa fa-user"></i>-->
          <!--            Profile-->
          <!--          </a>-->
          <!--          <a class="dropdown-item" routerlink="settings" href="/pages/settings">-->
          <!--            <i class="fa fa-cog"></i>-->
          <!--            Settings-->
          <!--          </a>-->
          <!--          <a class="dropdown-item" routerlink="/" href="/">-->
          <!--            <i class="fa fa-lock"></i>-->
          <!--            Lock screen-->
          <!--          </a>-->
          <!--          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item" (click)="myLogout()" style="cursor: pointer;"><i
            class="fa fa-power-off"></i>
            Log out
          </a>
        </ul>
      </div>
    </li>
  </ul>
</nav>
