<div class="container c">
  <div class="row">
    <div class="col-md-4 offset-4">
      <div class="link-wrapper"><a href="http://webi.webi.am/">View Site</a></div>
      <h2 class="text-center">WEBI Admin Page</h2>
      <div class="alert alert-danger" role="alert" *ngIf="msg">
        {{msg}}
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="myLogin()">
        <div class="form-group">
          <label>Email:</label>
          <input type="text" formControlName="email" placeholder="Email" class="form-control">
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" formControlName="password" placeholder="Password" class="form-control">
        </div>

        <button type="submit" class="btn btn-info">Login</button>
      </form>
    </div>
  </div>
</div>
