<button (click)="back()" class="btn button ml-1"><i class="fa fa-arrow-left"></i> back to Invoice list</button>

<div class="row pt-5">
  <div class="col-10 offset-1 border">

      <form action="" [formGroup]="form">
        <div class="text-center">
          <label for="content">Content</label>
        </div>
        <editor formControlName="content" id="content" [init]="ckConfig" [apiKey]="'21n31eitsjcrdxis8qxu0eew9ckdcud5xluejnkxeeh11i9e'" [ngClass]="{'invalid':form['controls'].content.touched && form['controls'].content.invalid}"></editor>

      </form>
    <button class="btn button" type="submit" (click)="myCreate()" [disabled]="form.invalid">Create</button>


  </div>
</div>
