.hidden-modal {
  width: 600px;
  height: auto;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: none;

  .component-types {
    margin: 10px;
    padding: 10px;
    width: 60px;
    display: inline;
    background: green;
  }
}

.hidden-modal-form {
  width: 500px;
  height: auto;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: none;
}

.text-component {
  border: 1px solid deeppink;
  margin-top: 10px;
}

.form-component {
  border: 1px dashed brown;
  margin-top: 10px;

}

.form-input {
  margin-top: 10px;
  text-align: center;
}

.text {
  background-color: darkslategrey;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.border {
  text-align: center;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hidden {
  width: 100px;
  display: none;
}

//
//.imageText{
//  display: none;
//}
.text-Img {
  float: right;
}

.img {
  max-width: 100%;
}
