<div class="row">
  <div class="col-md-10 offset-1">
    <h2 class="text-center" translate>Create</h2>
    <form [formGroup]="pageForm">

      <!--            <div class="form-group">-->
      <!--              <label for="image" translate>Image<span class="invalid">(required) </span> </label>-->
      <!--              <br>-->
      <!--              <input type="file" id="image" (change)="onFileChange($event)" #fileInput>-->
      <!--              <p *ngIf="pageForm.get('img').invalid && pageForm.get('img').touched" class="invalid">Type true-->
      <!--                Img</p>-->
      <!--            </div>-->

      <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
      <br>

      <div class="form-group pt-2">
        <label translate>Slug</label>
        <input type="text" placeholder="slug" class="form-control" formControlName="slug" (keyup)="filterSlug($event)">
        <p *ngIf="pageForm.get('slug').invalid && pageForm.get('slug').touched" class="invalid">Type Slug</p>
        <span style="color: red" *ngIf="!isValid">Try another slug</span>

      </div>

      <div class="form-group">
        <label translate>Title</label>
        <input type="text" placeholder="en" class="form-control" formControlName="enTitle" *ngIf="language=='en'">
        <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle" *ngIf="language=='ru'">
        <input type="text" placeholder="am" class="form-control" formControlName="amTitle" *ngIf="language=='am'">
        <p *ngIf="pageForm.get('enTitle').invalid && pageForm.get('enTitle').touched" class="invalid">Type en
          Title</p>

      </div>


      <div class="form-group">
        <label translate>Description</label>
        <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescription"
                  *ngIf="language=='en'"></textarea>
        <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescription"
                  *ngIf="language=='ru'"></textarea>
        <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescription"
                  *ngIf="language=='am'"></textarea>


        <p *ngIf="pageForm.get('enDescription').invalid && pageForm.get('enDescription').touched"
           class="invalid">Type en Description</p>

      </div>


      <button (click)="addComponent()">Add Component</button>

      <!--      <div formArrayName="components" *ngFor="let com of pageForm.controls.components['controls']; let i = index">-->
      <div formArrayName="components" *ngFor="let com of pageForm.get('components')['controls']; let i = index">
        <div [formGroupName]="i">
          <div *ngIf="com['value']['type'] === 'text'" class="text-component">
            <label translate>Text Component Title</label>
            <input type="text" placeholder="en" class="form-control" formControlName="enTitleText"
                   *ngIf="language=='en'">
            <input type="text" placeholder="ru" class="form-control" formControlName="ruTitleText"
                   *ngIf="language=='ru'">
            <input type="text" placeholder="am" class="form-control" formControlName="amTitleText"
                   *ngIf="language=='am'">

            <div class="form-group">
              <label translate>Text Component Description</label>
              <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescriptionText"
                        *ngIf="language=='en'"></textarea>
              <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescriptionText"
                        *ngIf="language=='ru'"></textarea>
              <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescriptionText"
                        *ngIf="language=='am'"></textarea>

            </div>

            <label translate>Text Position</label>

            <select class="form-control" formControlName="position">
              <option value="center" [selected]="true">center</option>
              <option value="left">left</option>
              <option value="right">right</option>
            </select>
          </div>

          <div *ngIf="com['value']['type'] === 'form'" class="form-component">
            <div class="form-group">
              <input type="hidden" formControlName="index" [ngModel]="i">
            </div>
            <button class="btn btn-success add-input" (click)="addInput(i)">Add Input</button>
            <label translate>Form Component</label>
            <div formArrayName="fields" *ngFor="let field of com.get('fields')['controls']; let j = index">

              <div [formGroupName]="j">
                <div *ngIf="field['value']['inpType'] === 'textArea'" class="form-input">
                  <div class="form-group">
                    <label translate>Form TextArea</label>

                    <textarea class="form-control" placeholder="en" rows="3" formControlName="enMessage"
                              *ngIf="language=='en'"></textarea>
                    <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruMessage"
                              *ngIf="language=='ru'"></textarea>
                    <textarea class="form-control" placeholder="am" rows="3" formControlName="amMessage"
                              *ngIf="language=='am'"></textarea>
                  </div>
                </div>
                <div *ngIf="field['value']['inpType'] === 'input'" class="form-input">
                  <div class="form-group">
                    <label translate>Form Input</label>

                    <input type="text" placeholder="en" class="form-control" formControlName="enMessage"
                           *ngIf="language=='en'">
                    <input type="text" placeholder="ru" class="form-control" formControlName="ruMessage"
                           *ngIf="language=='ru'">
                    <input type="text" placeholder="am" class="form-control" formControlName="amMessage"
                           *ngIf="language=='am'">

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="com['value']['type'] === 'card'" class="text-component">
            <div class="form-group">
              <label translate>Card Component Title</label>
              <input type="text" placeholder="en" class="form-control" formControlName="enTitleCard"
                     *ngIf="language=='en'">
              <input type="text" placeholder="ru" class="form-control" formControlName="ruTitleCard"
                     *ngIf="language=='ru'">
              <input type="text" placeholder="am" class="form-control" formControlName="amTitleCard"
                     *ngIf="language=='am'">
            </div>

            <div class="form-group">
              <label translate>Card Component Description</label>
              <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescriptionCard"
                        *ngIf="language=='en'"></textarea>
              <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescriptionCard"
                        *ngIf="language=='ru'"></textarea>
              <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescriptionCard"
                        *ngIf="language=='am'"></textarea>

            </div>

            <div class="form-group">
              <label translate>Card Component List</label>
              <input type="text" placeholder="en" class="form-control" formControlName="enListCard"
                     *ngIf="language=='en'">
              <input type="text" placeholder="ru" class="form-control" formControlName="ruListCard"
                     *ngIf="language=='ru'">
              <input type="text" placeholder="am" class="form-control" formControlName="amListCard"
                     *ngIf="language=='am'">
            </div>

          </div>

          <div *ngIf="com['value']['type'] === 'imageWithText'" class="text-component">
            <div class="form-group">
              <label translate>Image-Text Component Text</label>
              <input type="text" placeholder="en" class="form-control" formControlName="enText" *ngIf="language=='en'">
              <input type="text" placeholder="ru" class="form-control" formControlName="ruText" *ngIf="language=='ru'">
              <input type="text" placeholder="am" class="form-control" formControlName="amText" *ngIf="language=='am'">
            </div>


            <div class="form-group">
              <label translate>Image Position</label>
              <select class="form-control" formControlName="imagePosition" (change)="imagePosition($event)">
                <option value="left" [selected]="true">left</option>
                <option value="right">right</option>
              </select>
            </div>

            <div class="form-group">
              <label translate>Image Size</label>
              <select class="form-control" formControlName="imageSize" (change)="imagePosition($event)">
                <option value="4" [selected]="true">small</option>
                <option value="6">middle</option>
                <option value="8">big</option>
                <option value="12">full</option>
              </select>
            </div>

            <div class="form-group">

              <label for="image" translate>Image<span class="invalid">(required) </span> </label>
              <br>
              <input type="file" id="image" (change)="imageWithText($event,i)" #fileInput>
            </div>

            <div class="imageText form-group" style="background-color: #6c757d3d">
              <div [class]="'col-'+com['value']['imageSize']"
                   [ngClass]="{'pull-left': com['value']['imagePosition'] === 'left','pull-right': com['value']['imagePosition'] === 'right'}">
                <img [src]="com['value']['imgURL']" class="img-fluid ">
              </div>

              <div [class]="'col-'+ (12 - com['value']['imageSize'])"
                   [ngClass]="{'pull-right': com['value']['imagePosition'] === 'left','pull-left': com['value']['imagePosition'] === 'right', 'col-12':com['value']['imageSize']==12}">
                <p *ngIf="language === 'en'">{{com['value']['enText']}}</p>
                <p *ngIf="language === 'ru'">{{com['value']['ruText']}}</p>
                <p *ngIf="language === 'am'">{{com['value']['amText']}}</p>
              </div>


              <div class="clearfix"></div>
            </div>

          </div>


        </div>
      </div>


      <button type="button" class="btn btn-info" (click)="myPage()" [disabled]="!isValid || !pageForm.valid" translate>
        Create<i class="fa fa-check"></i>
      </button>


      <!--      <div class="form-group">-->
      <!--        <label translate>Content</label>-->

      <!--        <ckeditor *ngIf="language=='en'" [editor]="Editor" [config]="ckconfig" tagName="input"-->
      <!--                  formControlName="enContent"></ckeditor>-->
      <!--        <ckeditor *ngIf="language=='ru'" [editor]="Editor" [config]="ckconfig" tagName="input"-->
      <!--                  formControlName="ruContent"></ckeditor>-->
      <!--        <ckeditor *ngIf="language=='am'" [editor]="Editor" [config]="ckconfig" tagName="input"-->
      <!--                  formControlName="amContent"></ckeditor>-->

      <!--        <p *ngIf="pageForm.get('enContent').invalid && pageForm.get('enContent').touched"-->
      <!--           class="invalid">Type en Description</p>-->
      <!--      </div>-->

      <!--      <div class="form-group">-->

      <!--      </div>-->

      <!--      <div formArrayName="components" *ngFor="let creds of pageForm.controls.components?.value; let i = index">-->
      <!--        <ng-container [formGroupName]="i">-->
      <!--&lt;!&ndash;          <input placeholder="type" formControlName="type" class="form-group" [value]="componentType">&ndash;&gt;-->
      <!--        </ng-container>-->
      <!--      </div>-->
    </form>
  </div>
</div>


<div class="hidden-modal">
  <button class="btn btn-success ml-2" (click)="selectType('form')" value="form">form</button>
  <button class="btn btn-success ml-2" (click)="selectType('text')" value="text">text content</button>
  <button class="btn btn-success ml-2" (click)="selectType('card')" value="card">cards</button>
  <button class="btn btn-success ml-2" (click)="selectType('slider')" value="slider">slider</button>
  <button class="btn btn-success ml-2" (click)="selectType('feedback')" value="feedback">feedback</button>
  <button class="btn btn-success ml-2" (click)="selectType('imageWithText')" value="feedback">image with text</button>
</div>
<div class="hidden-modal-form">
  <button class="btn btn-success ml-2" (click)="selectInputType('input')" value="form">input</button>
  <button class="btn btn-success ml-2" (click)="selectInputType('textArea')" value="text">text area</button>
</div>


<!--<div class="hidden-modal">-->
<!--  <button class="btn btn-success ml-2" (click)="mySelect($event)" value="form">form</button>-->
<!--  <button class="btn btn-success ml-2" (click)="mySelect($event)" value="text">text content</button>-->
<!--  <button class="btn btn-success ml-2" (click)="mySelect($event)" value="card">cards</button>-->
<!--  <button class="btn btn-success ml-2" (click)="mySelect($event)" value="slider">slider</button>-->
<!--  <button class="btn btn-success ml-2" (click)="mySelect($event)" value="feedback">feedback</button>-->
<!--</div>-->


<!--<div class="titleOrDescription">-->
<!--  <select class="form-control" >-->
<!--    <option value="slider">Title</option>-->
<!--    <option value="feedback">Description</option>-->
<!--  </select>-->
<!--</div>-->


<!--<h2>League Manager</h2>-->
<!--<form [formGroup]="leagueForm">-->
<!--  <div class="form-header" formGroupName="league_details">-->
<!--    <label>League Name <input formControlName="name"/></label>-->
<!--    <label>Founder <input formControlName="founder"/></label>-->
<!--  </div>-->

<!--  <hr />-->
<!--  <button type="button" (click)="addTeam()">Add Team</button>-->
<!--  <div formArrayName="teams">-->
<!--    <div class="teams" *ngFor=" let team of leagueForm.get('teams').controls;let teamIndex = index" [formGroupName]="teamIndex">-->
<!--      <label-->
<!--      >Team Name <input formControlName="team_name" />-->
<!--        <button (click)="deleteTeam(teamIndex)">x</button></label-->
<!--      >-->
<!--      <hr />-->
<!--      <button type="button" (click)="addPlayer(team)">Add Player</button>-->
<!--      <div formArrayName="players">-->
<!--        <div-->
<!--          class="players"-->
<!--          *ngFor="-->
<!--            let player of team.get('players').controls;-->
<!--            let playerIndex = index-->
<!--          "-->
<!--          [formGroupName]="playerIndex"-->
<!--        >-->
<!--          <label-->
<!--          >Player Name <input formControlName="player_name" />-->
<!--            <button (click)="deletePlayer(team, playerIndex)">x</button></label-->
<!--          >-->
<!--          <label>Player Number <input formControlName="player_number"/></label>-->
<!--          <span *ngIf="player.get('player_number').touched">touched!</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
<!--{{ this.leagueForm.value | json }}-->


<!--      <div formArrayName="components" *ngFor="let comps of pageForm.controls.components['controls']; let i = index">-->

<!--        <ng-container [formGroupName]="i">-->
<!--          <select class="form-control" formControlName="type" (change)="mySelect($event,i)">-->
<!--            <option value="form">form</option>-->
<!--            <option value="text">text content</option>-->
<!--            <option value="cards">cards</option>-->
<!--            <option value="slider">slider</option>-->
<!--            <option value="feedback">feedback</option>-->
<!--          </select>-->
<!--          <div formArrayName="contentForm" *ngFor="let c of pageForm.controls.components['controls'].contentForm['controls']; let j = index">-->
<!--            <ng-container [formGroupName]="j">-->
<!--              <label translate>Title</label>-->
<!--              <input type="text" placeholder="en" class="form-control" formControlName="enTitleText" *ngIf="language=='en'">-->
<!--              <input type="text" placeholder="ru" class="form-control" formControlName="ruTitleText" *ngIf="language=='ru'">-->
<!--              <input type="text" placeholder="am" class="form-control" formControlName="amTitleText" *ngIf="language=='am'">-->
<!--&lt;!&ndash;              <p *ngIf="pageForm.get('enTitle').invalid && pageForm.get('enTitle').touched" class="invalid">Type en&ndash;&gt;-->
<!--&lt;!&ndash;                Title</p>&ndash;&gt;-->
<!--            </ng-container>-->
<!--          </div>-->

<!--        </ng-container>-->
<!--      </div>-->

<!--      <div [sortablejs]="typeOfComponents">-->
<!--        <p class="text" *ngFor="let type of typeOfComponents">{{type['type']}}</p>-->
<!--        <div *ngIf="componentType == 'text'">-->
<!--&lt;!&ndash;          <button (click)="addTextTitle()">Add Title</button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button (click)="addTextDescription()">Add Description</button>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="form-group" *ngIf="componentType === 'text'">-->
<!--        <div formArrayName="components" *ngFor="let creds of pageForm.controls.components?.value; let i = index">-->
<!--          <ng-container [formGroupName]="i">-->

<!--&lt;!&ndash;            <div formArrayName="title" *ngFor="let titles of pageForm.controls.components['controls'].title?.value; let j = index">&ndash;&gt;-->
<!--&lt;!&ndash;              <ng-container [formGroupName]="j">&ndash;&gt;-->
<!--                <label translate>Title Of Text Content</label>-->
<!--                <input type="text" placeholder="en" class="form-control" formControlName="enTitleText" *ngIf="language=='en'">-->
<!--                <input type="text" placeholder="ru" class="form-control" formControlName="ruTitleText" *ngIf="language=='ru'">-->
<!--                <input type="text" placeholder="am" class="form-control" formControlName="amTitleText" *ngIf="language=='am'">-->
<!--                <p *ngIf="pageForm.get('enTitle').invalid && pageForm.get('enTitle').touched" class="invalid">Type en-->
<!--                  Title</p>-->
<!--&lt;!&ndash;              </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </div>-->
