<div class="d-flex">
  <div class="mr-auto p-2">
    <button class="btn btn-primary"  translate (click)="create()">Create Page</button>

  </div>
  <div class="p-2">
    <input class="mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
  </div>
</div>


<br>
<table class="table table-dark table-hover table-striped">
  <thead class="thead-light">
  <tr>
    <th translate>_id</th>
    <th translate>Title</th>
    <th translate>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <!--<tr *ngFor="let page of pages | titleDescriptionFilter : searchTerm; let i = index">-->
  <tr *ngFor="let page of pages ; let i = index">

    <td>{{page._id}}</td>
    <td>{{page.title.en}}</td>
    <td [innerHTML]="page.description.en"></td>

    <td>
      <button [routerLink]="['/admin/page', page._id]" (click)="viewPage(page)" class="btn btn-info"><i
        class="fas fa-eye"></i></button>

      <button (click)="updatePage(page)" style="margin-left: 20px;" class="btn btn-primary"><i
        class="far fa-edit"></i></button>

      <button (click)="deletePage(page,i)" style="margin-left: 20px;" class="btn btn-danger"><i
        class="fa fa-times"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
