.add {
    width: 200px;
    position: fixed;
    right: 0px;
    top: 100px;
}

.detailItem {
    width: 100%;
    margin-top: 10px;
}

.button {
    background-color: #344154;
}


.hidden-modal {
  width: 600px;
  height: auto;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: none;

.component-types {
  margin: 10px;
  padding: 10px;
  width: 60px;
  display: inline;
  background: green;
}
}
.input-error{
  border: 2px solid red !important;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 10px;
}

[type="file"] + label {
    background-color: #344154;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #f15d22;
}

[type="file"]:focus + label {
    outline: 1px dotted #000;
}
.tools{
    background-color: #6983ab;
    border-radius: 5px 5px 0 0;
}
.border{
    border-radius: 5px 5px 0 0;
}
.image {
    width: 100%;
    height: 100%;
}
