<div class="row">
    <div class="col-md-10 offset-1">
        <h2 class="text-center" translate>Create</h2>
        <form [formGroup]="portfolioForm">
            <div class="form-group">
                <label for="image">Image</label>
                <div class="row">
                    <div class="col-4">
                        <input type="file" [id]="'cover'"
                               (change)="onFileChange($event)">
                        <label [for]="'cover'">choose
                            a file</label>

                    </div>
                    <div class="col-4">
                        <img [src]="portfolioForm['value']['imgURL']" class="img-fluid ">
                    </div>
                </div>
                <p *ngIf="portfolioForm.get('imgURL').invalid && portfolioForm.get('imgURL').touched" class="invalid">
                    Type true
                    Img</p>

            </div>

            <div class="form-group">
                <label translate>url</label>
                <input type="text" placeholder="Url" class="form-control" formControlName="url">
                <p *ngIf="portfolioForm.get('url').invalid && portfolioForm.get('url').touched" class="invalid">Type
                    true
                    Url</p>
            </div>

            <div class="form-group">
                <label translate>slug</label>
                <input type="text" placeholder="Slug" class="form-control" formControlName="slug"
                       (keyup)="filterSlug($event)">
                <p *ngIf="portfolioForm.get('slug').invalid && portfolioForm.get('slug').touched" class="invalid">Type
                    true Slug</p>
                <p *ngIf="inValidSlug" class="invalid">Type true Slug</p>
            </div>

            <div class="form-group">
                <label translate>Slider Position</label>

                <select class="form-control" formControlName="sliderPosition">
                    <option value="top" [selected]="portfolio?false:true">top</option>
                    <option value="bottom">bottom</option>
                </select>
            </div>


            <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
            <br>
            <div class="form-group">
                <label translate>Title</label>
                <input type="text" placeholder="en" class="form-control" formControlName="enTitle"
                       *ngIf="language=='en'">
                <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle"
                       *ngIf="language=='ru'">
                <input type="text" placeholder="am" class="form-control" formControlName="amTitle"
                       *ngIf="language=='am'">
                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">
                    Type en
                    Title</p>
            </div>

            <div class="form-group">
                <label translate>Hover</label>
                <textarea class="form-control" placeholder="en" rows="3" formControlName="enHover"
                          *ngIf="language=='en'"></textarea>
                <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruHover"
                          *ngIf="language=='ru'"></textarea>
                <textarea class="form-control" placeholder="am" rows="3" formControlName="amHover"
                          *ngIf="language=='am'"></textarea>
            </div>

            <div class="form-group">
                <label translate>Short Description</label>
                <textarea class="form-control" placeholder="en" rows="3" formControlName="enShortDescription"
                          *ngIf="language=='en'"></textarea>
                <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruShortDescription"
                          *ngIf="language=='ru'"></textarea>
                <textarea class="form-control" placeholder="am" rows="3" formControlName="amShortDescription"
                          *ngIf="language=='am'"></textarea>
                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">
                    Type en
                    Short Description</p>
            </div>


            <h3 class="text-center">Portfolio details</h3>

            <!--            <button (click)="addDetails()">Add Details</button>-->


            <div class="add">
                <button class="btn btn-success" (click)="addTools()">Add</button>
                <div class="details" [ngStyle]="{'display':detailsView ? 'block' : 'none' }">
                    <div class="detailItem">
                        <button class="btn button" (click)="selectType('cover')" value="text">cover image</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="selectType('text')" value="text">text content</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="selectType('imageWithImage')" value="text">image with
                            image
                        </button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="selectType('imageWithText')" value="text">image with text
                        </button>
                    </div>
                </div>
            </div>


            <div formArrayName="details" *ngFor="let detail of portfolioForm.get('details')['controls']; let i = index">
                <div class="row">
                    <div class="col-12 border">
                        <div [formGroupName]="i">
                            <div *ngIf="detail['value']['type'] === 'text'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Text</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select class="form-control" formControlName="titleAlign">
                                                    <option value="left">left</option>
                                                    <option value="right">right</option>
                                                    <option value="center">center</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select class="form-control" formControlName="titleWidth">
                                                    <option value="12">12</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select class="form-control" formControlName="descriptionAlign">
                                                    <option value="left">left</option>
                                                    <option value="right">right</option>
                                                    <option value="center">center</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label translate>Text Detail 1</label>
                                    <input type="text" placeholder="en" class="form-control" formControlName="enText1"
                                           *ngIf="language=='en'">
                                    <input type="text" placeholder="ru" class="form-control" formControlName="ruText1"
                                           *ngIf="language=='ru'">
                                    <input type="text" placeholder="am" class="form-control" formControlName="amText1"
                                           *ngIf="language=='am'">
                                </div>

                                <div class="form-group">
                                    <label translate>Text Detail 2</label>
                                    <input type="text" placeholder="en" class="form-control" formControlName="enText2"
                                           *ngIf="language=='en'">
                                    <input type="text" placeholder="ru" class="form-control" formControlName="ruText2"
                                           *ngIf="language=='ru'">
                                    <input type="text" placeholder="am" class="form-control" formControlName="amText2"
                                           *ngIf="language=='am'">
                                </div>
                                <div class="row">
                                    <div [class]="'col-' + detail['value']['titleWidth']">
                                        <h3 [style.textAlign]="detail['value']['titleAlign']">{{detail['value'][language + 'Text1']}}</h3>
                                    </div>
                                    <div class="col-12">
                                        <p [style.textAlign]="detail['value']['descriptionAlign']">{{detail['value'][language + 'Text2']}}</p>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="detail['value']['type'] === 'cover'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Cover</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="alignment">
                                                    <option [value]="alignment" *ngFor="let alignment of alignments">
                                                        {{alignment}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name=""
                                                        class="form-control" formControlName="verticalAlignment">
                                                    <option [value]="vAlignment"
                                                            *ngFor="let vAlignment of verticalAlignments">
                                                        {{vAlignment}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="objectFit">
                                                    <option [value]="objF"
                                                            *ngFor="let objF of objectFits">
                                                        {{objF}}</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <input type="file" [id]="'cover_details'"
                                                   (change)="coverImage($event,i)">
                                            <label [for]="'cover_details'">choose
                                                a file</label>
                                        </div>
                                        <div class="col-4">
                                            <img [src]="detail['value']['imgURL']" class="img-fluid ">
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <!--                            <div *ngIf="detail['value']['type'] === 'imageWithText'" class="text-component">-->
                            <!--                                <div class="form-group">-->

                            <!--                                    <div class="form-group">-->
                            <!--                                        <label translate>Image-Text Title</label>-->
                            <!--                                        <input type="text" placeholder="en" class="form-control"-->
                            <!--                                               formControlName="enTitle"-->
                            <!--                                               *ngIf="language=='en'">-->
                            <!--                                        <input type="text" placeholder="ru" class="form-control"-->
                            <!--                                               formControlName="ruTitle"-->
                            <!--                                               *ngIf="language=='ru'">-->
                            <!--                                        <input type="text" placeholder="am" class="form-control"-->
                            <!--                                               formControlName="amTitle"-->
                            <!--                                               *ngIf="language=='am'">-->
                            <!--                                    </div>-->

                            <!--                                    <label translate>Image-Text Text</label>-->
                            <!--                                    <input type="text" placeholder="en" class="form-control" formControlName="enText"-->
                            <!--                                           *ngIf="language=='en'">-->
                            <!--                                    <input type="text" placeholder="ru" class="form-control" formControlName="ruText"-->
                            <!--                                           *ngIf="language=='ru'">-->
                            <!--                                    <input type="text" placeholder="am" class="form-control" formControlName="amText"-->
                            <!--                                           *ngIf="language=='am'">-->
                            <!--                                </div>-->


                            <!--                                <div class="form-group">-->
                            <!--                                    <label translate>Image Position</label>-->
                            <!--                                    <select class="form-control" formControlName="imagePosition"-->
                            <!--                                            (change)="imagePosition($event)">-->
                            <!--                                        <option value="left" [selected]="true">left</option>-->
                            <!--                                        <option value="right">right</option>-->
                            <!--                                    </select>-->
                            <!--                                </div>-->


                            <!--                                <div class="form-group">-->

                            <!--                                    <label for="image" translate>Image<span class="invalid">(required) </span> </label>-->
                            <!--                                    <br>-->
                            <!--                                    <input type="file" id="image" (change)="imageWithText($event,i)" #fileInput>-->
                            <!--                                </div>-->

                            <!--                                <div class="imageText form-group" style="background-color: #6c757d3d">-->
                            <!--                                    <div class="col-6"-->
                            <!--                                         [ngClass]="{'pull-left': detail['value']['imagePosition'] === 'left','pull-right': detail['value']['imagePosition'] === 'right'}">-->
                            <!--                                        <img [src]="detail['value']['imgURL']" class="img-fluid ">-->
                            <!--                                    </div>-->

                            <!--                                    <div class="col-6"-->
                            <!--                                         [ngClass]="{'pull-right': detail['value']['imagePosition'] === 'left','pull-left': detail['value']['imagePosition'] === 'right'}">-->
                            <!--                                        <p *ngIf="language === 'en'">{{detail['value']['enText']}}</p>-->
                            <!--                                        <p *ngIf="language === 'ru'">{{detail['value']['ruText']}}</p>-->
                            <!--                                        <p *ngIf="language === 'am'">{{detail['value']['amText']}}</p>-->
                            <!--                                    </div>-->


                            <!--                                    <div class="clearfix"></div>-->
                            <!--                                </div>-->

                            <!--                            </div>-->


                            <div *ngIf="detail['value']['type'] === 'imageWithText'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Image With Text</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <input type="file" [id]="'file_' + i"
                                                       (change)="imageWithText($event,i)">
                                                <label [for]="'file_' + i">choose a file</label>
                                            </div>

                                            <div class=ml-2>
                                                <select name="" class="form-control" formControlName="imgSize">
                                                    <option [value]="size" *ngFor="let size of imageSize">
                                                        col-{{size}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="imageHeight">
                                                    <option [value]="height" *ngFor="let height of imageHeights">
                                                        {{height}}vh
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="alignment">
                                                    <option [value]="alignment" *ngFor="let alignment of alignments">
                                                        {{alignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name=""
                                                        class="form-control" formControlName="verticalAlignment">
                                                    <option [value]="vAlignment"
                                                            *ngFor="let vAlignment of verticalAlignments">
                                                        {{vAlignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="objectFit">
                                                    <option [value]="objF"
                                                            *ngFor="let objF of objectFits">
                                                        {{objF}}</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn button" (click)="reverse(i)"><i
                                            class="fas fa-exchange-alt"></i>
                                        </button>
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div
                                        [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">
                                            <img *ngIf="detail['value']['imgURL']; else img"
                                                 [src]="detail['value']['imgURL']"
                                                 [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>


                                    <div [class]="'col-' + (12 - detail['value']['imgSize']) + ' order-' +  (3 - detail['value']['imageOrder'] )">
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label translate>Title</label>
                                                <input type="text" placeholder="en" class="form-control"
                                                       formControlName="enTitle"
                                                       *ngIf="language=='en'">
                                                <input type="text" placeholder="ru" class="form-control"
                                                       formControlName="ruTitle"
                                                       *ngIf="language=='ru'">
                                                <input type="text" placeholder="am" class="form-control"
                                                       formControlName="amTitle"
                                                       *ngIf="language=='am'">
                                            </div>

                                            <div class="form-group col-12">
                                                <label translate>Content</label>
                                                <textarea class="form-control" placeholder="en" rows="3"
                                                          formControlName="enContent"
                                                          *ngIf="language=='en'"></textarea>
                                                <textarea class="form-control" placeholder="ru" rows="3"
                                                          formControlName="ruContent"
                                                          *ngIf="language=='ru'"></textarea>
                                                <textarea class="form-control" placeholder="am" rows="3"
                                                          formControlName="amContent"
                                                          *ngIf="language=='am'"></textarea>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>


                            <div *ngIf="detail['value']['type'] === 'imageWithImage'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Image With Image</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">

                                            <div formGroupName="img1" class="col-6">

                                                <div class="row">
                                                    <div class="ml-2">
                                                        <input type="file" [id]="'file1_' + i"
                                                               (change)="imageWithImage($event,i,'img1')">
                                                        <label [for]="'file1_' + i">choose a img1</label>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="alignment">
                                                            <option [value]="alignment"
                                                                    *ngFor="let alignment of alignments">
                                                                {{alignment}}</option>
                                                        </select>
                                                    </div>


                                                    <div class="ml-2">
                                                        <select name=""
                                                                class="form-control"
                                                                formControlName="verticalAlignment">
                                                            <option [value]="vAlignment"
                                                                    *ngFor="let vAlignment of verticalAlignments">
                                                                {{vAlignment}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="objectFit">
                                                            <option [value]="objF"
                                                                    *ngFor="let objF of objectFits">
                                                                {{objF}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div formGroupName="img2" class="col-6">

                                                <div class="row">
                                                    <div class="ml-2">
                                                        <input type="file" [id]="'file2_' + i"
                                                               (change)="imageWithImage($event,i,'img2')">
                                                        <label [for]="'file2_' + i">choose a img2</label>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="alignment">
                                                            <option [value]="alignment"
                                                                    *ngFor="let alignment of alignments">
                                                                {{alignment}}</option>
                                                        </select>
                                                    </div>


                                                    <div class="ml-2">
                                                        <select name=""
                                                                class="form-control"
                                                                formControlName="verticalAlignment">
                                                            <option [value]="vAlignment"
                                                                    *ngFor="let vAlignment of verticalAlignments">
                                                                {{vAlignment}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="objectFit">
                                                            <option [value]="objF"
                                                                    *ngFor="let objF of objectFits">
                                                                {{objF}}</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class=ml-2>
                                                <select name="" class="form-control" formControlName="imgSize">
                                                    <option [value]="size" *ngFor="let size of imageSize">
                                                        col-{{size}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="imageHeight">
                                                    <option [value]="height" *ngFor="let height of imageHeights">
                                                        {{height}}vh
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn button" (click)="reverse(i)"><i
                                            class="fas fa-exchange-alt"></i>
                                        </button>
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--                                    <div [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "-->
                                    <div
                                        [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">


                                            <img *ngIf="detail['value']['img1']['imgURL']; else img"
                                                 [src]="detail['value']['img1']['imgURL']"
                                                 [style.objectPosition]="detail['value']['img1']['alignment'] + ' ' + detail['value']['img1']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['img1']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div
                                        [class]="'col-' + (12 - detail['value']['imgSize']) + ' order-' +  (3 - detail['value']['imageOrder'] )"
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">


                                            <img *ngIf="detail['value']['img2']['imgURL']; else img"
                                                 [src]="detail['value']['img2']['imgURL']"
                                                 [style.objectPosition]="detail['value']['img2']['alignment'] + ' ' + detail['value']['img2']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['img2']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-info" (click)="myPortfolio()"
                    [disabled]="!portfolioForm.valid || inValidSlug" translate>
                Create<i
                class="fa fa-check"></i></button>
        </form>
    </div>

</div>


<div class="hidden-modal">
    <button class="btn btn-success ml-2" (click)="selectType('cover')" value="text">cover image</button>
    <button class="btn btn-success ml-2" (click)="selectType('text')" value="text">text content</button>
    <button class="btn btn-success ml-2" (click)="selectType('imageWithImage')" value="feedback">image with image
    </button>
    <button class="btn btn-success ml-2" (click)="selectType('imageWithText')" value="feedback">image with text</button>
</div>
