<div class="row">
  <div class="col-md-10 offset-1" *ngIf="done">
    <h2 class="text-center">{{portfolio['title'].en}}</h2>
    <div>
      <img src='http://localhost:3000/uploads/portfolio/{{portfolio["image"]}}' class="img-fluid max" alt="">
    </div>
    <h2 translate>url</h2>
    <h5>{{portfolio.url}}</h5>
    <h2 translate>Slider Position</h2>
    <h5>{{portfolio.sliderPosition}}</h5>
    <h2 translate>Title</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{portfolio['title'].am}}</td>
        <td>{{portfolio['title'].ru}}</td>
        <td>{{portfolio['title'].en}}</td>
      </tr>
      </tbody>
    </table>
    <h2 translate>Hover</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{portfolio['hover'].am}}</td>
        <td>{{portfolio['hover'].ru}}</td>
        <td>{{portfolio['hover'].en}}</td>
      </tr>
      </tbody>
    </table>
    <h2 translate>Short Description</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{portfolio['shortDescription'].am}}</td>
        <td>{{portfolio['shortDescription'].ru}}</td>
        <td>{{portfolio['shortDescription'].en}}</td>
      </tr>
      </tbody>
    </table>
    <h2 translate>Description</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td [innerHTML]="portfolio['description'].am"></td>
        <td [innerHTML]="portfolio['description'].ru"></td>
        <td [innerHTML]="portfolio['description'].en"></td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="ok()"><i
      class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button *ngIf="adminService.canUpdate()" type="button" class="btn btn-info" (click)="updatePortfolio(portfolio)" style="margin-left: 20px;"
            translate>Edit<i
      class="far fa-edit"></i></button>
    <button *ngIf="adminService.canDelete()" (click)="deletePortfolio(portfolio,i)" style="margin-left: 20px;" class="btn btn-danger"><i
      class="fa fa-times"></i>
    </button>
  </div>
</div>

