<div class="row">
  <div class="col-md-10 offset-1" *ngIf="done">
    <h2 class="text-center">{{advantage['title'].en}}</h2>
    <h2>Order</h2>
    <h5>{{advantage.order}}</h5>
    <h2 translate>Title</h2>

    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{advantage['title'].am}}</td>
        <td>{{advantage['title'].ru}}</td>
        <td>{{advantage['title'].en}}</td>
      </tr>
      </tbody>
    </table>

    <h2 translate>Description</h2>

    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{advantage['description'].am}}</td>
        <td>{{advantage['description'].ru}}</td>
        <td>{{advantage['description'].en}}</td>
      </tr>
      </tbody>
    </table>


    <button type="button" class="btn btn-success" (click)="ok()"><i
      class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-info" (click)="updateAdvantage(advantage)" style="margin-left: 20px;"
            translate>
      Edit<i
      class="far fa-edit"></i></button>
    <button (click)="deleteAdvantage(advantage)" style="margin-left: 20px;" class="btn btn-danger"><i
      class="fa fa-times"></i>
    </button>
  </div>
</div>

