<div class="row">
    <div class="col-md-10 offset-1" *ngIf="done">
      <h2 class="text-center">{{card['title'].en}}</h2>
      <div>
        <img src='http://localhost:3000/uploads/card/{{card["image"]}}' class="img-fluid max" alt="">
      </div>
        <h2 translate>Name</h2>
        <table class="table table-dark table-hover table-striped">
            <thead class="thead-light">
            <tr>
                <th>Url</th>
                <th>Text Color</th>
                <th>Background</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{card.url}}</td>
              <td [style.background]="card.textColor"></td>
                <td [style.background]="card.background"></td>
            </tr>
            </tbody>

        </table>
      <h2 translate>Title</h2>

      <table class="table table-dark table-hover table-striped">
        <thead class="thead-light">
        <tr>
          <th>am</th>
          <th>ru</th>
          <th>en</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{card['title'].am}}</td>
          <td>{{card['title'].ru}}</td>
          <td>{{card['title'].en}}</td>
        </tr>
        </tbody>
      </table>

      <h2 translate>Description</h2>

      <table class="table table-dark table-hover table-striped">
        <thead class="thead-light">
        <tr>
          <th>am</th>
          <th>ru</th>
          <th>en</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{card['description'].am}}</td>
          <td>{{card['description'].ru}}</td>
          <td>{{card['description'].en}}</td>
        </tr>
        </tbody>
      </table>
        <button type="button" class="btn btn-success" (click)="ok()"><i
                class="fa fa-check" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-info" (click)="updateCard(card)" style="margin-left: 20px;" translate>
            Edit<i
                class="far fa-edit"></i></button>
        <button (click)="deleteCategory(card)" style="margin-left: 20px;" class="btn btn-danger"><i
                class="fa fa-times"></i>
        </button>
    </div>
</div>

