<div class="row" style="padding-bottom: 100px;">
    <div class="col-md-10 offset-1">
        <h2 class="text-center" translate>Create</h2>
        <form [formGroup]="serviceForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <input type="file" id="imgg" (change)="onFileChange($event)">
                        <label for="imgg">choose a file</label>
                    </div>
                    <div class="col-4">
                        <img [src]="serviceForm['value']['imgURL']" class="img-fluid ">
                    </div>
                </div>
                <p *ngIf="serviceForm.get('imgURL').invalid && serviceForm.get('imgURL').touched" class="invalid">Type
                    true
                    Img</p>

            </div>

            <div class="form-group">
                <label translate>slug</label>
                <input type="text" placeholder="Slug" class="form-control" formControlName="slug"
                       (keyup)="filterSlug($event)">
                <!--                <p *ngIf="slugForm.get('slug').invalid && slugForm.get('slug').touched" class="invalid">Type true Slug</p>-->
                <!--                <p *ngIf="inValidSlug" class="invalid">Type true Slug</p>-->
            </div>

            <div class="form-group">
                <label translate>Category</label>

                <select class="form-control" formControlName="category">
                    <!--                    <option value="top" [selected]="portfolio?false:true">top</option>-->
                    <option [value]="category" *ngFor="let category of categories">{{category}}</option>
                </select>
            </div>

            <div class="form-group">
                <label translate>Gradient Start</label>
                <input [(colorPicker)]="grStart" [style.background]="grStart" class="form-control"
                       type="text" id="bg-color" formControlName="grStart" (colorPickerChange)="grStartColor($event)">
            </div>


            <div class="form-group">
                <label translate>Gradient End</label>
                <input [(colorPicker)]="grEnd" [style.background]="grEnd" class="form-control"
                       type="text" id="bg-color" formControlName="grEnd" (colorPickerChange)="grEndColor($event)">
            </div>


            <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
            <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
            <br>
            <div class="form-group">
                <label translate>Title</label>
                <input type="text" placeholder="en" class="form-control" formControlName="enTitle"
                       *ngIf="language=='en'">
                <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle"
                       *ngIf="language=='ru'">
                <input type="text" placeholder="am" class="form-control" formControlName="amTitle"
                       *ngIf="language=='am'">
                <!--                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">Type en-->
                <!--                    Title</p>-->
            </div>

            <div class="form-group">
                <label translate>Description</label>
                <textarea class="form-control" placeholder="en" rows="3" formControlName="enDescription"
                          *ngIf="language=='en'"></textarea>
                <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruDescription"
                          *ngIf="language=='ru'"></textarea>
                <textarea class="form-control" placeholder="am" rows="3" formControlName="amDescription"
                          *ngIf="language=='am'"></textarea>
                <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                <!--                    Short Description</p>-->
            </div>


            <h3 class="text-center">Service details</h3>

            <!--            [ngClass]="{'pull-left': detail['value']['imagePosition'] === 'left','pull-right': detail['value']['imagePosition'] === 'right'}">-->


            <div class="add">
                <button class="btn btn-success" (click)="addTools()">Add</button>
                <div class="details" [ngStyle]="{'display':detailsView ? 'block' : 'none' }">
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('imageWithText')">ImageWithText</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('imageWithTextWithLogo')">ImageWithTextWithLogo
                        </button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('text')">Text</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('imageWithImage')">ImageWithImage</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('card')">Card</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('cardLogo')">Card With Logo</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('block')">Block</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('slider')">Slider</button>
                    </div>
                    <div class="detailItem">
                        <button class="btn button" (click)="addTool('logo')">Logo</button>
                    </div>
                </div>
            </div>


            <div formArrayName="details" *ngFor="let detail of serviceForm.get('details')['controls']; let i = index">
                <div class="row">
                    <div class="col-12 border pb-3">
                        <div [formGroupName]="i">
                            <div *ngIf="detail['value']['type'] === 'imageWithText'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Image With Text</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <input type="file" [id]="'file_' + i"
                                                       (change)="imageWithText($event,i)">
                                                <label [for]="'file_' + i">choose a file</label>
                                            </div>

                                            <div class=ml-2>
                                                <select name="" class="form-control" formControlName="imgSize">
                                                    <option [value]="size" *ngFor="let size of imageSize">
                                                        col-{{size}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="imageHeight">
                                                    <option [value]="height" *ngFor="let height of imageHeights">
                                                        {{height}}vh
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="alignment">
                                                    <option [value]="alignment" *ngFor="let alignment of alignments">
                                                        {{alignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name=""
                                                        class="form-control" formControlName="verticalAlignment">
                                                    <option [value]="vAlignment"
                                                            *ngFor="let vAlignment of verticalAlignments">
                                                        {{vAlignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="objectFit">
                                                    <option [value]="objF"
                                                            *ngFor="let objF of objectFits">
                                                        {{objF}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">

                                                <button (click)="addTextCount( i)" class="btn button"> <i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn button" (click)="reverse(i)"><i
                                            class="fas fa-exchange-alt"></i>
                                        </button>
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div
                                        [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">
                                            <img *ngIf="detail['value']['imgURL']; else img"
                                                 [src]="detail['value']['imgURL']"
                                                 [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>


                                    <div
                                        [class]="'col-' + (12 - detail['value']['imgSize']) + ' order-' +  (3 - detail['value']['imageOrder'] )">
                                        <div
                                            *ngIf="serviceForm.get('details')['controls'][i]['controls'].text.length > 0">
                                            <div class="row ">
                                                <div formArrayName="text"
                                                     [ngClass]="'col-'+(12/serviceForm.get('details')['controls'][i]['controls'].text.length)"
                                                     *ngFor="let t of serviceForm.get('details')['controls'][i]['controls'].text['controls']; let index = index">
                                                    <i class="fas fa-times del"
                                                       (click)="removeText(i, index,'text')"></i>
                                                    <div [formGroupName]="index">
                                                        <div class="form-group">
                                                            <label translate>Title</label>
                                                            <input type="text" placeholder="en" class="form-control"
                                                                   formControlName="enTitle"
                                                                   *ngIf="language=='en'">
                                                            <input type="text" placeholder="ru" class="form-control"
                                                                   formControlName="ruTitle"
                                                                   *ngIf="language=='ru'">
                                                            <input type="text" placeholder="am" class="form-control"
                                                                   formControlName="amTitle"
                                                                   *ngIf="language=='am'">
                                                        </div>

                                                        <div class="form-group">
                                                            <label translate>Content</label>
                                                            <textarea class="form-control" placeholder="en" rows="3"
                                                                      formControlName="enContent"
                                                                      *ngIf="language=='en'"></textarea>
                                                            <textarea class="form-control" placeholder="ru" rows="3"
                                                                      formControlName="ruContent"
                                                                      *ngIf="language=='ru'"></textarea>
                                                            <textarea class="form-control" placeholder="am" rows="3"
                                                                      formControlName="amContent"
                                                                      *ngIf="language=='am'"></textarea>
                                                            <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                                                            <!--                    Short Description</p>-->
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div *ngIf="detail['value']['type'] === 'imageWithTextWithLogo'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Image With Text With Logo</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <input type="file" [id]="'file_text_img' + i"
                                                       (change)="imageWithTextWithLogo($event,i)">
                                                <label [for]="'file_text_img' + i">choose a file</label>
                                            </div>

                                            <div class=ml-2>
                                                <select name="" class="form-control" formControlName="imgSize">
                                                    <option [value]="size" *ngFor="let size of imageSize">
                                                        col-{{size}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="imageHeight">
                                                    <option [value]="height" *ngFor="let height of imageHeights">
                                                        {{height}}vh
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="alignment">
                                                    <option [value]="alignment" *ngFor="let alignment of alignments">
                                                        {{alignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name=""
                                                        class="form-control" formControlName="verticalAlignment">
                                                    <option [value]="vAlignment"
                                                            *ngFor="let vAlignment of verticalAlignments">
                                                        {{vAlignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="objectFit">
                                                    <option [value]="objF"
                                                            *ngFor="let objF of objectFits">
                                                        {{objF}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <button (click)="addTextLogo(i)" class="btn button"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn button" (click)="reverse(i)"><i
                                            class="fas fa-exchange-alt"></i>
                                        </button>
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div
                                        [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">
                                            <img *ngIf="detail['value']['imgURL']; else img"
                                                 [src]="detail['value']['imgURL']"
                                                 [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>


                                    <div
                                        [class]="'col-' + (12 - detail['value']['imgSize']) + ' order-' +  (3 - detail['value']['imageOrder'] )">
                                        <div
                                            *ngIf="serviceForm.get('details')['controls'][i]['controls'].textWithLogo.length > 0">
                                            <div class="row">
                                                <div formArrayName="textWithLogo" class="col-12"
                                                     *ngFor="let t of serviceForm.get('details')['controls'][i]['controls'].textWithLogo['controls']; let index = index">
                                                    <div [formGroupName]="index">
                                                        <div class="row border">
                                                            <div class="col-9">
                                                                <div class="form-group">
                                                                    <label translate>Title</label>
                                                                    <input type="text" placeholder="en"
                                                                           class="form-control"
                                                                           formControlName="enTitle"
                                                                           *ngIf="language=='en'">
                                                                    <input type="text" placeholder="ru"
                                                                           class="form-control"
                                                                           formControlName="ruTitle"
                                                                           *ngIf="language=='ru'">
                                                                    <input type="text" placeholder="am"
                                                                           class="form-control"
                                                                           formControlName="amTitle"
                                                                           *ngIf="language=='am'">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label translate>Content</label>
                                                                    <textarea class="form-control" placeholder="en"
                                                                              rows="3"
                                                                              formControlName="enContent"
                                                                              *ngIf="language=='en'"></textarea>
                                                                    <textarea class="form-control" placeholder="ru"
                                                                              rows="3"
                                                                              formControlName="ruContent"
                                                                              *ngIf="language=='ru'"></textarea>
                                                                    <textarea class="form-control" placeholder="am"
                                                                              rows="3"
                                                                              formControlName="amContent"
                                                                              *ngIf="language=='am'"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <input type="file" [id]="'file_image_text_logo' + index"
                                                                       (change)="imgWithTextWithLogo($event,i, index)">
                                                                <label [for]="'file_image_text_logo' + index"
                                                                       [ngStyle]="{'display': detail['value']['textWithLogo'][index]['imgURL']? 'none': 'inline-block'}">choose
                                                                    a file</label>
                                                                <i class="fas fa-times del"
                                                                   (click)="removeText(i,index, 'textWithLogo')"></i>
                                                                <img
                                                                    *ngIf="detail['value']['textWithLogo'][index]['imgURL']; else img"
                                                                    [src]="detail['value']['textWithLogo'][index]['imgURL']"
                                                                    (click)="changeLogo('file_image_text_logo' + index)"
                                                                    class="logo">
                                                                <ng-template #img>
                                                                    <img [src]="">
                                                                </ng-template>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>


                            <div *ngIf="detail['value']['type'] === 'text'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Text</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select class="form-control" formControlName="titleAlign">
                                                    <option value="left">left</option>
                                                    <option value="right">right</option>
                                                    <option value="center">center</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select class="form-control" formControlName="titleWidth">
                                                    <option value="12">12</option>
                                                    <option value="6">6</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select class="form-control" formControlName="descriptionAlign">
                                                    <option value="left">left</option>
                                                    <option value="right">right</option>
                                                    <option value="center">center</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label translate>Title</label>
                                            <input type="text" placeholder="en" class="form-control"
                                                   formControlName="enTitle"
                                                   *ngIf="language=='en'">
                                            <input type="text" placeholder="ru" class="form-control"
                                                   formControlName="ruTitle"
                                                   *ngIf="language=='ru'">
                                            <input type="text" placeholder="am" class="form-control"
                                                   formControlName="amTitle"
                                                   *ngIf="language=='am'">
                                            <!--                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">Type en-->
                                            <!--                    Title</p>-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label translate>Description</label>
                                            <textarea class="form-control" placeholder="en" rows="3"
                                                      formControlName="enDescription"
                                                      *ngIf="language=='en'"></textarea>
                                            <textarea class="form-control" placeholder="ru" rows="3"
                                                      formControlName="ruDescription"
                                                      *ngIf="language=='ru'"></textarea>
                                            <textarea class="form-control" placeholder="am" rows="3"
                                                      formControlName="amDescription"
                                                      *ngIf="language=='am'"></textarea>
                                            <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                                            <!--                    Short Description</p>-->
                                        </div>
                                    </div>
                                </div>
                                <!--                                language-->
                                <div class="row">
                                    <div [class]="'col-' + detail['value']['titleWidth']">
                                        <h2 [style.textAlign]="detail['value']['titleAlign']">{{detail['value'][language + 'Title']}}</h2>
                                    </div>
                                    <div class="col-12">
                                        <h5 [style.textAlign]="detail['value']['descriptionAlign']">{{detail['value'][language + 'Description']}}</h5>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="detail['value']['type'] === 'imageWithImage'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Image With Image</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">

                                            <div formGroupName="img1" class="col-6">

                                                <div class="row">
                                                    <div class="ml-2">
                                                        <input type="file" [id]="'file1_' + i"
                                                               (change)="imageWithImage($event,i,'img1')">
                                                        <label [for]="'file1_' + i">choose a img1</label>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="alignment">
                                                            <option [value]="alignment"
                                                                    *ngFor="let alignment of alignments">
                                                                {{alignment}}</option>
                                                        </select>
                                                    </div>


                                                    <div class="ml-2">
                                                        <select name=""
                                                                class="form-control"
                                                                formControlName="verticalAlignment">
                                                            <option [value]="vAlignment"
                                                                    *ngFor="let vAlignment of verticalAlignments">
                                                                {{vAlignment}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="objectFit">
                                                            <option [value]="objF"
                                                                    *ngFor="let objF of objectFits">
                                                                {{objF}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div formGroupName="img2" class="col-6">

                                                <div class="row">
                                                    <div class="ml-2">
                                                        <input type="file" [id]="'file2_' + i"
                                                               (change)="imageWithImage($event,i,'img2')">
                                                        <label [for]="'file2_' + i">choose a img2</label>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="alignment">
                                                            <option [value]="alignment"
                                                                    *ngFor="let alignment of alignments">
                                                                {{alignment}}</option>
                                                        </select>
                                                    </div>


                                                    <div class="ml-2">
                                                        <select name=""
                                                                class="form-control"
                                                                formControlName="verticalAlignment">
                                                            <option [value]="vAlignment"
                                                                    *ngFor="let vAlignment of verticalAlignments">
                                                                {{vAlignment}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="ml-2">
                                                        <select name="" class="form-control"
                                                                formControlName="objectFit">
                                                            <option [value]="objF"
                                                                    *ngFor="let objF of objectFits">
                                                                {{objF}}</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class=ml-2>
                                                <select name="" class="form-control" formControlName="imgSize">
                                                    <option [value]="size" *ngFor="let size of imageSize">
                                                        col-{{size}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="imageHeight">
                                                    <option [value]="height" *ngFor="let height of imageHeights">
                                                        {{height}}vh
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn button" (click)="reverse(i)"><i
                                            class="fas fa-exchange-alt"></i>
                                        </button>
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--                                    <div [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "-->
                                    <div
                                        [class]="'col-' + detail['value']['imgSize'] + ' order-' +  detail['value']['imageOrder'] "
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">


                                            <img *ngIf="detail['value']['img1']['imgURL']; else img"
                                                 [src]="detail['value']['img1']['imgURL']"
                                                 [style.objectPosition]="detail['value']['img1']['alignment'] + ' ' + detail['value']['img1']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['img1']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div
                                        [class]="'col-' + (12 - detail['value']['imgSize']) + ' order-' +  (3 - detail['value']['imageOrder'] )"
                                        [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}">
                                        <div class="form-group h-100">


                                            <img *ngIf="detail['value']['img2']['imgURL']; else img"
                                                 [src]="detail['value']['img2']['imgURL']"
                                                 [style.objectPosition]="detail['value']['img2']['alignment'] + ' ' + detail['value']['img2']['verticalAlignment']"
                                                 [style.objectFit]="detail['value']['img2']['objectFit']"
                                                 class="image">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="detail['value']['type'] === 'card'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Card</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select class="form-control"
                                                        (change)="changeCardsCount($event, i, 'card')"
                                                        formControlName="count">
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>

                                            <div class="ml-4">
                                                <label for="backColorLogo" class="mr-1">Bg</label>
                                                <input type="checkbox" id="backColorLogo" formControlName="backColor">
                                            </div>
                                            <div class="ml-2">
                                                <label for="hoverLogo" class="mr-1">Hover</label>
                                                <input type="checkbox" id="hoverLogo" formControlName="hover">
                                            </div>

                                            <div class="ml-4">
                                                <select class="form-control" formControlName="textAlign">
                                                    <option value="left">left</option>
                                                    <option value="right">right</option>
                                                    <option value="center">center</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div formArrayName="cards" [class]="'col-' +  (7 - detail['value']['count'])"
                                         *ngFor="let card of serviceForm.get('details')['controls'][i]['controls'].cards['controls']; let index = index">
                                        <div [formGroupName]="index">
                                            <div class="form-group">
                                                <label translate>Title</label>
                                                <input type="text" placeholder="en" class="form-control"
                                                       formControlName="enTitle"
                                                       *ngIf="language=='en'">
                                                <input type="text" placeholder="ru" class="form-control"
                                                       formControlName="ruTitle"
                                                       *ngIf="language=='ru'">
                                                <input type="text" placeholder="am" class="form-control"
                                                       formControlName="amTitle"
                                                       *ngIf="language=='am'">
                                                <!--                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">Type en-->
                                                <!--                    Title</p>-->
                                            </div>
                                            <div class="form-group">
                                                <label translate>Content</label>
                                                <textarea class="form-control" placeholder="en" rows="3"
                                                          formControlName="enContent"
                                                          *ngIf="language=='en'"></textarea>
                                                <textarea class="form-control" placeholder="ru" rows="3"
                                                          formControlName="ruContent"
                                                          *ngIf="language=='ru'"></textarea>
                                                <textarea class="form-control" placeholder="am" rows="3"
                                                          formControlName="amContent"
                                                          *ngIf="language=='am'"></textarea>
                                                <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                                                <!--                    Short Description</p>-->
                                            </div>
                                            <div class="card" style="width: 18rem;">
                                                <div class="card-body"
                                                     [ngStyle]="{'background-color': detail['value']['backColor']? 'grey': 'white'}">
                                                    <h5 [style.textAlign]="detail['value']['textAlign']">{{serviceForm.get('details')['controls'][i]['controls'].cards['controls'][index].value[language + 'Title']}}</h5>
                                                    <p [style.textAlign]="detail['value']['textAlign']">{{serviceForm.get('details')['controls'][i]['controls'].cards['controls'][index].value[language + 'Content']}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    <div formArrayName="cards" [class]="'col-' + cardsCount" *ngFor="let card of serviceForm.get('details')['controls'][i]['controls'].cards['controls']; let index = index">-->
                                    <!--                                        -->
                                    <!--                                    </div>-->

                                </div>
                            </div>

                            <div *ngIf="detail['value']['type'] === 'cardLogo'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Card</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select class="form-control"
                                                        (change)="changeCardsCount($event,i,'cardLogo')"
                                                        formControlName="count">
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                            <div class="ml-2" *ngIf="detail['value']['count'] === 3">
                                                <select class="form-control"
                                                        formControlName="size">
                                                    <option value="large">large</option>
                                                    <option value="small">small</option>
                                                </select>
                                            </div>

                                            <div class="ml-4">
                                                <label for="backColor" class="mr-1">Bg</label>
                                                <input type="checkbox" id="backColor" formControlName="backColor">
                                            </div>
                                            <div class="ml-2">
                                                <label for="hover" class="mr-1">Hover</label>
                                                <input type="checkbox" id="hover" formControlName="hover">
                                            </div>

                                            <div class="ml-4">
                                                <select class="form-control" formControlName="textAlign">
                                                    <option value="left">left</option>
                                                    <option value="right">right</option>
                                                    <option value="center">center</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div formArrayName="cards" [class]="'col-' +  (7 - detail['value']['count'])"
                                         *ngFor="let card of serviceForm.get('details')['controls'][i]['controls'].cards['controls']; let index = index">
                                        <div [formGroupName]="index">
                                            <div class="form-group">
                                                <label translate>Title</label>
                                                <input type="text" placeholder="en" class="form-control"
                                                       formControlName="enTitle"
                                                       *ngIf="language=='en'">
                                                <input type="text" placeholder="ru" class="form-control"
                                                       formControlName="ruTitle"
                                                       *ngIf="language=='ru'">
                                                <input type="text" placeholder="am" class="form-control"
                                                       formControlName="amTitle"
                                                       *ngIf="language=='am'">
                                                <!--                <p *ngIf="portfolioForm.get('enTitle').invalid && portfolioForm.get('enTitle').touched" class="invalid">Type en-->
                                                <!--                    Title</p>-->
                                            </div>
                                            <div class="form-group">
                                                <label translate>Description</label>
                                                <textarea class="form-control" placeholder="en" rows="3"
                                                          formControlName="enContent"
                                                          *ngIf="language=='en'"></textarea>
                                                <textarea class="form-control" placeholder="ru" rows="3"
                                                          formControlName="ruContent"
                                                          *ngIf="language=='ru'"></textarea>
                                                <textarea class="form-control" placeholder="am" rows="3"
                                                          formControlName="amContent"
                                                          *ngIf="language=='am'"></textarea>
                                                <!--                <p *ngIf="portfolioForm.get('enHover').invalid && portfolioForm.get('enHover').touched" class="invalid">Type en-->
                                                <!--                    Short Description</p>-->
                                            </div>
                                            <div class="card" style="width: 18rem;">
                                                <div class="card-body"
                                                     [ngStyle]="{'background-color': detail['value']['backColor'] === true  ? 'grey': 'white'}">
                                                    <div style="text-align: center">

                                                        <input type="file" [id]="'file_card_' + index"
                                                               (change)="cardsLogo($event,i, index)">
                                                        <label [for]="'file_card_' + index"
                                                               [ngStyle]="{'display': detail['value']['cards'][index]['imgURL']? 'none': 'inline-block'}">choose
                                                            a file</label>
                                                        <img *ngIf="detail['value']['cards'][index]['imgURL']; else img"
                                                             [src]="detail['value']['cards'][index]['imgURL']"
                                                             (click)="changeLogo('file_card_' + index)"
                                                             class="logo">
                                                        <ng-template #img>
                                                            <img [src]="">
                                                        </ng-template>

                                                    </div>
                                                    <div class="mt-3">
                                                        <h5 [style.textAlign]="detail['value']['textAlign']">{{serviceForm.get('details')['controls'][i]['controls'].cards['controls'][index].value[language + 'Title']}}</h5>
                                                        <p [style.textAlign]="detail['value']['textAlign']">{{serviceForm.get('details')['controls'][i]['controls'].cards['controls'][index].value[language + 'Content']}}</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="detail['value']['type'] === 'block'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Block</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select name="" class="form-control"
                                                        formControlName="alignment">
                                                    <option [value]="alignment"
                                                            *ngFor="let alignment of alignments">
                                                        {{alignment}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name=""
                                                        class="form-control"
                                                        formControlName="verticalAlignment">
                                                    <option [value]="vAlignment"
                                                            *ngFor="let vAlignment of verticalAlignments">
                                                        {{vAlignment}}</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control"
                                                        formControlName="objectFit">
                                                    <option [value]="objF"
                                                            *ngFor="let objF of objectFits">
                                                        {{objF}}</option>
                                                </select>
                                            </div>
                                            <div class="ml-4">
                                                <label for="backColorBlock" class="mr-1">Bg</label>
                                                <input type="checkbox" id="backColorBlock" formControlName="backColor">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div formGroupName="row1" class="col-12">
                                        <div class="row">
                                            <div class="col-3 block-img-div">
                                                <input type="file" [id]="'file_block_1'"
                                                       (change)="blockImg($event,i,'row1','img1URL')">
                                                <label [for]="'file_block_1'"
                                                       [ngStyle]="{'display': detail['value']['row1']['img1URL']? 'none': 'inline-block'}">choose
                                                    a file</label>
                                                <img *ngIf="detail['value']['row1']['img1URL']; else img"
                                                     [src]="detail['value']['row1']['img1URL']"
                                                     [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                     [style.objectFit]="detail['value']['objectFit']"
                                                     (click)="changeLogo('file_block_1')"
                                                     class="block-img">
                                                <ng-template #img>
                                                    <img [src]="">
                                                </ng-template>
                                            </div>
                                            <div class="col-3 ">
                                                <div>
                                                    <input type="text" placeholder="en" class="form-control"
                                                           formControlName="enTitle1"
                                                           *ngIf="language=='en'">
                                                    <input type="text" placeholder="ru" class="form-control"
                                                           formControlName="ruTitle1"
                                                           *ngIf="language=='ru'">
                                                    <input type="text" placeholder="am" class="form-control"
                                                           formControlName="amTitle1"
                                                           *ngIf="language=='am'">
                                                </div>
                                                <div>
                                                     <textarea class="form-control" placeholder="en" rows="3"
                                                               formControlName="enDescription1"
                                                               *ngIf="language=='en'"></textarea>
                                                    <textarea class="form-control" placeholder="ru" rows="3"
                                                              formControlName="ruDescription1"
                                                              *ngIf="language=='ru'"></textarea>
                                                    <textarea class="form-control" placeholder="am" rows="3"
                                                              formControlName="amDescription1"
                                                              *ngIf="language=='am'"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-3 block-img-div">
                                                <input type="file" [id]="'file_block_2'"
                                                       (change)="blockImg($event,i,'row1','img2URL')">
                                                <label [for]="'file_block_2'"
                                                       [ngStyle]="{'display': detail['value']['row1']['img2URL']? 'none': 'inline-block'}">choose
                                                    a img2</label>
                                                <img *ngIf="detail['value']['row1']['img2URL']; else img"
                                                     [src]="detail['value']['row1']['img2URL']"
                                                     [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                     [style.objectFit]="detail['value']['objectFit']"
                                                     (click)="changeLogo('file_block_2')"
                                                     class="block-img">
                                                <ng-template #img>
                                                    <img [src]="">
                                                </ng-template>
                                            </div>
                                            <div class="col-3">
                                                <div>
                                                    <input type="text" placeholder="en" class="form-control"
                                                           formControlName="enTitle2"
                                                           *ngIf="language=='en'">
                                                    <input type="text" placeholder="ru" class="form-control"
                                                           formControlName="ruTitle2"
                                                           *ngIf="language=='ru'">
                                                    <input type="text" placeholder="am" class="form-control"
                                                           formControlName="amTitle2"
                                                           *ngIf="language=='am'">
                                                </div>
                                                <div>
                                                     <textarea class="form-control" placeholder="en" rows="3"
                                                               formControlName="enDescription2"
                                                               *ngIf="language=='en'"></textarea>
                                                    <textarea class="form-control" placeholder="ru" rows="3"
                                                              formControlName="ruDescription2"
                                                              *ngIf="language=='ru'"></textarea>
                                                    <textarea class="form-control" placeholder="am" rows="3"
                                                              formControlName="amDescription2"
                                                              *ngIf="language=='am'"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div formGroupName="row2" class="col-12 mt-2">
                                        <div class="row">

                                            <div class="col-3">
                                                <div>
                                                    <input type="text" placeholder="en" class="form-control"
                                                           formControlName="enTitle1"
                                                           *ngIf="language=='en'">
                                                    <input type="text" placeholder="ru" class="form-control"
                                                           formControlName="ruTitle1"
                                                           *ngIf="language=='ru'">
                                                    <input type="text" placeholder="am" class="form-control"
                                                           formControlName="amTitle1"
                                                           *ngIf="language=='am'">
                                                </div>
                                                <div>
                                                     <textarea class="form-control" placeholder="en" rows="3"
                                                               formControlName="enDescription1"
                                                               *ngIf="language=='en'"></textarea>
                                                    <textarea class="form-control" placeholder="ru" rows="3"
                                                              formControlName="ruDescription1"
                                                              *ngIf="language=='ru'"></textarea>
                                                    <textarea class="form-control" placeholder="am" rows="3"
                                                              formControlName="amDescription1"
                                                              *ngIf="language=='am'"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-3 block-img-div">
                                                <input type="file" [id]="'file_block_3'"
                                                       (change)="blockImg($event,i,'row2','img1URL')">
                                                <label [for]="'file_block_3'"
                                                       [ngStyle]="{'display': detail['value']['row2']['img1URL']? 'none': 'inline-block'}">choose
                                                    a img2</label>

                                                <img *ngIf="detail['value']['row2']['img1URL']; else img"
                                                     [src]="detail['value']['row2']['img1URL']"
                                                     [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                     [style.objectFit]="detail['value']['objectFit']"
                                                     (click)="changeLogo('file_block_3')"
                                                     class="block-img">
                                                <ng-template #img>
                                                    <img [src]="">
                                                </ng-template>
                                            </div>

                                            <div class="col-3">
                                                <div>
                                                    <input type="text" placeholder="en" class="form-control"
                                                           formControlName="enTitle2"
                                                           *ngIf="language=='en'">
                                                    <input type="text" placeholder="ru" class="form-control"
                                                           formControlName="ruTitle2"
                                                           *ngIf="language=='ru'">
                                                    <input type="text" placeholder="am" class="form-control"
                                                           formControlName="amTitle2"
                                                           *ngIf="language=='am'">
                                                </div>
                                                <div>
                                                     <textarea class="form-control" placeholder="en" rows="3"
                                                               formControlName="enDescription2"
                                                               *ngIf="language=='en'"></textarea>
                                                    <textarea class="form-control" placeholder="ru" rows="3"
                                                              formControlName="ruDescription2"
                                                              *ngIf="language=='ru'"></textarea>
                                                    <textarea class="form-control" placeholder="am" rows="3"
                                                              formControlName="amDescription2"
                                                              *ngIf="language=='am'"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-3 block-img-div">
                                                <input type="file" [id]="'file_block_4'"
                                                       (change)="blockImg($event,i,'row2','img2URL')">
                                                <label [for]="'file_block_4'"
                                                       [ngStyle]="{'display': detail['value']['row2']['img2URL']? 'none': 'inline-block'}">choose
                                                    a img2</label>

                                                <img *ngIf="detail['value']['row2']['img2URL']; else img"
                                                     [src]="detail['value']['row2']['img2URL']"
                                                     [style.objectPosition]="detail['value']['alignment'] + ' ' + detail['value']['verticalAlignment']"
                                                     [style.objectFit]="detail['value']['objectFit']"
                                                     (click)="changeLogo('file_block_4')"
                                                     class="block-img">
                                                <ng-template #img>
                                                    <img [src]="">
                                                </ng-template>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div *ngIf="detail['value']['type'] === 'slider'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Slider</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select class="form-control"
                                                        (change)="createSlidersForm()"
                                                        formControlName="count">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div formArrayName="sliders" class="col-12 mt-3"
                                         *ngFor="let slider of serviceForm.get('details')['controls'][i]['controls'].sliders['controls']; let index = index">
                                        <div [formGroupName]="index">
                                            <div class="row">
                                                <div class="ml-2">
                                                    <button (click)="addImagesForSlider(i,index)" class="btn button"><i class="fas fa-plus"></i></button>
                                                </div>

                                                <div class="ml-2">
                                                    <select name="" class="form-control"
                                                            formControlName="watchList">
                                                        <option [ngValue]=3>3</option>
                                                        <option [ngValue]=4>4</option>
                                                    </select>
                                                </div>

                                                <div class="ml-2">
                                                    <select name="" class="form-control"
                                                            formControlName="alignment">
                                                        <option [value]="alignment"
                                                                *ngFor="let alignment of alignments">
                                                            {{alignment}}</option>
                                                    </select>
                                                </div>

                                                <div class="ml-2">
                                                    <select name=""
                                                            class="form-control"
                                                            formControlName="verticalAlignment">
                                                        <option [value]="vAlignment"
                                                                *ngFor="let vAlignment of verticalAlignments">
                                                            {{vAlignment}}</option>
                                                    </select>
                                                </div>

                                                <div class="ml-2">
                                                    <select name="" class="form-control"
                                                            formControlName="objectFit">
                                                        <option [value]="objF"
                                                                *ngFor="let objF of objectFits">
                                                            {{objF}}</option>
                                                    </select>
                                                </div>


                                                <div class="ml-2">
                                                    <select name="" class="form-control" formControlName="imageHeight">
                                                        <option [value]="height" *ngFor="let height of imageHeights">
                                                            {{height}}vh
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div
                                                *ngIf="serviceForm.get('details')['controls'][i]['controls'].sliders['controls'][index]['controls'].imagesURL['controls'].length > 0">

                                                <div class="row">
                                                    <div formArrayName="imagesURL"
                                                         *ngFor="let image of serviceForm.get('details')['controls'][i]['controls'].sliders['controls'][index]['controls'].imagesURL['controls']; let imgIndex = index"
                                                         class="col-3 border">
                                                        <div [formGroupName]="imgIndex">
                                                            <input type="file"
                                                                   [id]="'file_slider' + index + imgIndex"
                                                                   (change)="sliderImg($event,i, index, imgIndex)">
                                                            <label [for]="'file_slider' + index + imgIndex"
                                                                   [ngStyle]="{'display': detail['value']['sliders'][index]['imagesURL'][imgIndex]['imgURL']? 'none': 'inline-block'}">choose
                                                                a
                                                                img</label>
                                                            <i class="fas fa-times del"
                                                               (click)="removeSliderImg(i, index, imgIndex)"
                                                               *ngIf="detail['value']['sliders'][index]['imagesURL'][imgIndex]['imgURL']"></i>

                                                            <div class="pt-3 pl-3"
                                                                 [ngStyle]="{'height':detail['value']['sliders'][index]['imageHeight'] + 'vh'}">
                                                                <img
                                                                    *ngIf="detail['value']['sliders'][index]['imagesURL'][imgIndex]['imgURL']; else img"
                                                                    [src]="detail['value']['sliders'][index]['imagesURL'][imgIndex]['imgURL']"
                                                                    [style.objectPosition]="detail['value']['sliders'][index]['alignment'] + ' ' + detail['value']['sliders'][index]['verticalAlignment']"
                                                                    [style.objectFit]="detail['value']['sliders'][index]['objectFit']"
                                                                    (click)="changeLogo('file_slider' + index + imgIndex)"
                                                                    class="slider">

                                                                <ng-template #img>
                                                                    <img [src]="">
                                                                </ng-template>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div *ngIf="detail['value']['type'] === 'logo'" class="text-component">
                                <div class="row tools">
                                    <div class="col-12">
                                        <h3>Logos</h3>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="ml-2">
                                                <select class="form-control"
                                                        formControlName="count">
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <select name="" class="form-control"
                                                        formControlName="objectFit">
                                                    <option [value]="objF"
                                                            *ngFor="let objF of objectFits">
                                                        {{objF}}</option>
                                                </select>
                                            </div>


                                            <div class="ml-2">
                                                <select name="" class="form-control" formControlName="imageHeight">
                                                    <option [value]="height" *ngFor="let height of imageHeights">
                                                        {{height}}vh
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="ml-2">
                                                <button (click)="addLogo(i)" class="btn button"><i class="fas fa-plus"></i></button>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-2 text-right">
                                        <button class="btn btn-danger ml-1" (click)="removeFormEl(i)"><i
                                            class="fas fa-times"></i></button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div formArrayName="logos" class="col"
                                         *ngFor="let logo of serviceForm.get('details')['controls'][i]['controls'].logos['controls']; let index = index">
                                        <div [formGroupName]="index"
                                             [ngStyle]="{'height':detail['value']['imageHeight'] + 'vh'}"
                                             class="border">
                                            <input type="file" [id]="'file_logo_' + index"
                                                   (change)="logosImg($event,i, index)">
                                            <label [for]="'file_logo_' + index"
                                                   [ngStyle]="{'display': detail['value']['logos'][index]['imgURL']? 'none': 'inline-block'}">choose
                                                a file</label>
                                            <img *ngIf="detail['value']['logos'][index]['imgURL']; else img"
                                                 [src]="detail['value']['logos'][index]['imgURL']"
                                                 [style.objectFit]="detail['value']['objectFit']"
                                                 (click)="changeLogo('file_logo_' + index)"
                                                 class="slider">
                                            <ng-template #img>
                                                <img [src]="">
                                            </ng-template>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <!--                    <div class="col-1">-->
                    <!--                        <button class="btn btn-danger" (click)="removeFormEl(i)">X</button>-->
                    <!--                    </div>-->
                </div>
            </div>


            <button type="button" class="btn btn-info" (click)="myService()"
                    [disabled]="!serviceForm.valid || inValidSlug" translate>
                Create<i
                class="fa fa-check"></i></button>
        </form>
    </div>

</div>


<!--<div class="hidden-modal">-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('cover')" value="text">cover image</button>-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('text')" value="text">text content</button>-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('imageWithImage')" value="feedback">image with image</button>-->
<!--    <button class="btn btn-success ml-2" (click)="selectType('imageWithText')" value="feedback">image with text</button>-->
<!--</div>-->
