.add {
    width: 200px;
    position: fixed;
    right: 0px;
    top: 100px;
}

.detailItem {
    width: 100%;
    margin-top: 10px;
}

.button {
    background-color: #344154;
}

.image {
    width: 100%;
    height: 100%;
}

.logo {
    width: 90px;
    height: 90px;
}

i {
    color: white;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 10px;
}

[type="file"] + label {
    background-color: #344154;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #f15d22;
}

[type="file"]:focus + label {
    outline: 1px dotted #000;
}

.block-img {
    width: 100%;
    height: 100%;
}

.block-img-div {
    height: 300px;
}

.tools {
    background-color: #6983ab;
    border-radius: 5px 5px 0 0;
}

.border {
    border-radius: 5px 5px 0 0;
}

.del {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}

.slider {
    width: 200px;
    height: 100%;
}

.slidImg {
    max-width: 300px;
}


h3 {
    color: white;
}
