<div class="row">
  <div class="col-md-10 offset-1" *ngIf="done">
    <h2 class="text-center"><span translate>Edit</span> {{portfolio.title.en}}</h2>
    <form [formGroup]="porfolioForm">
      <div>
        <img src='http://localhost:3000/uploads/portfolio/{{portfolio.image}}' class="img-fluid max" alt="">
      </div>
      <div class="form-group">
        <label for="image" translate>Image</label>
        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
        <!--<button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>-->
      </div>

      <div class="form-group">
        <label translate>url</label>
        <input type="text" placeholder="Url" class="form-control" formControlName="url" value="{{portfolio.url}}">
        <p *ngIf="porfolioForm.get('url').invalid && porfolioForm.get('url').touched" class="invalid">Type true Url</p>

      </div>

      <div class="form-group">
        <label translate>Slider Position</label>

        <select class="form-control" formControlName="sliderPosition">
          <option value="top">top</option>
          <option value="bottom">bottom</option>
        </select>

      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
        <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
        <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
        <br>
        <label translate>Title</label>
        <input type="text" placeholder="en" class="form-control" formControlName="enTitle"
               value="{{portfolio.title.en}}" *ngIf="language=='en'">
        <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle"
               value="{{portfolio.title.ru}}" *ngIf="language=='ru'">
        <input type="text" placeholder="am" class="form-control" formControlName="amTitle"
               value="{{portfolio.title.am}}" *ngIf="language=='am'">
        <p *ngIf="porfolioForm.get('enTitle').invalid && porfolioForm.get('enTitle').touched" class="invalid">Type en
          Title</p>

        <label translate>Hover</label>
        <textarea class="form-control" placeholder="en" rows="3" formControlName="enHover"
                  *ngIf="language=='en'"></textarea>
        <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruHover"
                  *ngIf="language=='ru'"></textarea>
        <textarea class="form-control" placeholder="am" rows="3" formControlName="amHover"
                  *ngIf="language=='am'"></textarea>


        <label translate>Short Description</label>
        <textarea class="form-control" placeholder="en" rows="3" formControlName="enShortDescription"
                  *ngIf="language=='en'"></textarea>
        <textarea class="form-control" placeholder="ru" rows="3" formControlName="ruShortDescription"
                  *ngIf="language=='ru'"></textarea>
        <textarea class="form-control" placeholder="am" rows="3" formControlName="amShortDescription"
                  *ngIf="language=='am'"></textarea>
        <p *ngIf="porfolioForm.get('enShortDescription').invalid && porfolioForm.get('enShortDescription').touched"
           class="invalid">Type en
          Title</p>

      </div>


      <div class="form-group">
        <label translate>Description</label>



        <p *ngIf="porfolioForm.get('enDescription').invalid && porfolioForm.get('enDescription').touched"
           class="invalid">Type en Description</p>


        <!--<input type="text" placeholder="en" class="form-control" formControlName="enDescription"-->
        <!--*ngIf="language=='en'">-->
        <!--<input type="text" placeholder="ru" class="form-control" formControlName="ruDescription"-->
        <!--*ngIf="language=='ru'">-->
        <!--<input type="text" placeholder="am" class="form-control" formControlName="amDescription"-->
        <!--*ngIf="language=='am'">-->
      </div>

      <!--<ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->
      <!--<div class="form-group">-->
      <!--<label>Description:</label>-->
      <!--<input type="text" placeholder="en" class="form-control" formControlName="enDescription"-->
      <!--*ngIf="language=='en'" value="{{portfolio.description.en}}">-->
      <!--<input type="text" placeholder="ru" class="form-control" formControlName="ruDescription"-->
      <!--*ngIf="language=='ru'" value="{{portfolio.description.ru}}">-->
      <!--<input type="text" placeholder="am" class="form-control" formControlName="amDescription"-->
      <!--*ngIf="language=='am'" value="{{portfolio.description.am}}">-->
      <!--</div>-->

      <!--<p *ngIf="porfolioForm.get('enDescription').invalid && porfolioForm.get('enDescription').touched"-->
      <!--class="invalid">Type en Description</p>-->


      <button type="button" class="btn btn-info" (click)="myPortfolio()" [disabled]="!porfolioForm.valid" translate>Edit<i
        class="fa fa-check"></i></button>
    </form>
  </div>

</div>
