<div *ngIf="done">
  <h2>Project view</h2>
  <h4>{{project.name}}</h4>
  <h4>{{project.description}}</h4>
  <h4>{{project.priority}}</h4>
  <button class="btn button" routerLink="invoice">Invoice</button>
  <button class="btn button ml-1" routerLink="contract">Contract</button>
  <button class="btn button ml-1">Paymant</button>


  <router-outlet></router-outlet>

</div>
