<div class="login-container">
    <div class="loged">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mx-auto">
                <a href=""><img src="assets/images/logo.png" alt=""></a>
                <p id="webi">WEBI</p>
            </div>
        </div>
        <div class="row ml-sm-3 mr-sm-3">
            <div class="col-lg-12 col-sm-10 ml-sm-2 mr-sm-2">
                <form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="form-inline row p-0"
                      autocomplete="off">

                    <div class="col-lg-9  col-md-9 col-sm-8 col-xs-6 p-0">
                        <input type="email"
                               aria-label="false"
                               class="form-control firstInput border-0"
                               id="inputEmail"
                               placeholder="uxlead@gmail.com"
                               formControlName="email"
                               autocomplete="off">

                        <input type="password"
                               aria-label="false"
                               class="form-control secondInput border-0"
                               id="inputPassword"
                               placeholder="Password"
                               formControlName="password"
                               autocomplete="off">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 p-0">
                        <button type="submit" [disabled]="myForm.invalid" class="buttonInput">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



